<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
/**
 * Shopping cart template
 *
 * @var $block \Magento\Checkout\Block\Cart
 */

if ($block->getItemsCount()) {

	?>
<section class="main-sec">
    <div class="header-part">
        <div class="heading-top">
            <a href="javascript:window.history.back();">
                <img src="<?php echo $this->getViewFileUrl('images/left-arrow.png'); ?>">
            </a>
            <div class="heading-text">
                My Cart
            </div>
        </div>
    </div>
    <div class="container-fluid ">
        <div class="search-field-sec">
            <div class="form-group">
                <div class="serach-bar cart-search">
                    <?php 
                       echo $this->getLayout()
                      ->createBlock('Magento\Framework\View\Element\Template')
                      ->setTemplate('Magento_Search::form.mini.assistive.search.phtml')
                      ->toHtml();
                    ?>
                </div>
            </div>
        </div>
    </div>
        <?php 
            echo $block->getChildHtml('with-items');
        ?>
    <div class="fix-button-sec padding_lr_15">
        <div class="row">
            <div class="col-6">
                <div class="amount-paybil">Amount Payable<br>
                    <span><img src="<?php echo $this->getViewFileUrl('images/black-rupee-icon.png'); ?>" /><?php echo number_format((float)$block->getQuote()->getGrandTotal(), 2, '.', ''); ?></span>
                </div>
            </div>
            <div class="col-6 continue-pay-btn">
                <?php echo $this->getLayout()
                      ->createBlock('Magento\Checkout\Block\Onepage\Link')
                      ->setTemplate('Magento_Checkout::onepage/link.phtml')
                      ->toHtml();
                  ?>
                
            </div>
        </div>
    </div>
</section>
            <script>
        window.checkoutConfig = <?php /* @escapeNotVerified */ echo \Zend_Json::encode($block->getCheckoutConfig()); ?>;
    </script>
    <?php
} else {
    echo $block->getChildHtml('no-items');
}
