<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */

if(isset($_GET['option']))
$xgv=$_GET['option'];
else
$xgv="Buy";
?>
<?php $_product = $block->getProduct(); ?>

<?php 
$gscat="239";
$xstatus=0;
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');
$categories = $product->getCategoryIds(); 
foreach($categories as $category)
{
    $cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category);
   if($cat->getId()==$gscat)
    $xstatus=1;
 }

 //echo "|".$xstatus."|";
?>

<?php $buttonTitle = __('Add to Cart'); ?>
<?php if ($_product->isSaleable()): ?>
<div class="box-tocart">
    <div class="fieldset">
        <?php if ($block->shouldRenderQuantity()): ?>
        <div class="field qty">
           <input type="hidden" name="ptype" value="<?php echo $xgv ?>" id="ptype" />
       <?php       
       if($_product->getId()=="53923")
       {
       ?>

        <label class="label" for="qty"><span><?php /* @escapeNotVerified */ echo __('Enter Amount') ?></span></label>
            <div class="control">
                <input type="number"
                       name="qty"
                       id="qty"
                       maxlength="12"
                       value=""
                       title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty"
                       data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>" style="width:60px !important;"
                       />
            </div>
        <?php
        }
        else
        {
        ?>
         <label class="label" for="qty"><span><?php /* @escapeNotVerified */ echo __('Qty') ?></span></label>
            <div class="control">
                <input type="number"
                       name="qty"
                       id="qty"
                       maxlength="12"
                       value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>"
                       title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty"
                       data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                       />
            </div>
        <?php
        }
        ?>
        </div>
        <?php endif; ?>
        <div class="actions">
           <?php
       if($_product->getId()=="53923")
       {
       ?>
        <button type="submit"
                    title="<?php /* @escapeNotVerified */ echo $buttonTitle ?>"
                    class="action primary tocart"
                    id="product-addtocart-button" onclick="return submitForm();">
                <span><?php /* @escapeNotVerified */ echo $buttonTitle ?></span>
            </button>
        <?php
        }
        else
        {
        ?>
        <button type="submit"
                    title="<?php /* @escapeNotVerified */ echo $buttonTitle ?>"
                    class="action primary tocart"
                    id="product-addtocart-button">
                <span><?php /* @escapeNotVerified */ echo $buttonTitle ?></span>
            </button>
        <?php
        }
        ?>

            <?php echo $block->getChildHtml('', true) ?>
        </div>
    </div>
</div>
<?php endif; ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/product/view/validation": {
                "radioCheckboxClosest": ".nested"
            }
        }
    }
</script>
<?php if (!$block->isRedirectToCartEnabled()) : ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "catalogAddToCart": {
                "bindSubmit": false
            }
        }
    }
</script>
<?php endif; ?>

<?php if($_product->getId()=="53923") : ?>
<script>
function submitForm()
{
        var amount_fields = document.getElementById('qty').value;
    //var op_type = document.getElementById("product-addtocart-button").value;
    var op_type = document.getElementById("ptype").value;
    var cp_val = 499;
    if(op_type != "reload" )
    {
        cp_val = 999;
    }
    var max_limit = 45000;

    if(parseInt(amount_fields) > cp_val && amount_fields <= max_limit)
    {
          var amount = document.getElementById('qty').value;
          var re = /[^0-9]/g;
          if(re.test(amount))
          {
        alert("Please enter valid amount.");    
        document.getElementById('qty').focus(); 
          }
          else
          {
          //document.getElementById("options_2_text").value = amount;
          productAddToCartForm.submit(this);
          }
    }
    else
    {
         alert('Please enter value between Rs '+(cp_val+1)+' to Rs '+max_limit+'.');
         return false;
    }

}

</script>
<?php endif; ?>

<?php if($_product->getId()=="53923") : ?>
<style type="text/css">
.price-final_price{
display:none !important;
}
.product-info-stock-sku{
float:left !important;
}

.wk-zcv-zipbox{
display:none !important;
}
</style>
    <?php if($xgv!="reload") : ?>
        <style type="text/css">
        label[for="options_4_text"]
        {
          display: none !important;
        }

        label[for="options_5_text"]
        {
        display: none !important;
        }
        #product-options-wrapper{
        display:none;
        }
        </style>
    <?php endif; ?>

    <script  >
    var op_type = document.getElementById("ptype").value;

    if(op_type!="reload")
    {
       document.getElementById('product-price-53923').style.visibility='hidden';
       document.getElementById('options_4_text').disabled=true;
           document.getElementById('options_5_text').disabled=true;
       document.getElementById('options_4_text').style.visibility='hidden';
       document.getElementById('options_5_text').style.visibility='hidden';
    }
    else if(op_type=="reload")
    {
       document.getElementById('product-price-53923').style.visibility='hidden';
    }
    </script>

<?php endif; ?>







<?php if($xstatus=="1") : ?>

<style type="text/css">

.product-social-links{
 display: none !important;
}

.product-info-main{
float :left !important;
padding-left: 20px !important;
}

#product-addtocart-button{
 margin-top:-70px !important;margin-left:100px !important;
}
</style>
<?php endif; ?>

<!--21032018*/-->
<style type="text/css">
.checkoutModal {
   display: none;
}
#checkoutModal {
    background-color: #ffffff;
    border: 5px solid #c99947;
    border-radius: 0;
    bottom: 20%;
    box-shadow: none;
    left: 15%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0px !important;
    position: fixed;
    right: 15%;
    top: 45%;
    z-index: 999999;
    padding: 30px;
    max-height: 200px;
}
#product_dynamic_content{
padding:25px;
}
.closeCheckoutModal{
   position: sticky;
   top: 5px;
   margin-right: 2px;
   width: 38px;
   float: right;
   background-color: #ffffff;
   border: 1px solid #e2e2e2;
   font-weight: bold;
   padding: 5px 10px;
   text-align: center;
}
.closeCheckoutModal:hover {
   cursor: pointer;
}
#checkoutModal .messages {
   display: none;
}
.terms_conditions:hover {
   cursor: pointer;
}
.popover-wrapper a[data-role="popover"], .popover-wrapper a[data-role="popover2"] { color: #1979c3;text-decoration: none;}
.popover-modal .popover-body { overflow:hidden; padding:1em;}
</style>
<?php
$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
$connection = $resource->getConnection();
$tableName = $resource->getTableName('wk_grid_records'); //gives table name
//Select Data from table
$sql = $connection->select()->from(
         ["tn" => $tableName]
    );
$result = $connection->fetchAll($sql);
//echo "<pre>"; print_r($result); 
?>
<?php
$categoryCollection = $objectManager->get('\Magento\Catalog\Model\ResourceModel\Category\CollectionFactory');
    $productRepository = $objectManager->get('\Magento\Catalog\Model\ProductRepository');
     
    //$productId = $product_id; // YOUR PRODUCT ID

    $productId=$_product->getId();
    $product = $productRepository->getById($productId);
     
    $categoryIds = $product->getCategoryIds();
     
    $categories = $categoryCollection->create()
                                     ->addAttributeToSelect('*')
                                     ->addAttributeToFilter('entity_id', $categoryIds);
    
    $product_category_array_list = array();
    foreach ($categories as $category) 
    {
        $product_category_array_list[] = $category->getid();
    }

    $exclude_category_list = array("1179");

    $result = array_intersect($product_category_array_list, 
        $exclude_category_list);
    //print_r($product_category_array_list);
    //echo "<pre>"; print_r($result); exit;
?>


<?php
if(count($result)==0)
{
    $resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
    $connection = $resource->getConnection();
    $tableName = $resource->getTableName('wk_grid_records'); //gives table name

    //Select Data from table
    $sql = $connection->select()->from(
             ["tn" => $tableName]
        );
    $result = $connection->fetchAll($sql);
    //echo "<pre>"; print_r($result); 
    foreach ($result as $tm)
    {
        //$cont = print $tm['title'];
        ?>
        <span><img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxNCAxNSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PGRlZnM+PHBhdGggaWQ9ImEiIGQ9Ik0wIC4yNTZoMTMuOTJ2MTMuOTdIMCIvPjwvZGVmcz48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxnPjxtYXNrIGlkPSJiIiBmaWxsPSIjZmZmIj48dXNlIHhsaW5rOmhyZWY9IiNhIi8+PC9tYXNrPjxwYXRoIGQ9Ik0uMDQzLjg3NUwwIDcuMjAyYzAgLjE1NS4wNi4zMDQuMTcuNDEzbDYuMzk3IDYuNDIyYy4yNTIuMjUyLjY2LjI1Mi45MSAwbDYuMjU0LTYuMjc1Yy4yNTMtLjI1My4yNTMtLjY2MiAwLS45MTVMNy4zMzQuNDI3Yy0uMTEtLjExLS4yNTgtLjE3Mi0uNDEyLS4xN0wuNjE3LjNDLjMuMzAyLjA0Ni41NTguMDQzLjg3NSIgZmlsbD0iIzM4OGUzYyIgbWFzaz0idXJsKCNiKSIvPjwvZz48cGF0aCBkPSJNMy42MTcgNS40MTdjLS44MzcgMC0xLjUxNi0uNjgtMS41MTYtMS41MnMuNjgtMS41MjMgMS41MTctMS41MjNjLjgzOCAwIDEuNTE2LjY4MiAxLjUxNiAxLjUyMnMtLjY3OCAxLjUyLTEuNTE2IDEuNTJ6IiBmaWxsPSIjRkZGIi8+PC9nPjwvc3ZnPgo=" class="_3Amlen" data-reactid="198" width="18" height="18"></span><?php print $tm['title'];
        ?>
<input type="hidden" name="count" id="count" value="">
<?php
    $content = htmlspecialchars($tm['content']);
?>

<span class="popover-wrapper right">
  <a href="#" data-role="popover" data-target="mypopover">T&C</a>
  <div class="popover-modal mypopover">
   <div class="popover-header">
      <a href="#" data-toggle-role="close" style="float: right">×</a>
    </div>
    <div class="popover-body">
     <p><?php print $content; ?></p>
    </div>
  </div>
</span>
</br>

<?php          

    }    
}    
?>  
<?php //endif; ?>
<div id="checkoutModal" class="checkoutModal">
    <div id="closeCheckoutModal" class="closeCheckoutModal">X</div>
    <div id="product_dynamic_content"></div>
</div>


<script  >
jQuery(document).ready(function($){
jQuery('[data-role="popover"]').popover();

    });
    
    
</script>



<script  >
    function toggleCheckoutModal(product_hs_content)
    {
        //alert("product_hs_content : "+product_hs_content);
        jQuery('#product_dynamic_content').text(product_hs_content);
        jQuery('.checkoutModal').fadeToggle('slow', 'linear');
    }

    jQuery('.closeCheckoutModal').click(function()
    {
       //toggleCheckoutModal();
       jQuery('.checkoutModal').hide();
    });
</script>