<style type="text/css">
.checkoutModal {
   display: none;
}
#checkoutModal {
    background-color: #ffffff;
    border: 5px solid #c99947;
    border-radius: 0;
    bottom: 20%;
    box-shadow: none;
    left: 15%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0px !important;
    position: fixed;
    right: 15%;
    top: 45%;
    z-index: 999999;
    padding: 30px;
    max-height: 200px;
}
#product_dynamic_content{
padding:25px;
}
.closeCheckoutModal{
   position: sticky;
   top: 5px;
   margin-right: 2px;
   width: 38px;
   float: right;
   background-color: #ffffff;
   border: 1px solid #e2e2e2;
   font-weight: bold;
   padding: 5px 10px;
   text-align: center;
}
.closeCheckoutModal:hover {
   cursor: pointer;
}
#checkoutModal .messages {
   display: none;
}
.terms_conditions:hover {
   cursor: pointer;
}
</style>

<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
$connection = $resource->getConnection();
$tableName = $resource->getTableName('wk_grid_records'); //gives table name
//Select Data from table
$sql = $connection->select()->from(
         ["tn" => $tableName]
    );
$result = $connection->fetchAll($sql);
//echo "<pre>"; print_r($result); 
?>

<?php 
    $_product = $block->getProduct();

    $product_id = $_product->getId();

    $objectManager =  \Magento\Framework\App\ObjectManager::getInstance();        
    $categoryCollection = $objectManager->get('\Magento\Catalog\Model\ResourceModel\Category\CollectionFactory');
    $productRepository = $objectManager->get('\Magento\Catalog\Model\ProductRepository');
     
    $productId = $product_id; // YOUR PRODUCT ID
    $product = $productRepository->getById($productId);
     
    $categoryIds = $product->getCategoryIds();
     
    $categories = $categoryCollection->create()
                                     ->addAttributeToSelect('*')
                                     ->addAttributeToFilter('entity_id', $categoryIds);
    
    $product_category_array_list = array();
    foreach ($categories as $category) 
    {
        $product_category_array_list[] = $category->getid();
    }

    $exclude_category_list = array("11","12","14");

    $result = array_intersect($product_category_array_list, 
        $exclude_category_list);
    //print_r($product_category_array_list);
    //echo "<pre>"; print_r($result); exit;
?>

<?php $buttonTitle = __('Add to Cart'); ?>
<?php if ($_product->isSaleable()): ?>
<div class="box-tocart">
    <div class="fieldset">
        <?php if ($block->shouldRenderQuantity()): ?>
        <div class="field qty">
            <label class="label" for="qty"><span><?php /* @escapeNotVerified */ echo __('Qty') ?></span></label>
            <div class="control">
                <input type="number"
                       name="qty"
                       id="qty"
                       maxlength="12"
                       value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>"
                       title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty"
                       data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                       />
            </div>
        </div>
        <!-- Custom Input Field -->
        <!--<div>
            <input
                type="text"
                name="remarks"
                id="remarks"
                maxlength="255"
                placeholder="Please enter your name"
            />
        </div>-->
        <!-- Custom Input Field -->
        <br>
        <?php endif; ?>
        <div class="actions">
            <button type="submit"
                    title="<?php /* @escapeNotVerified */ echo $buttonTitle ?>"
                    class="action primary tocart"
                    id="product-addtocart-button">
                <span><?php /* @escapeNotVerified */ echo $buttonTitle ?></span>
            </button>
            <?php echo $block->getChildHtml('', true) ?>
        </div>



    </div>
</div>
<?php endif; ?>



<?php
if(count($result)==0)
{
    $resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
    $connection = $resource->getConnection();
    $tableName = $resource->getTableName('wk_grid_records'); //gives table name

    //Select Data from table
    $sql = $connection->select()->from(
             ["tn" => $tableName]
        );
    $result = $connection->fetchAll($sql);
    //echo "<pre>"; print_r($result); 
    foreach ($result as $tm)
    {
        //$cont = print $tm['title'];
        ?>
        <span><img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxNCAxNSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PGRlZnM+PHBhdGggaWQ9ImEiIGQ9Ik0wIC4yNTZoMTMuOTJ2MTMuOTdIMCIvPjwvZGVmcz48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxnPjxtYXNrIGlkPSJiIiBmaWxsPSIjZmZmIj48dXNlIHhsaW5rOmhyZWY9IiNhIi8+PC9tYXNrPjxwYXRoIGQ9Ik0uMDQzLjg3NUwwIDcuMjAyYzAgLjE1NS4wNi4zMDQuMTcuNDEzbDYuMzk3IDYuNDIyYy4yNTIuMjUyLjY2LjI1Mi45MSAwbDYuMjU0LTYuMjc1Yy4yNTMtLjI1My4yNTMtLjY2MiAwLS45MTVMNy4zMzQuNDI3Yy0uMTEtLjExLS4yNTgtLjE3Mi0uNDEyLS4xN0wuNjE3LjNDLjMuMzAyLjA0Ni41NTguMDQzLjg3NSIgZmlsbD0iIzM4OGUzYyIgbWFzaz0idXJsKCNiKSIvPjwvZz48cGF0aCBkPSJNMy42MTcgNS40MTdjLS44MzcgMC0xLjUxNi0uNjgtMS41MTYtMS41MnMuNjgtMS41MjMgMS41MTctMS41MjNjLjgzOCAwIDEuNTE2LjY4MiAxLjUxNiAxLjUyMnMtLjY3OCAxLjUyLTEuNTE2IDEuNTJ6IiBmaWxsPSIjRkZGIi8+PC9nPjwvc3ZnPgo=" class="_3Amlen" data-reactid="198" width="18" height="18"></span><?php print $tm['title'];
        ?>
<input type="hidden" name="count" id="count" value="">
<?php
    $content = htmlspecialchars($tm['content']);
?>
                <span data-toggle="popover-x" data-target="#myPopover" data-placement="bottom bottom-left">T&C</span>
                <div id="myPopover" class="popover popover-x popover-default">
                    <div class="arrow"></div>
                    <h3 class="popover-header popover-title"><span class="close pull-right" data-dismiss="popover-x">&times;</span></h3>
                    <div class="popover-body popover-content">
                        <?php print $content; ?>
                    </div>
                </div>
                
                
                
                
                </br>
</br>

<?php          

    }    
}    
?>  

<div id="checkoutModal" class="checkoutModal">
    <div id="closeCheckoutModal" class="closeCheckoutModal">X</div>
    <div id="product_dynamic_content"></div>
</div>







<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/product/view/validation": {
                "radioCheckboxClosest": ".nested"
            }
        }
    }
</script>
<?php if (!$block->isRedirectToCartEnabled()) : ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "catalogAddToCart": {
                "bindSubmit": false
            }
        }
    }
</script>

<?php endif; ?>

<script type="text/javascript">
    function toggleCheckoutModal(product_hs_content)
    {
        //alert("product_hs_content : "+product_hs_content);
        jQuery('#product_dynamic_content').text(product_hs_content);
        jQuery('.checkoutModal').fadeToggle('slow', 'linear');
    }

    jQuery('.closeCheckoutModal').click(function()
    {
       //toggleCheckoutModal();
       jQuery('.checkoutModal').hide();
    });
</script>