/*
* @Author: zerokool - Nguyen Huu Tien
* @Date:   2015-07-19 22:26:44
* @Last Modified by:   zero
* @Last Modified time: 2015-07-29 11:37:23
*/
.jquery-slider-wrapper img {
    width: 100%;
    height: 100%;
}
.jquery-slider-wrapper .jquery-slider-slide {
	height: 100%;
}
.magestore-bannerslider-standard img {
	cursor: pointer;
}
.magestore-bannerslide-flex-slider .flex-control-nav img{
	width: 300px;
	height: 150px;
}

.flexslider-carousel .slides img{
	height: 131px;
}

/* .flexslider-content-image .slides img{
    height: 650px;
} */

.magestore-bannerslider-standard {
	width: 100%;
}
/*
@media only screen and (max-width: 768px) {
    .magestore-bannerslider-standard {
    	width: 768px;
    }
}

@media only screen and (max-width: 360px){
    .magestore-bannerslider-standard {
    	width: 290px;
    }
}

.magestore-bannerslide-flex-slider ul.slides {
	height: 100%;
}
.magestore-bannerslide-flex-slider ul.slides img {
	width: 100%;
	height: 100%;
}*/
