<?php if(isset($_SESSION["pincheck"])){
    unset($_SESSION["pincheck"]);
}?>
<section>
    <div class="header-part">
        <div class="heading-top">
            <a href="<?php /* @escapeNotVerified */ echo $block->getUrl(); ?>">
                <img src="<?php echo $this->getViewFileUrl('images/left-arrow.png'); ?>">
            </a>
            <div class="heading-text">
                <?php /* @escapeNotVerified */ echo __('Order Success'); ?>
            </div>
        </div>
    </div>
    <?php /** @var $block \Vendor\Module\Block\Success */ ?>
    <div class="container-fluid">
        <div class="payment-success-sec">
            <?php if ($block->getOrderId()):?>
            <div class="white-box payment-success-box">
                <div class="payment-green">
                    <img src="<?php echo $this->getViewFileUrl('images/green-check.png'); ?>">
                </div>
                <div class="success-heading"><?php /* @escapeNotVerified */ echo __('Order Place Successful!'); ?></div>
                <div class="success-heading grey-heading"><?php /* @escapeNotVerified */ echo __('Thank you for Placing Order'); ?></div>
                <?php if ($block->getCanViewOrder()) :?>
                    <div class="order-id"><?php echo __('Your order number is: %1.', sprintf('<a href="%s" class="order-number"><strong>%s</strong></a>', $block->escapeHtml($block->getViewOrderUrl()), $block->escapeHtml($block->getOrderId()))) ?></div>
                <?php  else :?>
                    <div class="order-id"><?php echo __('Your order # is: <span>%1</span>.', $block->escapeHtml($block->getOrderId())) ?></div>
                <?php endif;?>
                <div class="text-center">
                    <a href="<?php echo $block->getViewOrderUrl();?>" class="green-button"><?php /* @escapeNotVerified */ echo __('Track your Order'); ?></a>
                </div>
            </div>
            <?php endif;?>
            <?php echo $block->getAdditionalInfoHtml() ?>
            <div class="apply-coupon-box continue-shopping-box padding_top20">
                <a href="<?php /* @escapeNotVerified */ echo $block->getUrl(); ?>" class="white-box">
                    <img src="<?php echo $this->getViewFileUrl('images/cart-icon.png'); ?>" width="30"> <?php /* @escapeNotVerified */ echo __('Continue Shopping') ?>
                    <img class="pull-right" src="<?php echo $this->getViewFileUrl('images/black-right-arrow.png'); ?>">
                </a>
            </div>
        </div>
    </div>
</section>
<!--Feedback Form Starts on 23022018 -->
<script>
require([ 'jquery', 'jquery/ui'], function($){
    jQuery(document).ready(function(){
     localStorage.removeItem("guest_contact");
     localStorage.removeItem("upload_presc");
     });
})
    require([
        "jquery",
        "Magento_Ui/js/modal/modal"
    ], function($, modal){
        var options = {
            type: 'popup',
            responsive: true,
            innerScroll: true,
            modalClass:'order-mobile-feedback',
            title: "Feedback", //write your popup title 
            buttons: [{
                //text: $.mage.__('Submit'),
                //class: 'button',
                click: function () {
                    //alert("here");
                    //return false;
                    //console.log('Do something here......');
                    // Do something here........
                }
            }]
        };
        var popupdata = $('<div />').append($('#formdiv'));
        modal(options, popupdata);
        popupdata.modal('openModal');
    
    });
</script>  
<!--Feedback Form Ends on 26022018 -->