<?php
if(isset($_GET['option']))
$xgv=$_GET['option'];
else
$xgv="Buy";
?>
<?php $_product = $block->getProduct(); ?>
<?php $buttonTitle = __('Add to Cart'); ?>
<?php if ($_product->isSaleable()): ?>
  <div class="fix-button-sec padding_lr_15">
      <input type="hidden" name="ptype" value="<?php echo $xgv ?>" id="ptype" />
      <input type="hidden" name="qty" id="qty" maxlength="12" value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>" class="qty jq_update_qty" data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"/>
      <div class="control">
        <div class="row">
            <div class="col-6 text-center padding_right7">
                 <button type="submit" title="<?php /* @escapeNotVerified */ echo $buttonTitle ?>" class="btn btn-block cancel-btn" id="product-addtocart-button"><?php /* @escapeNotVerified */ echo $buttonTitle ?></button>
                  <?php echo $block->getChildHtml('', true) ?>
            </div>
            <div class="col-6 padding_left7">
                <button type="submit" title="<?php /* @escapeNotVerified */ echo __('Buy Now') ?>" id="buy-now" class="action buynow btn btn-primary btn-block green-button apply-btn" data-mage-init='
                {
                  "Apollo_BuyNow/js/buy-now": {
                      "form": "#product_addtocart_form"
                  }
                }
                '>
                <?php /* @escapeNotVerified */ echo __('Buy Now') ?>
                </button>
            </div>
        </div>
      </div>
  </div>
<?php endif; ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/product/view/validation": {
                "radioCheckboxClosest": ".nested"
            }
        }
    }
</script>
<?php if (!$block->isRedirectToCartEnabled()) : ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "catalogAddToCart": {
                "bindSubmit": true
            }
        }
    }
</script>
<?php endif; ?>