<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product description template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Description
 */
?>
<?php if(!empty($block->getProduct()->getDescription())) { ?>
<div class="rows padding_tb20">
	<div class="main-heading padding_bottom10">Product Information</div>
	<div class="white-box product-information-box">
	  <p>
	    <?php 
	    $description_count = strlen($block->getProduct()->getDescription());
	    if($description_count > 350) {
	        echo '<span class="jq_dot_description_'.$block->getProduct()->getId().'">'.nl2br(substr(strip_tags($block->getProduct()->getDescription()),0,330)).'...<a href="javascript:void(0)" class="readmore jq_view_description" id_description="'.$block->getProduct()->getId().'" title="" data-original-title="More"><strong>More</strong></a></span>';
	        //echo '<a href="javascript:void(0)" class="readmore jq_view_description" id_description="'.$block->getProduct()->getId().'" title="" data-original-title="More"><strong>More</strong></a>';
	        echo '<span style="display:none" class="jq_view_description_'.$block->getProduct()->getId().'">'.nl2br(strip_tags($block->getProduct()->getDescription())).'&nbsp;<a href="javascript:void(0)" class="readmore jq_hide_description" id_description="'.$block->getProduct()->getId().'" title="" data-original-title="Less"><strong>Less</strong></a></span>';
	    } else {
	        echo nl2br($block->getProduct()->getDescription());
	    } ?>
	  </p>
	</div>
</div>
<script>
	(function(){
		require(['jquery'], function($) {
			$(document).ready(function () {
                $('.jq_view_description').click(function() {
                    var id_description = $(this).attr('id_description');
                    $(this).hide();
                    $('.jq_dot_description_'+id_description).hide();
                    $('.jq_view_description_'+id_description).show();
                });
                $('.jq_hide_description').click(function() {
                    var id_description = $(this).attr('id_description');
                    $('.jq_dot_description_'+id_description).show();
                    $('.jq_view_description_'+id_description).hide();
                    $('.jq_view_description').each(function() {
                        if($(this).attr('id_description') == id_description) {
                            $(this).show();
                        }
                    });
                });
        	});
		});
	})();
</script>
<?php } ?>
<?php /* @escapeNotVerified */ //echo $this->helper('Magento\Catalog\Helper\Output')->productAttribute($block->getProduct(), $block->getProduct()->getDescription(), 'description') ?>
