<?php 
$_product = $block->getProduct();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$product = $objectManager->create('Magento\Catalog\Model\Product')->load($_product->getId()); 
$helperImport = $objectManager->get('\Magento\Catalog\Helper\Image');       
$images = $product->getMediaGalleryImages();
$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
$connection = $resource->getConnection();
/*r_drugs*/
$tableName = $resource->getTableName('r_drugs');
$drugnx=$_product->getSku();
$sql="select distinct manufacturer,drug,drugid,COMPOSITION,doseform,SUB_DOSEFORM,roa,PACKSIZE from ".$tableName." where drugid='".$drugnx."'";
$result = $connection->fetchAll($sql);
$mf = $cp = $df = $dg = $roa = $ps = $sdf = "";
if(count($result)>0) {
  $mf=$result[0]['manufacturer'];
  $cp=$result[0]['COMPOSITION'];
  $df=$result[0]['doseform'];
  $dg=$result[0]['drug'];
  $roa=$result[0]['roa'];
  $ps=$result[0]['PACKSIZE'];
  $sdf=$result[0]['SUB_DOSEFORM'];
  $cing=$result[0]['COMPOSITION'];
  $rcing=explode("+",$cing);
}
if(isset($rcing)) {
//substitute drugs
$sqlsubd="select * from r_drugs where COMPOSITION='".$cp."'";
$resultsubd = $connection->fetchAll($sqlsubd);
?>
<div class="rows padding_top20">
	<div class="main-heading padding_lr20">Substitute Drugs <!-- <a href="#" class="pull-right">VIEW ALL</a> --></div>
	<div class="two-item-slider flexslider thumbnail-tab">
	  	<ul class="slides">
		    <?php
		    $x = 0;
		    foreach($resultsubd as $subd) {
		    $sk = $subd['drugid'];
		    $pn = "";
		    $productd = $objectManager->create('Magento\Catalog\Model\Product')->loadByAttribute('sku',$sk);
		    if($productd) {  
		      $pn = $productd->getName();
		      $xurlb = strtolower(str_replace("'","-",$pn));
		      $xurl = strtolower(str_replace(" ","-",$xurlb));
		      $xurl .=".html";
		    } else {
		      $xurl="#";
		    }

		    if($x == 0) {
		      $xcolor = "#f2f2f2;";
		      $x = 1;
		    } else {
		      $xcolor = "#ffffff;";
		      $x = 0;
		    }

		    $imageUrl = $helperImport->init($productd, 'product_page_image_thumbnail')
		    ->setImageFile($product->getSmallImage()) // image,small_image,thumbnail
		    ->resize(380)
		    ->getUrl();
		    ?>
		    <li>
		      <a href="<?php echo $xurl?>">
		        <div class="item">
		            <div class="white-box">
		                <div class="cat-icon">
		                  <?php if (@getimagesize($imageUrl)) { ?>
		                    <img src="<?php echo $imageUrl; ?>"/>
		                  <?php }  else { ?>
		                    <img src="<?php echo $this->getViewFileUrl('images/placeholder_1.jpg'); ?>" />
		                  <?php } ?>
		                </div>
		                <div class="product-name"><?php echo ucfirst($subd['drug']); ?></div>
		                <div class="product-price green-text">₹<?php echo $subd['mrp']*$subd['PACKSIZE']; ?></div>
		            </div>
		        </div>
		      </a>
		    </li>
		    <?php } ?>
		</ul>
	</div>
</div>
<div class="rows padding_lr20 padding_top10 padding_bottom20">
    <div class="main-heading padding_bottom10">Product Information</div>
    <div class="w3-bar information-tabs">
      <button class="w3-bar-item w3-button active" onclick="openPO(event,'overview')">Overview</button>
      <button class="w3-bar-item w3-button" onclick="openPO(event,'sideeffects')">Side Effects</button>
      <button class="w3-bar-item w3-button" onclick="openPO(event,'usage')">Usage</button>
      <button class="w3-bar-item w3-button" onclick="openPO(event,'precautions')">Precautions</button>
      <button class="w3-bar-item w3-button" onclick="openPO(event,'drugwarnings')">Drug Warnings</button>
      <button class="w3-bar-item w3-button" onclick="openPO(event,'storage')">Storage</button>
    </div>
	<?php
		foreach ($rcing as $ingr) {
        $comp = explode("-", $ingr);
        $ig = $comp[0];
        $sd = $sdf;
        $sqldi = "select * from drug_information where ingredientname='" . $ig . "' and sub_doseform ='" . $sd . "'";
        $resultdi = @$connection->fetchAll($sqldi);
        $sqlal = "select * from drug_alert where ingredientname='" . $ig . "' and sub_doseform='" . $sd . "'";
        $resultal = $connection->fetchAll($sqlal);
        $sqldp = "select * from drug_precautions where ingredientname='" . $ig . "' and sub_doseform='" . $sd . "'";
        $resultdp = $connection->fetchAll($sqldp);
        $sqldc = "select * from drug_consumption where ingredientname='" . $ig . "' and sub_doseform='" . $sd . "'";
        $resultdc = $connection->fetchAll($sqldc);
        $sqlse = "select * from drug_side_effects where ingredientname='" . $ig . "' and sub_doseform='" . $sd . "'";
        $resultse = $connection->fetchAll($sqlse);
        $sqlst = "select * from drug_storage where ingredientname='" . $ig . "' and sub_doseform='" . $sd . "'";
        $resultst = $connection->fetchAll($sqlst);
    ?>
    <!--Overview-->
    <div id="overview" class="white-box product-information-box drugtab">
      <p> 
        <?php echo isset($resultdi[0]['Druginformation'])?$resultdi[0]['Druginformation']:'No information available.'; ?>
      </p>
    </div>
    <!--Side Effects-->
    <div id="sideeffects" class="white-box product-information-box drugtab" style="display:none">
      <p>
        <?php echo isset($resultse[0]['generalinfo'])?nl2br($resultse[0]['generalinfo']):'No information available.'; ?>
      </p>
    </div>
    <!--Usage-->
    <div id="usage" class="white-box product-information-box drugtab" style="display:none">
      <p> 
        <?php echo isset($resultdc[0]['DrugDose'])?nl2br($resultdc[0]['DrugDose']):'No information available.'; ?>
      </p>
    </div> 
    <!--Precautions-->
    <div id="precautions" class="white-box product-information-box drugtab" style="display:none">
      <p>
        <?php echo isset($resultdp[0]['AvoidDrug'])?nl2br($resultdp[0]['AvoidDrug']):'No information available.'; ?>
      </p>
    </div>  
    <!--Drug Warnings-->
    <div id="drugwarnings" class="white-box product-information-box drugtab" style="display:none">
      <p> 
        <?php 
        	echo isset($resultdp[0]['DrugPregnancyInteraction'])?"Pregnancy: ".nl2br($resultdp[0]['DrugPregnancyInteraction']):'Pregnancy: -';
        	echo '<br/>';
            echo isset($resultdp[0]['DrugSpecialCare'])?"Special Care: ".nl2br($resultdp[0]['DrugSpecialCare']):'Special Care: -';
            echo '<br/>';
            echo isset($resultdp[0]['DrugMachineryInteraction'])?"Driving: ".nl2br($resultdp[0]['DrugMachineryInteraction']):'Driving: -';
        ?>                        
      </p>
    </div>
    <!--Storage-->
    <div id="storage" class="white-box product-information-box drugtab" style="display:none">
      <p> 
        <?php echo isset($resultst[0]['DrugStorage'])?nl2br($resultst[0]['DrugStorage']):'No information available.'; ?>
      </p>
    </div>
  <?php } ?>
</div>
<script>
  function openPO(evt,drugtab) {
    var i, tablinks;
    var x = document.getElementsByClassName("drugtab");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none"; 
    }
    tablinks = document.getElementsByClassName("w3-bar-item w3-button");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(drugtab).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>
<?php } ?>