<!-- here you can get block class object by "$this" or "$block"  -->
<!-- here i'll use "$block" for get block object -->
<?php 
$cuy = $block->getLayout()->createBlock('Retail\Subscribe\Block\Rewrite\Customer\Account\Customer');
$product= $block->getLayout()->createBlock('Retail\Subscribe\Block\Product');
$cust_id = $cuy->getLoggedinCustomerId();
$blo = $block->getLayout()->createBlock('Retail\Subscribe\Block\Index\Index');
$_gridrecords = $blo->getTableData();// get collection which we set in block class 

if ($_gridrecords && count($_gridrecords)): ?>
    <div class="table-wrapper orders-history">
        <table class="data table table-order-items history" id="product-subscription-table">
            <caption class="table-caption"><?php echo __('Subscribed Products') ?></caption>
            <thead>
                <tr>
                                <th scope="col" class="col no"><?php echo __('No.') ?></th>
                                <th scope="col" class="col name"><?php echo __('Product Name') ?></th>
                                <th scope="col" class="col period"><?php echo __('Subscription period') ?></th>
                                <th scope="col" class="col qty"><?php echo __('Quantity') ?></th>
                                <th scope="col" class="col start"><?php echo __('Start Date') ?></th>
                                <th scope="col" class="col end"><?php echo __('End Date') ?></th>
                                <th scope="col" class="col option"><?php echo __('Option') ?></th>
                                <th scope="col" class="col ">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <?php  // read collection as magento1.x and display in list 
                       foreach ($_gridrecords as $_gridrecord): ?>
                 <?php if($_gridrecord['customer_id'] == $cust_id && $_gridrecord['start_date']!= ""){ 
                             $prod_obj =$product->getProduct($_gridrecord['product_id']);
                              $prod_url = $prod_obj->getProductUrl();
                        	?>
                    <tr>
                        <td class="col no">#</td>
                        <td class="col name"><?php echo $prod_obj->getName() ?></td>
                        <td class="col period"><?php echo $_gridrecord['sub_period']." Months" ?></td>
                        <td class="col qty"><?php echo $_gridrecord['qty'] ?></td>
                        <td class="col start"><?php echo $_gridrecord['start_date'] ?></td>
                        <td class="col end"><?php echo $_gridrecord['end_date'] ?></td>
                        <td class="col option"><button>
                        
                        <?php if($_gridrecord['flag']==0){
                    echo "<a href=".$prod_url.">Subscribe</a>";
                            }elseif($_gridrecord['flag']==1){
                    echo "<a href=".$this->getUrl('subscribe/grid/index')."?id=".$_gridrecord['product_id'].">Unsubscribe</a>";
                            }
                         ?>
                        </a></button></td>
                    </tr>
                    <?php } ?>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>
    <?php if ($block->getPagerHtml()): ?>
        <div class="order-products-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); // for display pager block which we create in block file.   ?></div>
    <?php endif ?>
<?php else: ?>
    <div class="message info empty"><span><?php echo __('grid records not available.'); ?></span></div>
<?php endif ?>