<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>

<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$helper = $objectManager->get('Apollo\Cartrule\Helper\Data');

?>


<?php if ($block->isPossibleOnepageCheckout() && $helper->getIsCheckoutPossible()):?>
    <button type="button <?php /* @escapeNotVerified */ echo $block->getCheckoutUrl(); ?>"
            data-role="proceed-to-checkout"
            title="<?php /* @escapeNotVerified */ echo __('Proceed to Checkout') ?>"
            data-mage-init='{"Magento_Checkout/js/proceed-to-checkout":{"checkoutUrl":"<?php /* @escapeNotVerified */ echo $block->getCheckoutUrl(); ?>"}}'
            class="action checkout<?php echo($block->isDisabled()) ? ' disabled' : ''; ?> btn btn-primary btn-block green-button"
            <?php if ($block->isDisabled()):?>disabled="disabled"<?php endif; ?>>
        <span><?php /* @escapeNotVerified */ echo __('Continue') ?></span>
    </button>
<?php else:?>
	<button type="button" id="click-me"            
            title="<?php /* @escapeNotVerified */ echo __('Proceed to Checkout') ?>"            
            class="action checkout<?php echo($block->isDisabled()) ? ' disabled' : ''; ?> btn btn-primary btn-block green-button"
            <?php if ($block->isDisabled()):?>disabled="disabled"<?php endif; ?>>
        <span><?php /* @escapeNotVerified */ echo __('Continue') ?></span>
    </button>
<?php endif?>
<div id="popup-mpdal" style="display:none;">
    <h1>Cart value has to be more than 200 rupees</h1>
</div>

<script>
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal'
        ],
        function(
            $,
            modal
        ) {

            $(document).ready(function($) {
                /*$(".green-button").on("click", function(){

                    window.location = '<?php /* @escapeNotVerified */ echo $block->getCheckoutUrl(); ?>';
                });*/
            });
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: true,
                title: 'Cart value is not enough',
                buttons: [{
                    text: $.mage.__('Continue'),
                    class: '',
                    click: function () {
                        this.closeModal();
                    }
                }]
            };

            var popup = modal(options, $('#popup-mpdal'));
            $("#click-me").on('click',function(){ 
                $("#popup-mpdal").modal("openModal");
            });

        }
    );
</script>
