<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var $block \Magento\Review\Block\Form
 */
?>
<!-- Auto fill review form for logged customer code starts here -->
<?php 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->create('Magento\Customer\Model\Session');
$name="";
$email="";
$mobile="";

if ($customerSession->isLoggedIn()) {
    $name = $customerSession->getCustomer()->getName();
    $email = $customerSession->getCustomer()->getEmail();
    $mobile = $customerSession->getCustomer()->getData('mobile_number');
}
?>
<!-- Auto fill review form for logged customer code ends here -->
<div class="block review-add jq_review_box" style="display: none;">
    <div class="block-title"><strong><?php /* @escapeNotVerified */ echo __('Write Your Own Review') ?></strong></div>
<div class="block-content">
<?php if ($block->getAllowWriteReviewFlag()): ?>
<form action="<?php /* @escapeNotVerified */ echo $block->getAction() ?>" class="custom-form form-inner review-form" method="post" id="review-form" data-role="product-review-form" data-bind="scope: 'review-form'">
    <?php echo $block->getBlockHtml('formkey'); ?>
    <?php echo $block->getChildHtml('form_fields_before')?>
    <div class="fieldset review-fieldset" data-hasrequired="<?php __('* Required Fields'); ?>">
        <div class="main-heading padding_bottom10">
            <?php /* @escapeNotVerified */ echo __("You're reviewing:"); ?>
            </div>
            <div class="white-box rows">
                <strong class="font-15"><?php echo $block->escapeHtml($block->getProductInfo()->getName()) ?></strong>
                <?php if ($block->getRatings() && $block->getRatings()->getSize()): ?>
                <span id="input-message-box"></span>
                <fieldset class="field required review-field-ratings col-12">
                    <legend class="label"><span><?php /* @escapeNotVerified */ echo __('Your Rating') ?><span></legend>
                    <div class="control margin-left-6">
                        <div class="nested" id="product-review-table">
                            <?php foreach ($block->getRatings() as $_rating): ?>
                                <div class="field choice review-field-rating">
                                   <!--  <label class="label" id="<?php echo $block->escapeHtml($_rating->getRatingCode()) ?>_rating_label"><span><?php echo $block->escapeHtml($_rating->getRatingCode()) ?></span></label> -->
                                    <div class="control review-control-vote">
                                    <?php $options = $_rating->getOptions();?>
                                    <?php $iterator = 1; foreach ($options as $_option): ?>
                                        <input
                                            type="radio"
                                            name="ratings[<?php /* @escapeNotVerified */ echo $_rating->getId() ?>]"
                                            id="<?php echo $block->escapeHtml($_rating->getRatingCode()) ?>_<?php /* @escapeNotVerified */ echo $_option->getValue() ?>"
                                            value="<?php /* @escapeNotVerified */ echo $_option->getId() ?>"
                                            class="radio"
                                            data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}"
                                            aria-labelledby="<?php echo $block->escapeHtml($_rating->getRatingCode()) ?>_rating_label <?php echo $block->escapeHtml($_rating->getRatingCode()) ?>_<?php /* @escapeNotVerified */ echo $_option->getValue() ?>_label" />
                                        <label
                                            class="rating-<?php /* @escapeNotVerified */ echo $iterator; ?>"
                                            for="<?php echo $block->escapeHtml($_rating->getRatingCode()) ?>_<?php /* @escapeNotVerified */ echo $_option->getValue() ?>"
                                            title="<?php /* @escapeNotVerified */ echo __('%1 %2', $iterator, $iterator > 1 ? 'stars' : 'star') ?>"
                                            id="<?php echo $block->escapeHtml($_rating->getRatingCode()) ?>_<?php /* @escapeNotVerified */ echo $_option->getValue() ?>_label">
                                            <span><?php /* @escapeNotVerified */ echo __('%1 %2', $iterator, $iterator > 1 ? 'stars' : 'star') ?></span>
                                        </label>
                                    <?php $iterator++; ?>
                                    <?php endforeach; ?>
                                    </div>
                                </div>
                            <?php endforeach; ?>
                        </div>
                        <input type="hidden" name="validate_rating" class="validate-rating" value="" />
                    </div>
                </fieldset>
                <?php endif ?>
                <div class="padding_top20">
                    <div class="row">
                        <div class="field review-field-nickname required col-6">
                            <div class="control">
                                <input type="text" name="nickname" placeholder="<?php /* @escapeNotVerified */ echo __('Name') ?>" id="nickname_field" class="input-text form-control" value="<?php echo $name; ?>" data-validate="{required:true}" data-bind="value: nickname()" />
                            </div>
                        </div>
                        <div class="field review-field-summary required  col-6">
                            <div class="control">
                                <input type="text" name="title" id="summary_field" placeholder="<?php /* @escapeNotVerified */ echo __('Summary') ?>" class="input-text form-control" data-validate="{required:true}" data-bind="value: review().title" />
                            </div>
                        </div>
                        <!--Add Email
                        <div class="field review-field-email required">
                            <label for="email_field" class="label"><span><?php /* @escapeNotVerified */ //echo __('Email') ?></span>
                            </label>
                            <div class="control">
                                <input type="text" name="email_review" id="email_field" class="input-text form-control" data-validate="{required:true}" data-bind="value: email_review()" />
                            </div>
                        </div>-->
                        <!--Add Email-->
                        <div class="field review-field-email required  col-6">
                            <div class="control">
                                <input type="text" name="email" id="email_field" placeholder="<?php /* @escapeNotVerified */ echo __('Email') ?>" value="<?php echo $email; ?>" class="input-text form-control" data-validate="{required:true, 'validate-email':true}" data-bind="value: email()" />
                            </div>
                        </div>
                        <!--END Email-->
                        <!--Add Mobile Number-->
                         <div class="field review-field-mobile  col-6">
                                    <div class="control">
                                        <input type="text" name="mobile" id="mobile_field" placeholder="<?php /* @escapeNotVerified */ echo __('Mobile Number') ?>" value="<?php echo $mobile; ?>" class="input-text form-control" data-validate="{required:false, 'validate-number':true}" data-bind="value: mobile()" />
                                    </div>
                                </div>
                        <!--End Mobile Number-->
                        <div class="field review-field-text required  col-12 margin_top10">
                            <div class="control">
                                <textarea name="detail" id="review_field" placeholder="<?php /* @escapeNotVerified */ echo __('Review') ?>" cols="5" rows="3" data-validate="{required:true}" data-bind="value: review().detail" class="form-control" resize-"none"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <?php echo $block->getChildHtml('form.additional.info'); ?>
                <div class="actions-toolbar review-form-actions review-form-btn padding_left0 padding_bottom10 text-center">
                        <button type="submit" class="btn green-button action"><?php /* @escapeNotVerified */ echo __('Submit Review') ?></button> 
            </div>
            </div>
             </div>
</form>
<script type="text/x-magento-init">
{
    "#review-form": {
        "Magento_Review/js/error-placement": {}
    }
}
</script>
<?php else: ?>
    <div class="message info notlogged" id="review-form">
        <div>
            <?php /* @escapeNotVerified */ echo __('Only registered users can write reviews. Please <a href="%1">Sign in</a> or <a href="%2">create an account</a>', $block->getLoginLink(), $block->getRegisterUrl()) ?>
        </div>
    </div>
<?php endif ?>
</div>
</div>