<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<style>
.address-hidden{display: none;}
.address-hidden:not(:empty) + .localitypincode-value{display: block;}
.localitypincode-value {
    border: 1px solid #bfbfbf;
    margin-bottom: 15px;
    padding: 5px;
    display: none;
}

.localitypincode-selector {
    float: left;
    width: 20px;
    padding: 4px 5px;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 50%;
    color: #a5a5a5;
    height: 20px;
    line-height: 10px;
    cursor: pointer;
}

.localitypincode-address {
    float: right;
    width: 92%;
}

.localitypincode-value::after, .localitypincode-value::before {
    display: block;
    content: '';
    clear: both;
}

</style>  
<?php /* @escapeNotVerified */ echo $block->getMiscellaneousHtml();?>

<?php
$city_val = "";
$term_val = "";
$pcasession_val = "";
$selected_storename = "";
$skip_and_explore = "";

if(isset($_SESSION["city_val"]))
{
    $city_val = $_SESSION["city_val"];
}

if(isset($_SESSION["term_val"]))
{
    $term_val = $_SESSION["term_val"];
}

if(isset($_SESSION["pcasession_val"]))
{
    $pcasession_val = $_SESSION["pcasession_val"];
}
if(isset($_SESSION["selected_storename"]))
{
    $selected_storename = $_SESSION["selected_storename"];
}
if(isset($_SESSION["skip_and_explore"]))
{
    $skip_and_explore = $_SESSION["skip_and_explore"];
}
//To find the current page
try
{
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $request = $objectManager->get('Magento\Framework\App\Action\Context')->getRequest();
    $currentPageXML = $request->getFullActionName();
    $storeManager = $objectManager->create('Magento\Store\Model\StoreManagerInterface');
    $applicationUrl = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);
    $checkoutSession = $objectManager->get('Magento\Checkout\Model\Session');
    $pincodesession = $checkoutSession->getPincodesession();
    //print $currentPageXML; exit;
}
catch(Exception $e){}
?>

<div id="popup-modal" class="service-locate" style="display:none;">
    <p>Enter the pincode where you wish to receive delivery or Store Pickup</p>
    <div class="infoHighlight margin-t-20 bounceIn animated delay05s" id="codhome">
        <i class="fa fa-info-circle"></i>
        Home Delivery &amp; Store Pickup available<br>
    </div>
    <p></p>
    <form id="localityform" method="post" name="localityform"  data-hasrequired="<?php echo __('* Required Fields') ?>" data-mage-init='{"validation":{}}'>


        <div class="select-pinconde">
            <div class="locality_loading" style="display: none"><img alt="ajax-loader" src="<?php echo $applicationUrl; ?>pub/static/frontend/Magento/luma/en_US/JakeSharp_Productslider/css/ajax-loader.gif"></div>
            
            <input class="localitypincode-choosen" 
                   type="text" 
                   placeholder="Enter Locality/Pincode"
                   data-validate="{required:true}"  />

            <input id="localitypincode" 
                   name="localitypincode" 
                   type="hidden"
                   value="<?php print $pcasession_val; ?>" 
                   data-validate="{required:true}"  />
        
            <!-- hidden element to fetch locality pincode information-->
            <div class="localitypincode-address address-hidden"><?php echo $pcasession_val; ?></div>
            <div class="localitypincode-value">
                <div class="localitypincode-selector">X</div>
                <div class="localitypincode-address"><?php echo $pcasession_val; ?></div>
            </div>

        </div>
        <input id="popupcity" name="popupcity" type="text" placeholder="Enter City" value="<?php print $city_val; ?>" readonly="readonly" data-validate="{required:true}" />
        <p class="size-10 color-grey margin-t-5">Top selling cities:
            <span>BANGALORE,</span><span>CHENNAI,</span><span>DELHI-NCR,</span><span>HYDERABAD,</span><span>KOLKATA</span>
        </p>
        <div id="localitypincode_response"></div>
        <input type="hidden" value="<?php echo $applicationUrl; ?>" id="application_url">
        <input id="locality_name" name="locality_name" type="hidden" value="" />
        <input id="pincodesession" name="pincodesession" type="hidden" value="<?php echo $pincodesession; ?>" />
        <input id="pcasession" name="pcasession" type="hidden" value="<?php echo $pcasession_val; ?>" />
        <input id="selected_storename" name="selected_storename" type="hidden" value="<?php echo $selected_storename; ?>" />
        <input id="skip_and_explore" name="skip_and_explore" type="hidden" value="<?php echo $skip_and_explore; ?>" />
    </form>
    <p>I am looking for information only <a class="skip_and_explore modal-close-btn" data-role="closeBtn">Skip &amp; Explore</a></p>
</div>
<?php //} ?>
<script>

    require(['domReady'], function (domReady) {
        domReady(function () {
            //This function is called once the DOM is ready.
            //It will be safe to query the DOM and manipulate
            //DOM nodes in this function.
            
            // console.log('document loaded after footer ... !');
            
            //Module has been completely defined.
            /*var isDefined = require.defined('Magento_Catalog/js/product/list/toolbar');
            console.log("isDefined");
            console.log(isDefined);*/

            //Module has been asked for by some other
            //module already, so is either in the process
            //of being loaded/defined or already defined.
            /*var isSpecified = require.specified('Magento_Catalog/js/product/list/toolbar');
            console.log("isSpecified");
            console.log(isSpecified);*/

            // load toolbar.js
            require(['Magento_Catalog/js/product/list/toolbar'],function(toolbar) { console.log(toolbar); });
            
        });
    });

</script>


