<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var \Magento\Theme\Block\Html\Header $block
 */
$welcomeMessage = $block->getWelcome();
$_objectManager = \Magento\Framework\App\ObjectManager::getInstance(); //instance of\Magento\Framework\App\ObjectManager
$storeManager = $_objectManager->get('Magento\Store\Model\StoreManagerInterface'); 
$currentStore = $storeManager->getStore();
$baseUrl = $currentStore->getBaseUrl();
$mediaUrl = $currentStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);

/* extract telephpone number from welcome message */
$message_array = explode(':',$welcomeMessage);
$telephone = str_replace(" ","",$message_array[1]);
$phone_call_html = "<a href='tel:".$telephone."'>".$welcomeMessage."</a>";

/* For  customer name when logged in via mobile otp */
$context = $_objectManager->get('Magento\Framework\App\Http\Context');
/** check is logged in via context object because customer session may not be updated. */
$isLoggedIn = $context->getValue(\Magento\Customer\Model\Context::CONTEXT_AUTH);
/* get customer session */
$customerSession = $_objectManager->get('Magento\Customer\Model\Session');
/* if user is logged in than store the first name of the user */
$customerFullName = '';
if($isLoggedIn) {
    $customerData = $customerSession->getCustomerData();
    $customerFullName = $customerData->getFirstName() .' '. $customerData->getLastName();
    unset($customerData);
}

$sprite_image_storelocator = "<i class='aps aps-store_locator_22x22'></i>";

?>
<?php switch ($block->getShowPart()):
    case 'welcome': ?>

        <li class="desktop-store">
            <a href="<?php echo $baseUrl; ?>/store-locator/">
                <!-- <img src="<?php //echo $mediaUrl; ?>/custom/loca.png"/> -->
                <?php echo $sprite_image_storelocator; ?>Store Locator
            </a>
        </li>
        <li class="greet welcome" data-bind="scope: 'customer'">
            <!-- ko if: customer().fullname  -->
            <a class="user-name" href="<?php echo $baseUrl ?>customer/account">
                <span data-bind="text: new String('<?php echo $block->escapeHtml(__('Welcome, %1'));?>').replace('%1', customer().fullname)">
                </span> 
            </a>
            <!-- /ko -->
            <!-- ko ifnot: customer().fullname  -->
                <!-- if user has done login with otp than customer data is not loaded automatically. -->
                <?php if($isLoggedIn):?>
                    <a class="user-name" href="<?php echo $baseUrl ?>customer/account">
                        <span><?php printf("Welcome, %s", $customerFullName); ?></span>
                    </a>
                <?php endif;?>
            <!-- /ko -->
            
            <?php echo $phone_call_html; ?>
			
        </li>
		<script type="text/x-magento-init">
        {
            "*": {
                "Magento_Ui/js/core/app": {
                    "components": {
                        "customer": {
                            "component": "Magento_Customer/js/view/customer"
                        }
                    }
                }
            }
        }
        </script>
    <?php break; ?>
    <?php case 'other': ?>
        <?php echo $block->getChildHtml(); ?>
    <?php break; ?>

<?php endswitch; ?>



