<style type="text/css">
/*.tagalys-hint{
    display: none !important;
}
.tagalys-powered-by-tagalys{
    display: none !important;
}
.stock1 {
    color: red;
    right: 10px;
    float: right;
    bottom: 75px;
    font-size: 14px;
    background: #fff;
    position: relative;
    padding: 5px 14px !important;
    border: 1px solid #ccc !important;
}
@media(max-width: 999px) and (min-width: 768px){
    #tagalys-ss li.tagalys-navigate.clickable{
        width: 100%;
        float: none;
        height: 65px;
        position: relative;
    }
    #tagalys-ss{left: 50% !important;transform: translateX(-50%)}
}
@media(max-width: 767px){
    .stock1,
    .tagalys-products .tagalys-navigate .tocart{
        bottom: 20px;
        font-size: 11px;
        padding: 5px !important;
    }
}
@media(max-width: 767px){
    .tagalys-products .tagalys-navigate .tocart{
        left: initial;
        right: -30px !important;
        bottom: 30px !important;
    }
    .tagalys-products .tagalys-navigate .add-to-cart-qty{bottom: 86px !important;}
}
@media (min-width: 1000px){
#tagalys-ss.with-widget-products .tagalys-products li {
    width: 100% !important;
    height: 56px;
}
#tagalys-ss{
    width: 730px !important;
}
#tagalys-ss.with-widget-searches .tagalys-products li {
    height: 44px;
}
}
@media (min-width: 1000px){
#tagalys-ss.with-widget-searches.with-widget-products .tagalys-products {
    width: 100%;
}
}
#tagalys-ss.with-widget-products .tagalys-products .tagalys-product-link .image-container {
    width: 30px !important;
    padding-left: 8px; 
}
@media (min-width: 768px){
    #tagalys-ss.with-widget-products .tagalys-products .tagalys-product-link .details {
    position: relative;
    left: 50px;
    top: -40px;
    max-width: 70%;
}
#tagalys-ss.with-widget-searches.with-widget-products .tagalys-searches {
    width: 100%;
    float: left;
    padding-right: 5px;
    box-sizing: border-box;
}
}
#tagalys-ss .tagalys-section li {
    padding: 5px 10px;
    width: 1000px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#tagalys-ss .tagalys-powered-by-tagalys a{
    display:none;
}
.tagalys-products .tagalys-navigate .tocart{
    float: right;
    position: relative;
    bottom: 75px;
    left: 20px;
    background-color: #1979c3 !important;
    border: 1px solid #1979c3 !important;
    color: #fff !important;

}
.tagalys-products .tagalys-navigate .add-to-cart-qty{
    float: right;
    position: relative;
    right: 130px;
    bottom: 75px;
}
.with-widget-searches .tagalys-products .tagalys-navigate .tocart{
    position: relative;
    right: 6px;
}
}
@media (max-width: 768px){
.tagalys-products .tagalys-navigate .tocart{
    float: right;
    position: relative;
    bottom: 33px;
    left: 33px;
    background-color: #1979c3 !important;
    border: 1px solid #1979c3 !important;
    color: #fff !important;
}
#tagalys-ss.with-widget-products .tagalys-products li {
height: 45px;
}  
#tagalys-ss.with-widget-products .tagalys-products .tagalys-product-link .details {
padding-top: 3px;
}
.tagalys-products .tagalys-navigate .add-to-cart-qty{
    float: right;
    position: relative;
    right: 112px;
    bottom: 33px;
}
}
.tagalys-products .tagalys-navigate .towishlist{
display: none !important;
}

@media only screen and (max-width: 600px) {
  .tagalys-products .tagalys-navigate .tocart {
    float: right;
    position: relative;
    bottom: 33px;
    left: 33px;
    background-color: #1979c3 !important;
    border: 1px solid #1979c3 !important;
    color: #fff !important;
    padding: 5px 5px 5px 5px;
    margin-top: 15px;
    margin-right: 50px;
    font-size: 10px;
}

.tagalys-products .tagalys-navigate .add-to-cart-qty {
    float: right;
    position: relative;
    right: 112px;
    bottom: 33px;
    display: none;
}
}
@media (min-width: 768px){
    #tagalys-ss.with-widget-searches .tagalys-searches + .tagalys-products .details {
   left: 50px;
}*/

</style>
 <div class="loading" style="display: none;">Loading&#8230;</div>
<style type="text/css">/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}</style>

<?php if ($this->isTagalysEnabled()): ?>
    <?php
        $currency = $this->getCurrentCurrency();
        $apiCredentials = $this->apiCredentials();
    ?>
    <script>
        require(['jquery', 'jquery/ui'], function(jQuery){ 
            try {
                jQuery(document).on('tagalys:ready', function() {
                    jQuery.fn.tagalys_search_suggestions.search_link = function( q, qf, qin ) {
                        var tagalys_search_base_url = "<?php echo $this->getTsearchUrl(); ?>?q=";
                        if (typeof(qf) == 'undefined' || jQuery.isEmptyObject(qf)) {
                            return (tagalys_search_base_url + encodeURIComponent(q));
                        } else {
                            str = Object.keys(qf).map(function(key){ 
                                return  encodeURIComponent(key) + "-"+ encodeURIComponent(qf[key]); 
                            }).join('~');
                            qf_param = encodeURIComponent("qf") + '=' + str;

                            return tagalys_search_base_url.concat(encodeURIComponent(q) +"&"+qf_param);
                        }
                    };
                    jQuery.fn.tagalys_search_suggestions.popular_searches  = function() {
                        <?php
                            try {
                                $popularSearches = $this->getTagalysConfig('store:' . $this->getCurrentStoreId() . ':popular_searches');
                                if ($popularSearches) {
                                    //echo 'return ' . $popularSearches . ';';
                                    echo 'return [];';
                                } else {
                                    echo 'return [];';
                                }
                            } catch (Exception $e) {
                                echo 'return [];';
                            }
                        ?>
                    };
                    jQuery('<?php echo $this->getTagalysConfig('search_box_selector') ?>').tagalys_search_suggestions({
                        currency: {
                            label: "<?php echo $currency['label']; ?>",
                            exchange_rate: "<?php echo  $currency['exchange_rate']; ?>",
                            fractional_digits:"<?php echo  $currency['fractional_digits']; ?>"
                        },
                        track: 'asynchronous',
                        align_to_parent: '<?php echo $this->getTagalysConfig('suggestions_align_to_parent_selector') ?>'
                    });
                });
            }
            catch(err) {
                
            }
        });

  require(['jquery', 'jquery/ui'], function($){
  <?php
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $urlInterface = $objectManager->create('\Magento\Framework\UrlInterface');
    $urlEncoder = $objectManager->create('\Magento\Framework\Url\EncoderInterface');
    $uenc = $urlEncoder->encode($urlInterface->getCurrentUrl());
  ?>
  var tagalysUenc = '<?php echo $uenc; ?>';
  (function($) {
    $.fn.tagalys_templates = $.fn.tagalys_templates || {};
    $.fn.tagalys_templates.product_suggestion_tile = function(product_details) {
        var $sku = product_details.sku;
            var tyo = product_details.link;
            var yut = tyo.replace("-card.html", "");
            var newlink = tyo.replace("https://www.apollopharmacy.in", "http://63.142.255.55/apollodev");
        if($sku == 'HEA0265'){
            $link = $('<a>', { href: yut, class: 'highlightable primary-link tagalys-product-link', html: 
        $('<span>', { class: 'image-container', html: $('<img>', { class: 'image', src: product_details.image_url }) }).add(
        $('<span>', { class: 'details', html:
          $('<span>', { class: 'name', html: product_details.name }).add($combined_price)
        }))
      });
        }else{
            $link = $('<a>', { href: newlink, class: 'highlightable primary-link tagalys-product-link', html: 
        $('<span>', { class: 'image-container', html: $('<img>', { class: 'image', src: product_details.image_url }) }).add(
        $('<span>', { class: 'details', html:
          $('<span>', { class: 'name', html: product_details.name }).add($combined_price)
        }))
      });
        }
      
      $link.data('tagalys-product-id', product_details._id);
      $link.data('tagalys-handler', 'product');
      var $stock_status = product_details.in_stock;
      var $sku = product_details.sku;
      //product_details.link,
      //var $add_to_cart_qty_input = $('<span>', { class: 'add-to-cart-qty  non-tagalys' }).html($('<input>', { type: 'text', value: 1, width: 30,name: 'qty' }));
      /*var $add_to_cart_link = $('<a>', { class: 'uptocart',onClick: 'javascript:void(0);', title: 'Add to cart', 'data-value': JSON.stringify({ action: '/checkout/cart/add/uenc/' + tagalysUenc + '/product/' + product_details.__id, data: { product: product_details.__id + '', uenc: tagalysUenc } }) }).html($('<span>').html('Add to Cart'));*/
      /*var $add_to_cart_link = "<span>Add to Cart</span>";*/
      var $add_to_cart_link = $('<button>', { class: 'uptocart tocart tagalys', type: 'button', title: 'Add to cart', 'data-post': JSON.stringify({ action: '/checkout/cart/add/uenc/' + tagalysUenc + '/product/' + product_details.__id, data: { product: product_details.__id + '', uenc: tagalysUenc } }) }).html($('<span>').html('Add to Cart'));
      /*var $add_to_cart_link = $('<button>', { class: 'uptocart tagalys', onClick: 'javascript:void(0);', type: 'button', title: 'Add to cart', 'data-post': JSON.stringify({ action: '/checkout/cart/add/uenc/' + tagalysUenc + '/product/' + product_details.__id, data: { product: product_details.__id + '', uenc: tagalysUenc } }) }).html($('<span>').html('Add to Cart'));*/
      //var $add_to_wishlist_link = $('<button>', { class: 'towishlist non-tagalys', type: 'button', title: 'Add to cart', 'data-post': JSON.stringify({ action: '/wishlist/index/add/', data: { product: product_details.__id + '', uenc: tagalysUenc } }) }).html($('<span>').html('Add to Wishlist'));
      var $out_of_stock = '<div class="stock1 out-of-stock-text"><span>Out of stock</span></div>';
      if($sku == 'HEA0265'){
       return $link;
      }
      if($stock_status == true){
        return $link.add($add_to_cart_link);
      }else {
       return $link.add($out_of_stock);
      }
    };
    $('body').on('click', '#tagalys-ss .tocart', function(e) {
        var qty = parseInt($(this).prev('.add-to-cart-qty').find('input').val());
        var data_post = JSON.parse($(this).attr('data-post'));
        data_post.data = $.extend({}, data_post.data, {qty: qty});
        $(this).attr('data-post', JSON.stringify(data_post));
    });
  }(jQuery));


  jQuery(document).on('tagalys:ready', function() {

    $.ajax({
            url: "<?php echo $this->getUrl('customer/section/load') ?>?sections=cart&update_section_id=true&_=<?php echo time(); ?>",
            
            type: 'get',
            /*dataType: 'json',*/
            /*showLoader: true,
            cache : false,
            processData: false,*/
            beforeSend: function() {
               
            },
            success: function(res) {
                console.log(res);
                if(res.cart.summary_count > 1)
                    $("#added-item-count").text(res.cart.summary_count+" Items");
                else
                    $("#added-item-count").text(res.cart.summary_count+" Item");
            }
        });

    console.log("ready");
    $("#search").keyup(function(){
        $(".loading").show();
        setTimeout(function(){ 
            $(".loading").hide();
            $(".uptocart").off("click").on("click", function(){
                var form_key = $("input[name='form_key']").val();
                /*var form_data = new FormData();*/
                var form_data = {};
                var data = $(this).attr("data-post");
                console.log(data);
                
                data = JSON.parse(data);
                /*form_data.append('product', data.data.product);
                form_data.append('uenc', data.data.uenc);
                form_data.append('form_key', form_key);*/
                form_data["product"] = data.data.product;
                form_data["uenc"] = data.data.uenc;
                form_data["form_key"] = form_key;
                var that = this;
                console.log(form_data);
                $.ajax({
                        url: "<?php echo $this->getUrl('checkout/cart/add') ?>uenc/"+data.data.uenc+"/product/"+data.data.product,
                        data: form_data,
                        type: 'post',
                        /*dataType: 'json',*/
                        /*showLoader: true,
                        cache : false,
                        processData: false,*/
                        beforeSend: function() {
                           $(that).text("Adding");
                        },
                        success: function(res) {
                            if(res == []){
                              $(that).text("Added");  
                            }else{
                              $(that).text("Add to Cart");  
                            }
                            

                            if (res.backUrl) {
                                window.location = res.backUrl;
                                return;
                            }

                            window.ajaxCartTransport = true;
                            $('#tagalys-ss').hide();
                            location.reload();

                            $.ajax({
                                url: "<?php echo $this->getUrl('customer/section/load') ?>?sections=cart&update_section_id=true&_=<?php echo time(); ?>",
                                
                                type: 'get',
                                /*dataType: 'json',*/
                                /*showLoader: true,
                                cache : false,
                                processData: false,*/
                                beforeSend: function() {
                                   
                                },
                                success: function(res) {
                                    console.log(res);
                                    if(res.cart.summary_count > 1)
                                        $("#added-item-count").text(res.cart.summary_count+" Items");
                                    else
                                        $("#added-item-count").text(res.cart.summary_count+" Item");
                                }
                            });


                     
                        }
                    });
            });
         }, 800);
        console.log("clickeda");
    });
    $(".tagalys").click(function(){
        console.log("clickeds");
    });
    $(".uptocart").off("click").on("click", function(){
        console.log("clickedd");
        var form_key = $("input[name='form_key']").val();
        var form_data = new FormData();
        var data = $(this).attr("data-post");
        form_data.append('product', data.data.product);
        form_data.append('uenc', data.data.uenc);
        form_data.append('form_key', form_key);
        var that = $(this);
        $.ajax({
                url: "<?php echo $this->getUrl('checkout/cart/add') ?>/uenc/"+data.data.uenc+"/product/"+data.data.product,
                data: form_data,
                type: 'post',
                dataType: 'json',
                beforeSend: function() {
                   $(that).text("Adding");
                },
                success: function(res) {
                    $(that).text("Added");
 
                    window.ajaxCartTransport = true;
                    location.reload();
                }
            });
    });

     

  });
});



    </script>
<?php endif; ?>

