<?php if ($this->isTagalysEnabled()):?>
<style type="text/css">
.tagalys-namespace.recommended-for-you.tagalys-similar-products, 
.tagalys-namespace.recommended-for-you .tagalys-similar-products, 
#tagalys-namespace.recommended-for-you.tagalys-similar-products, 
#tagalys-namespace.recommended-for-you .tagalys-similar-products {
  background: transparent !important;
}
.recommended-for-you .tagalys-header h1 {
  font-size: 16px;
  color: #000000;
  font-weight: 600;
  margin-bottom: 0;
  line-height: 16px;
  text-align: left;
  margin: 0;
}
.tagalys-prev-next-links  {
  display: none;
}
.recommended-for-you .product-image {
  max-width: 80px;
}
.recommended-for-you .product-link {
  background: #fff;
  box-shadow: 1px 0 7px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  padding: 14px 12px;
  border: none;
}
.recommended-for-you.tagalys-namespace .tagalys-product-tile,
.recommended-for-you#tagalys-namespace .tagalys-product-tile {
  padding-bottom: 10px !important;
}
.recommended-for-you.tagalys-namespace .tagalys-product-tile .product-link, 
.recommended-for-you#tagalys-namespace .tagalys-product-tile .product-link {
  background: #fff;
  box-shadow: 1px 0 7px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  padding: 14px 12px;
  border: none; 
  height: 180px;
}
.recommended-for-you.tagalys-namespace .cart-list button.tocart {
  margin-top: 3px !important; 
}
.tagalys-namespace .tagalys-product-tile .product-link .product-image-container img.product-image, 
#tagalys-namespace .tagalys-product-tile .product-link .product-image-container img.product-image {
  max-width: 100px;
  margin: 0 auto;
}
.tagalys-namespace .tagalys-product-tile .product-link .product-name, 
#tagalys-namespace .tagalys-product-tile .product-link .product-name {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  font-weight: 600;
  margin-top: 5px;
  text-align: center;    
  font-family: 'Nunito', sans-serif;
}
.tagalys-namespace .tagalys-product-tile .product-link .product-image-container, 
#tagalys-namespace .tagalys-product-tile .product-link .product-image-container {
  position: relative;
  height: 117px;
}
.tagalys-prev-next-links {
  display: none !important;
}
.tagalys-namespace h1, #tagalys-namespace h1 {
  margin-bottom: 0;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  padding-left: 20px;
  padding-right: 20px;
}
.tagalys-header {
  padding: 0 !important;
}
.tagalys-namespace .tagalys-managed-widths,
#tagalys-namespace .tagalys-managed-widths {
  padding: 0 0 0 15px;
}
.tagalys-namespace .tagalys-managed-widths .tagalys-product-tile,
#tagalys-namespace .tagalys-managed-widths .tagalys-product-tile {
  padding: 10px 5px;
}
.tagalys-namespace .cart-list button.tocart {
  font-size: 12px !important;
  background: #00777f !important;
  border: 0 !important;
  font-weight: bold !important;
  padding: 5px 20px !important;
  color: #fff !important;
  border-radius: 3px !important;
}
.tagalys-namespace .cart-list button.tocart span {
  color: #fff !important; 
}
.tagalys-namespace .cart-list button.towishlist {    
  background-size: 100% !important;
  width: 15px !important;
  height: 15px !important;
  margin-left: 10px !important;
  text-indent: -99999px !important;
  margin-top: 5px !important;
}
.tagalys-namespace .cart-list button.towishlist span {
  text-indent: -99999px !important;
}
.tagalys-widget-header{
	padding: 0px 0px 10px 0px !important;
}
.recommended-for-you{
	padding-left: 7px !important;
}
.recommended-for-you .tagalys-namespace h1{
	padding-left: 10px;
}
.recommended-for-you .tagalys-widget-footer{
	display: none !important;
}
.tagalys-namespace .tagalys-product-tile .product-link .product-prices .product-sale-price, 
#tagalys-namespace .tagalys-product-tile .product-link .product-prices .product-sale-price {
  font-size: 14px;
  color: #00777f;
  font-weight: 600;
  text-align: center;
  margin-top: 0;
  position: relative;
  font-family: 'Nunito', sans-serif;
}
</style>
<script>
require(['jquery', 'jquery/ui'], function($){ 
  <?php
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $urlInterface = $objectManager->create('\Magento\Framework\UrlInterface');
    $urlEncoder = $objectManager->create('\Magento\Framework\Url\EncoderInterface');
    $uenc = $urlEncoder->encode($urlInterface->getCurrentUrl());
  ?> 
  var tagalysUenc = '<?php echo $uenc; ?>';
  (function($) {
    $.fn.tagalys_templates = $.fn.tagalys_templates || {};
    $.fn.tagalys_templates.product_tile = function(widget, product_details) {
      var $link = $('<a>', { class: 'product-link', href: product_details.link });
      var $image = $('<span>', { class: 'product-image-container' }).append($('<img>', { class: 'product-image', src: product_details.image_url }));
      var $name = $('<span>', { class: 'product-name' }).html(product_details.name);
      var $sale_price = $('<span>', { class: 'product-sale-price' }).html(widget.format_currency(product_details.sale_price));
      if (product_details.price != null && product_details.price > product_details.sale_price) {
        var $price = $('<span>', { class: 'product-price' }).html(widget.format_currency(product_details.price));
        var $prices = $('<span>', { class: 'product-prices sale' }).append($sale_price).append($price);
      } else {
        var $prices = $('<span>', { class: 'product-prices no-sale' }).append($sale_price);
      }
      $link.append($image);
      $link.append($name);
      $link.append($prices);
      var $btns = $('<div>', { class: 'cart-list' });
      $link.append($btns)
      var $add_to_cart_link = $('<button>', { class: 'tocart tocart_span', type: 'button', title: 'Add to cart', 'data-post': JSON.stringify({ action: '/checkout/cart/add/uenc/' + tagalysUenc + '/product/' + product_details.__id, data: { product: product_details.__id + '', uenc: tagalysUenc } }) }).html($('<span>').html('Add to Cart'));
      $btns.append($add_to_cart_link);
      return $link;
    };
  }(jQuery));
});
</script>
<div class="rows padding_bottom10">
	<div id="tagalys-namespace" class="tagalys-namespace recommended-for-you"
	  data-tagalys-widget="personalized"
	  data-tagalys-widget-opts-heading="Recommended for You"
	  data-tagalys-widget-opts-per-page='{"300":2,"600":3}'>
	</div>
</div>
<?php endif; ?>