<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>

<?php if ($block->getWishlist()->getItemsCount()): ?>
    <button type="submit" name="do" id="jq_update_cart_action" title="<?php /* @escapeNotVerified */ echo __('Update Wish List') ?>" class="action update hide">
        <span><?php /* @escapeNotVerified */ echo __('Update Wish List') ?></span>
    </button>
<?php endif;?>
