<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data');
?>
<?php $_orders = $block->getOrders(); ?>
<section class="rows-sec padding_bottom80">
    <div class="container-fluid ">
        <div class="breadcrumb-box">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="<?php echo $this->getUrl(); ?>"><?php echo __('Home'); ?></a></li>
              <li class="breadcrumb-item"><a href="<?php echo $this->getUrl()."customer/account/"; ?>"><?php echo __('Profile'); ?></a></li>
              <li class="breadcrumb-item active" aria-current="page"><?php echo __('My Order'); ?></li>
            </ol>
          </nav>
        </div>
        <div class="rows-sec product-composition-sec">
            <?php if ($_orders && count($_orders)): ?>
              <div class="rows-sec">
                  <?php 
                      foreach ($_orders as $_order):
                      $_items = $_order->getItemsCollection();
                      $_count = $_items->count();
                   ?>
                    <div class="sub-heading text-right no-margin-t"><?php echo __('Order ID:'); ?> <?php /* @escapeNotVerified */ echo $_order->getRealOrderId() ?></div>
                    <div class="add-cart-box p-composition-box my-order-box no-padding-b">
                        <div id="order_track_inprocess" class="collapsable collapsable-accordion">
                          <div class="order-block selected-border">
                            <?php 
                              foreach ($_items as $_item):
                              $_product = $objectManager->get('Magento\Catalog\Model\Product')->load($_item->getProductId());
                              $imageHelper  = $objectManager->get('\Magento\Catalog\Helper\Image');
                              $image_url = $imageHelper->init($_product, 'product_page_image_small')->setImageFile($_product->getFile())->resize(100, 100)->getUrl();
                            ?>
                            <div class="wishlist-box-flex ">
                                <div class="wishlist-box-left">
                                    <img src="<?php echo $image_url; ?>">
                                </div>
                                <div class="wishlist-box-right">
                                    <div>
                                          <?php
                                            $getStatusClass = '';
                                            if($_order->getStatus() == 'pending' || $_order->getStatus() == 'processing_test') {
                                              $getStatusClass = 'in-progress';
                                            } else if ($_order->getStatus() == 'canceled' || $_order->getStatus() == 'pending_payment'){
                                              $getStatusClass = 'cancelled';
                                            } else if ($_order->getStatus() == 'complete'){
                                              $getStatusClass = 'delivered';
                                            }
                                          ?>
                                        <div class="cart-product-name"><?php echo $block->escapeHtml($_item->getName()); ?> <span class="<?php echo $getStatusClass;?>"><?php /* @escapeNotVerified */ echo $_order->getStatusLabel(); ?></span></div>
                                        <!-- <div class="tablet-count">bottle of 60 ml suspension</div> -->
                                        <div class="tablet-count">Placed on <?php /* @escapeNotVerified */ echo $block->formatDate($_order->getCreatedAt()); ?> </div>
                                        <div class="total-price"><?php echo $priceHelper->currency($_item->getPrice(), true, false);?></div>
                                    </div>
                                </div>
                            </div>
                            <?php break; endforeach; ?>
                            <div class="row margin_top10">
                              <div class="col-6 padding_left7">
                                <a href="<?php /* @escapeNotVerified */ echo $block->getViewUrl($_order) ?>" class="action view"><button class="green-btn track-order-btn"><?php /* @escapeNotVerified */ echo __('Track Order') ?></button></a>
                              </div>
                              <?php if ($this->helper('Magento\Sales\Helper\Reorder')->canReorder($_order->getEntityId())) : ?>
                                <div class="col-6 padding_left7">
                                  <a href="#" data-post='<?php /* @escapeNotVerified */ echo
                                  $this->helper(\Magento\Framework\Data\Helper\PostHelper::class)
                                      ->getPostData($block->getReorderUrl($_order))
                                  ?>' class="action order">
                                    <button class="green-btn track-order-btn">Re-order</button>
                                  </a>
                                </div>
                              <?php endif ?>
                            </div>
                          </div>
                          <?php if($_count >=2) { ?><div class="order-count"><?php echo '+'.($_count-1); ?> Items</div><?php } ?>
                          <h4 class="ca-control"><a href="#order_track_inprocess"></a></h4>
                          <div class="ca-box order-expand">
                            <?php 
                              if($_count >= 2 ){
                              $i = 1;
                              foreach ($_items as $_item):
                              if( $i == 1 ){
                                $i++;
                                continue;
                              } 
                                
                              $_product = $objectManager->get('Magento\Catalog\Model\Product')->load($_item->getProductId());
                              $imageHelper  = $objectManager->get('\Magento\Catalog\Helper\Image');
                              $image_url = $imageHelper->init($_product, 'product_page_image_small')->setImageFile($_product->getFile())->resize(100, 100)->getUrl();
                            ?>
                            <div class="order-block">
                              <div class="wishlist-box-flex">
                                  <div class="wishlist-box-left">
                                    <img src="<?php echo $image_url; ?>">
                                  </div>
                                  <div class="wishlist-box-right">
                                      <div class="">
                                          <div class="cart-product-name"><?php echo $block->escapeHtml($_item->getName()) ?></div>
                                          <!-- <div class="tablet-count">bottle of 60 ml suspension</div> -->
                                          <div class="tablet-count">Placed on <?php /* @escapeNotVerified */ echo $block->formatDate($_item->getCreatedAt()) ?> </div>
                                          <div class="total-price"><?php echo $priceHelper->currency($_item->getPrice(), true, false);?></div>
                                      </div>
                                  </div>
                              </div>
                            </div>
                            <?php endforeach; }?>
                            <div class="rows padding_top10 padding_bottom30">
                              <div class="sub-heading">Please Rate your overall experience</div>
                              <a href="<?php echo $this->getUrl()."experience/customer/index/order_id/".$_order->getId(); ?>" class="rate-experience-btn">Rate your experience <img src="<?php echo $this->getViewFileUrl('images/green-right-arrow.png'); ?>" /></a>
                            </div>
                          </div>
                        </div>
                    </div>
                  <?php endforeach; ?>
                  <?php if ($block->getPagerHtml()): ?>
                    <div class="order-products-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); ?></div>
                  <?php endif; ?>
              </div>
              <?php else: ?>
              <div class="message info empty"><span><?php /* @escapeNotVerified */ echo __('You have placed no orders.'); ?></span></div>
            <?php endif; ?>
        </div>
    </div>
    <script type="text/javascript">
        require (["jquery","jquery/ui"], function($){
          $('.collapsable-accordion').collapsable({
              accordion: true,
              fx: 'slide',
              fxDuration: 300
          });
        });
    </script>
</section>
