<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data');
?>
<?php $_order = $block->getOrder() ?>
<?php $_items = $_order->getItemsCollection(); ?>
<?php $_count = $_items->count(); ?>
 <div class="add-cart-box p-composition-box my-order-box no-padding-b">
    <div id="order_track_inprocess" class="collapsable collapsable-accordion">
      <div class="order-block padding_bottom30">
        <?php 
            foreach ($_items as $_item):
            $_product = $objectManager->get('Magento\Catalog\Model\Product')->load($_item->getProductId());
            $imageHelper  = $objectManager->get('\Magento\Catalog\Helper\Image');
            $image_url = $imageHelper->init($_product, 'product_page_image_small')->setImageFile($_product->getFile())->resize(100, 100)->getUrl();
        ?>
        <div class="wishlist-box-flex ">
            <div class="wishlist-box-left">
                <img src="<?php echo $image_url; ?>" />
            </div>

            <div class="wishlist-box-right">
                <div>
                    <?php
                        $getStatusClass = '';
                        if($_order->getStatus() == 'pending' || $_order->getStatus() == 'processing_test') {
                          $getStatusClass = 'in-progress';
                        } else if ($_order->getStatus() == 'canceled' || $_order->getStatus() == 'pending_payment'){
                          $getStatusClass = 'cancelled';
                        } else if ($_order->getStatus() == 'complete'){
                          $getStatusClass = 'delivered';
                        }
                      ?>
                    <div class="cart-product-name"><?php echo $block->escapeHtml($_item->getName()); ?> <span class="<?php echo $getStatusClass;?>"><?php /* @escapeNotVerified */ echo $_order->getStatusLabel(); ?></span></div>
                    <!-- <div class="tablet-count">bottle of 60 ml suspension</div> -->
                    <div class="tablet-count">Placed on <?php /* @escapeNotVerified */ echo $block->formatDate($_order->getCreatedAt()); ?> </div>
                    <div class="total-price"><?php echo $priceHelper->currency($_item->getPrice(), true, false);?></div>
                </div>
            </div>
        </div>
        <?php break; endforeach; ?>
      </div>
      <?php if($_count >=2) { ?><div class="order-count"><?php echo '+'.($_count-1); ?> Items</div><?php } ?>
      <?php if($_count >= 2 ){?>
      <h4 class="ca-control"><a href="#order_track_inprocess"></a></h4>
      <div class="ca-box order-expand">
        <?php
            $i = 1;
            foreach ($_items as $_item):
            if( $i == 1 ){
                $i++;
                continue;
            }

            $_product = $objectManager->get('Magento\Catalog\Model\Product')->load($_item->getProductId());
            $imageHelper  = $objectManager->get('\Magento\Catalog\Helper\Image');
            $image_url = $imageHelper->init($_product, 'product_page_image_small')->setImageFile($_product->getFile())->resize(100, 100)->getUrl();
        ?>
        <div class="order-block">
          <div class="wishlist-box-flex">
              <div class="wishlist-box-left">
                  <img src="<?php echo $image_url; ?>">
              </div>
              <div class="wishlist-box-right">
                  <div class="">
                      <div class="cart-product-name"><?php echo $block->escapeHtml($_item->getName()) ?></div>
                      <!-- <div class="tablet-count">bottle of 60 ml suspension</div> -->
                      <div class="tablet-count">Placed on <?php /* @escapeNotVerified */ echo $block->formatDate($_item->getCreatedAt()) ?> </div>
                      <div class="total-price"><?php echo $priceHelper->currency($_item->getPrice(), true, false);?></div>
                  </div>
              </div>
          </div>
        </div>
        <?php endforeach;?>   
        <div class="rows padding_top10 padding_bottom30">
          <div class="sub-heading">Please Rate your overall experience</div>
          <a href="<?php echo $this->getUrl()."experience/customer/index/order_id/".$_order->getId(); ?>" class="rate-experience-btn">Rate your experience <img src="<?php echo $this->getViewFileUrl('images/green-right-arrow.png'); ?>" /></a>
        </div>
      </div>
      <?php } ?>
    </div>
</div>