<?php
  $cuy = $block->getLayout()->createBlock('Retail\Jiyo\Block\Base\Url');
  $base_url = $cuy->siteUrl();
  $api_secret = '14c958c91058b4c6632bc3364340a615';
  $api_key = 'APOLLO_PHARMACY';
  $data = "category=Move&size=2&page=1"; 
  $bitData = "category=Move&page=1";

  function getArticales($data, $api_key, $api_secret){
      $ch1 = curl_init('https://api.jiyo.com/v3/public/article-list/?'.$data);
          curl_setopt($ch1, CURLOPT_HTTPHEADER, array(
          'API-KEY: ' . $api_key,
          'API-SECRET: ' . $api_secret
      ));
      curl_setopt($ch1,CURLOPT_RETURNTRANSFER,1);
      $response1 = curl_exec($ch1);
      return json_decode($response1);
  }

  function getBitList($bitData, $api_key, $api_secret){
      $ch = curl_init('https://api.jiyo.com/v3/public/bit-list/?'.$bitData);
      curl_setopt($ch, CURLOPT_HTTPHEADER, array(
          'API-KEY: ' . $api_key,
          'API-SECRET: ' . $api_secret
      ));
      curl_setopt($ch,CURLOPT_RETURNTRANSFER,1);
      $response = curl_exec($ch);
      return json_decode($response);
  }

  /*Articales list data*/       
  $exercise_res1 = getArticales($data, $api_key, $api_secret);
  $data = "category=Meditate&size=2&page=1"; 
  $meditate_res1 = getArticales($data, $api_key, $api_secret);
  $data = "category=Nourish&size=2&page=1"; 
  $nourish_res1 = getArticales($data, $api_key, $api_secret);
  $data = "category=Love&size=2&page=1"; 
  $love_res1 = getArticales($data, $api_key, $api_secret);
  $data = "category=Grow&size=2&page=1"; 
  $grow_res1 = getArticales($data, $api_key, $api_secret);
  $len1 = count($exercise_res1->data);

  /*Bit list data*/
  $exercise_bit_res = getBitList($bitData, $api_key, $api_secret);
  $bitData = 'category=Meditate&page=1';
  $meditate_bit_res = getBitList($bitData, $api_key, $api_secret);
  $bitData = 'category=Nourish&page=1';
  $nourish_bit_res = getBitList($bitData, $api_key, $api_secret);
  $bitData = 'category=Love&page=1';
  $love_bit_res = getBitList($bitData, $api_key, $api_secret);
  $bitData = 'category=Grow&page=1';
  $grow_bit_res = getBitList($bitData, $api_key, $api_secret);
?> 
<style>
  .custom-tabs ul li {
    display: inline-block;
  }
</style>
<section class="main-sec">
  <section class="rows-sec common-you-wrap health-tips-wrap padding_bottom20">
    <div class="container-fluid ">
      <div class="breadcrumb-box">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="<?php echo $block->getBaseUrl();?>">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Jiyo Health Tips</li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="rows">
      <div id="joy_health_tips_tabs" class="joy-health-tab custom-tabs">
        <ul class="no-margin-b">
          <li><a href="#exercise">Exercise</a></li>
          <li><a href="#nourish">Nourish</a></li>
          <li><a href="#neditate">Meditate</a></li>
          <li><a href="#love">Love</a></li>
          <li><a href="#grow">Grow</a></li>
        </ul>
        <div id="exercise">
          <div class="rows padding_top20">
            <div class="main-heading padding_lr20">Trending Articles</div>
            <div id="health_tips_slider1" class="trending-article-slider flexslider thumbnail-tab">
              <ul class="slides">
                <?php if(count($exercise_res1->data)) {
                foreach ($exercise_res1->data as $key => $value) { ?>
                <li>
                  <div class="item">
                    <div class="health-tips-box-inner">
                      <a href="<?php echo $base_url; ?>jiyo/health/details/?id=<?php echo $value->id;?>">
                          <?php
                            $_url = $value->teaser_image->preview;
                            $path  = stristr($_url, 'jpg', true);
                            if($path!= "") {
                          ?>
                          <figure>
                            <img src="<?php echo $_url; ?>" alt="">
                          </figure>
                          <?php  } else { ?>
                            <div class="video-box ">
                              <iframe width="100%" height="118" src="<?php echo $_url; ?>" frameborder="0"></iframe>
                            </div>
                          <?php } ?>
                          <div class="health-tip-detail">
                              <span><?php echo ucfirst($value->title); ?></span>
                              <div class="health-tip-time">
                                  <?php 
                                      foreach ($value->labels as $key => $lvalue) {
                                         if($lvalue->type == 'label_duration'){
                                             echo $lvalue->name.' read';
                                         }
                                      }
                                  ?>
                              </div>
                              <!-- <div class="health-tip-date">
                                  27 Oct ‘18
                              </div> -->
                          </div>
                      </a>
                    </div>
                  </div>
                </li>
                <?php } } ?>
              </ul>
            </div>
          </div>
          <?php if(count($exercise_bit_res->data)) { ?>
          <div class="rows padding_lr20">
            <div class="main-heading margin_bottom10">Recent</div>
            <?php foreach ($exercise_bit_res->data as $bkey => $bvalue) { ?>
            <div class="white-box tips-recent-box">
              <a href="<?php echo $base_url; ?>jiyo/health/details/?id=<?php echo $bvalue->article_id;?>">
                <div class="display-flex">
                  <div class="display-tips-left">
                    <?php
                      $_url = $bvalue->teaser_image->preview;
                      $path  = stristr($_url, 'jpg', true);
                      if($path!= "") {
                    ?>
                    <figure>
                      <img src="<?php echo $_url; ?>" alt="">
                    </figure>
                    <?php  } else { ?>
                      <<figure class="video-icon-pos">
                        <iframe width="100%" height="118" src="<?php echo $_url; ?>" frameborder="0"></iframe>
                      </figure>
                    <?php } ?>
                  </div>
                  <div class="display-tips-right">
                    <div class="health-tip-detail no-padding">
                        <span><?php echo ucfirst($bvalue->title); ?></span>
                        <div class="tips-recent-content">
                          <?php 
                             $string = strip_tags($bvalue->description);
                             if (strlen($string) > 80) {
                                $stringCut = substr($string, 0, 80);
                                $endPoint = strrpos($stringCut, ' ');
                                $string = $endPoint? substr($stringCut, 0, $endPoint):substr($stringCut, 0);
                                echo ucfirst($string).'...';
                             } else {
                              echo ucfirst($string);
                             }
                          ?>
                        </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          <?php } ?>
          </div>
          <?php } ?>
        </div>
        <div id="nourish">
          <div class="rows padding_top20">
            <div class="main-heading padding_lr20">Trending Articles</div>
            <div id="health_tips_slider2" class="trending-article-slider flexslider thumbnail-tab">
              <ul class="slides">
                <?php if(count($nourish_res1->data)){
                  foreach ($nourish_res1->data as $key => $value) {
                ?>
                <li>
                  <div class="item">
                    <div class="health-tips-box-inner">
                      <a href="<?php echo $base_url; ?>jiyo/health/details/?id=<?php echo $value->id;?>">
                          <?php
                            $_url = $value->teaser_image->preview;
                            $path  = stristr($_url, 'jpg', true);
                            if($path!= "") {
                          ?>
                          <figure>
                            <img src="<?php echo $_url; ?>" alt="">
                          </figure>
                          <?php  } else { ?>
                            <div class="video-box">
                              <iframe width="100%" height="118" src="<?php echo $_url; ?>" frameborder="0"></iframe>
                            </div>
                          <?php } ?>
                          <div class="health-tip-detail">
                              <span><?php echo ucfirst($value->title); ?></span>
                              <div class="health-tip-time">
                                  <?php 
                                    foreach ($value->labels as $key => $lvalue) {
                                       if($lvalue->type == 'label_duration'){
                                           echo $lvalue->name.' read';
                                       }
                                    }
                                  ?>
                              </div>
                              <!-- <div class="health-tip-date">
                                  27 Oct ‘18
                              </div> -->
                          </div>
                      </a>
                    </div>
                  </div>
                </li>
                <?php } } ?>
              </ul>
            </div>
          </div>
          <?php if(count($nourish_bit_res->data)) { ?>
          <div class="rows padding_lr20">
            <div class="main-heading margin_bottom10">Recent</div>
            <?php foreach ($nourish_bit_res->data as $bkey => $bvalue) { ?>
            <div class="white-box tips-recent-box">
              <a href="<?php echo $base_url; ?>jiyo/health/details/?id=<?php echo $bvalue->article_id;?>">
                <div class="display-flex">
                  <div class="display-tips-left">
                    <?php
                      $_url = $bvalue->teaser_image->preview;
                      $path  = stristr($_url, 'jpg', true);
                      if($path!= "") {
                    ?>
                    <figure>
                      <img src="<?php echo $_url; ?>" alt="">
                    </figure>
                    <?php  } else { ?>
                      <<figure class="video-icon-pos">
                        <iframe width="100%" height="118" src="<?php echo $_url; ?>" frameborder="0"></iframe>
                      </figure>
                    <?php } ?>
                  </div>
                  <div class="display-tips-right">
                    <div class="health-tip-detail no-padding">
                        <span><?php echo ucfirst($bvalue->title); ?></span>
                        <div class="tips-recent-content">
                          <?php 
                             $string = strip_tags($bvalue->description);
                             if (strlen($string) > 80) {
                                $stringCut = substr($string, 0, 80);
                                $endPoint = strrpos($stringCut, ' ');
                                $string = $endPoint? substr($stringCut, 0, $endPoint):substr($stringCut, 0);
                                echo ucfirst($string).'...';
                             } else {
                              echo ucfirst($string);
                             }
                          ?>
                        </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          <?php } ?>
          </div>
          <?php } ?>
        </div>
        <div id="neditate">
          <div class="rows padding_top20">
            <div class="main-heading padding_lr20">Trending Articles</div>
            <div id="health_tips_slider3" class="trending-article-slider flexslider thumbnail-tab">
              <ul class="slides">
                <?php if(count($meditate_res1->data)){
                foreach ($meditate_res1->data as $key => $value) {
                ?>
                <li>
                  <div class="item">
                    <div class="health-tips-box-inner">
                      <a href="<?php echo $base_url; ?>jiyo/health/details/?id=<?php echo $value->id;?>">
                          <?php
                            $_url = $value->teaser_image->preview;
                            $path  = stristr($_url, 'jpg', true);
                            if($path!= "") {
                          ?>
                          <figure>
                            <img src="<?php echo $_url; ?>" alt="">
                          </figure>
                          <?php  } else { ?>
                            <div class="video-box">
                              <iframe width="100%" height="118" src="<?php echo $_url; ?>" frameborder="0"></iframe>
                            </div>
                          <?php } ?>
                          <div class="health-tip-detail">
                              <span><?php echo ucfirst($value->title); ?></span>
                              <div class="health-tip-time">
                                  <?php 
                                    foreach ($value->labels as $key => $lvalue) {
                                       if($lvalue->type == 'label_duration'){
                                           echo $lvalue->name.' read';
                                       }
                                    }
                                  ?>
                              </div>
                              <!-- <div class="health-tip-date">
                                  27 Oct ‘18
                              </div> -->
                          </div>
                      </a>
                    </div>
                  </div>
                </li>
                <?php } } ?>
              </ul>
            </div>
          </div>
          <?php if(count($meditate_bit_res->data)) { ?>
          <div class="rows padding_lr20">
            <div class="main-heading margin_bottom10">Recent</div>
            <?php foreach ($meditate_bit_res->data as $bkey => $bvalue) { ?>
            <div class="white-box tips-recent-box">
              <a href="<?php echo $base_url; ?>jiyo/health/details/?id=<?php echo $bvalue->article_id;?>">
                <div class="display-flex">
                  <div class="display-tips-left">
                    <?php
                      $_url = $bvalue->teaser_image->preview;
                      $path  = stristr($_url, 'jpg', true);
                      if($path!= "") {
                    ?>
                    <figure>
                      <img src="<?php echo $_url; ?>" alt="">
                    </figure>
                    <?php  } else { ?>
                      <<figure class="video-icon-pos">
                        <iframe width="100%" height="118" src="<?php echo $_url; ?>" frameborder="0"></iframe>
                      </figure>
                    <?php } ?>
                  </div>
                  <div class="display-tips-right">
                    <div class="health-tip-detail no-padding">
                        <span><?php echo ucfirst($bvalue->title); ?></span>
                        <div class="tips-recent-content">
                          <?php 
                             $string = strip_tags($bvalue->description);
                             if (strlen($string) > 80) {
                                $stringCut = substr($string, 0, 80);
                                $endPoint = strrpos($stringCut, ' ');
                                $string = $endPoint? substr($stringCut, 0, $endPoint):substr($stringCut, 0);
                                echo ucfirst($string).'...';
                             } else {
                              echo ucfirst($string);
                             }
                          ?>
                        </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          <?php } ?>
          </div>
          <?php } ?>
        </div>
        <div id="love">
          <div class="rows padding_top20">
            <div class="main-heading padding_lr20">Trending Articles</div>
            <div id="health_tips_slider4" class="trending-article-slider flexslider thumbnail-tab">
              <ul class="slides">
                <?php if(count($love_res1->data)){
                    foreach ($love_res1->data as $key => $value) {
                ?>
                <li>
                  <div class="item">
                    <div class="health-tips-box-inner">
                      <a href="<?php echo $base_url; ?>jiyo/health/details/?id=<?php echo $value->id;?>">
                          <?php
                            $_url = $value->teaser_image->preview;
                            $path  = stristr($_url, 'jpg', true);
                            if($path!= "") {
                          ?>
                          <figure>
                            <img src="<?php echo $_url; ?>" alt="">
                          </figure>
                          <?php  } else { ?>
                            <div class="video-box">
                              <iframe width="100%" height="118" src="<?php echo $_url; ?>" frameborder="0"></iframe>
                            </div>
                          <?php } ?>
                          <div class="health-tip-detail">
                              <span><?php echo ucfirst($value->title); ?></span>
                              <div class="health-tip-time">
                                  <?php 
                                    foreach ($value->labels as $key => $lvalue) {
                                       if($lvalue->type == 'label_duration'){
                                           echo $lvalue->name.' read';
                                       }
                                    }
                                  ?> 
                              </div>
                              <!-- <div class="health-tip-date">
                                  27 Oct ‘18
                              </div> -->
                          </div>
                      </a>
                    </div>
                  </div>
                </li>
                <?php } } ?>
              </ul>
            </div>
          </div>
          <?php if(count($love_bit_res->data)) { ?>
          <div class="rows padding_lr20">
            <div class="main-heading margin_bottom10">Recent</div>
            <?php foreach ($love_bit_res->data as $bkey => $bvalue) { ?>
            <div class="white-box tips-recent-box">
              <a href="<?php echo $base_url; ?>jiyo/health/details/?id=<?php echo $bvalue->article_id;?>">
                <div class="display-flex">
                  <div class="display-tips-left">
                    <?php
                      $_url = $bvalue->teaser_image->preview;
                      $path  = stristr($_url, 'jpg', true);
                      if($path!= "") {
                    ?>
                    <figure>
                      <img src="<?php echo $_url; ?>" alt="">
                    </figure>
                    <?php  } else { ?>
                      <<figure class="video-icon-pos">
                        <iframe width="100%" height="118" src="<?php echo $_url; ?>" frameborder="0"></iframe>
                      </figure>
                    <?php } ?>
                  </div>
                  <div class="display-tips-right">
                    <div class="health-tip-detail no-padding">
                        <span><?php echo ucfirst($bvalue->title); ?></span>
                        <div class="tips-recent-content">
                          <?php 
                             $string = strip_tags($bvalue->description);
                             if (strlen($string) > 80) {
                                $stringCut = substr($string, 0, 80);
                                $endPoint = strrpos($stringCut, ' ');
                                $string = $endPoint? substr($stringCut, 0, $endPoint):substr($stringCut, 0);
                                echo ucfirst($string).'...';
                             } else {
                              echo ucfirst($string);
                             }
                          ?>
                        </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          <?php } ?>
          </div>
          <?php } ?>
        </div>
        <div id="grow">
          <div class="rows padding_top20">
            <div class="main-heading padding_lr20">Trending Articles</div>
            <div id="health_tips_slider5" class="trending-article-slider flexslider thumbnail-tab">
              <ul class="slides">
                <?php if(count($grow_res1->data)){
                  foreach ($grow_res1->data as $key => $value) {
                ?>
                <li>
                  <div class="item">
                    <div class="health-tips-box-inner">
                      <a href="<?php echo $base_url; ?>jiyo/health/details/?id=<?php echo $value->id;?>">
                          <?php
                            $_url = $value->teaser_image->preview;
                            $path  = stristr($_url, 'jpg', true);
                            if($path!= "") {
                          ?>
                          <figure>
                            <img src="<?php echo $_url; ?>" alt="">
                          </figure>
                          <?php  } else { ?>
                            <div class="video-box">
                              <iframe width="100%" height="118" src="<?php echo $_url; ?>" frameborder="0"></iframe>
                            </div>
                          <?php } ?>
                          <div class="health-tip-detail">
                              <span><?php echo ucfirst($value->title); ?></span>
                              <div class="health-tip-time">
                                  <?php 
                                    foreach ($value->labels as $key => $lvalue) {
                                       if($lvalue->type == 'label_duration'){
                                           echo $lvalue->name.' read';
                                       }
                                    }
                                  ?>
                              </div>
                              <!-- <div class="health-tip-date">
                                  27 Oct ‘18
                              </div> -->
                          </div>
                      </a>
                    </div>
                  </div>
                </li>
                <?php } } ?>
              </ul>
            </div>
          </div>
          <?php if(count($grow_bit_res->data)) { ?>
          <div class="rows padding_lr20">
            <div class="main-heading margin_bottom10">Recent</div>
            <?php foreach ($grow_bit_res->data as $bkey => $bvalue) { ?>
            <div class="white-box tips-recent-box">
              <a href="<?php echo $base_url; ?>jiyo/health/details/?id=<?php echo $bvalue->article_id;?>">
                <div class="display-flex">
                  <div class="display-tips-left">
                    <?php
                      $_url = $bvalue->teaser_image->preview;
                      $path  = stristr($_url, 'jpg', true);
                      if($path!= "") {
                    ?>
                    <figure>
                      <img src="<?php echo $_url; ?>" alt="">
                    </figure>
                    <?php  } else { ?>
                      <<figure class="video-icon-pos">
                        <iframe width="100%" height="118" src="<?php echo $_url; ?>" frameborder="0"></iframe>
                      </figure>
                    <?php } ?>
                  </div>
                  <div class="display-tips-right">
                    <div class="health-tip-detail no-padding">
                        <span><?php echo ucfirst($bvalue->title); ?></span>
                        <div class="tips-recent-content">
                          <?php 
                             $string = strip_tags($bvalue->description);
                             if (strlen($string) > 80) {
                                $stringCut = substr($string, 0, 80);
                                $endPoint = strrpos($stringCut, ' ');
                                $string = $endPoint? substr($stringCut, 0, $endPoint):substr($stringCut, 0);
                                echo ucfirst($string).'...';
                             } else {
                              echo ucfirst($string);
                             }
                          ?>
                        </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          <?php } ?>
          </div>
          <?php } ?>
        </div>
      </div>
    </div>
  </section>
  <script type="text/javascript">
    require(['jquery','jquery/ui','magestore/flexslider'], function($){
        var slider2_initialized = false;
        var slider3_initialized = false;
        var slider4_initialized = false;
        var slider5_initialized = false;
        $("#joy_health_tips_tabs").tabs({
             activate: function( event, ui ) {
                var tab_id = $(ui.newPanel).attr('id');
                if(tab_id == "nourish" && slider2_initialized == false) {
                  $('#health_tips_slider2').flexslider({
                    animation: 'slide',
                    animationLoop: true,
                    itemWidth: 280,
                    slideshow: false,
                    controlNav: false,
                    itemMargin: 0,
                    minItems: 2,
                    directionNav:false,
                  }); 
                  slider2_initialized = true;
                } else if(tab_id == "neditate" && slider3_initialized == false) {
                  $('#health_tips_slider3').flexslider({
                    animation: 'slide',
                    animationLoop: true,
                    itemWidth: 280,
                    slideshow: false,
                    controlNav: false,
                    itemMargin: 0,
                    minItems: 2,
                    directionNav:false,
                  }); 
                  slider3_initialized = true;
                } else if(tab_id == "love" && slider4_initialized == false) {
                  $('#health_tips_slider4').flexslider({
                    animation: 'slide',
                    animationLoop: true,
                    itemWidth: 280,
                    slideshow: false,
                    controlNav: false,
                    itemMargin: 0,
                    minItems: 2,
                    directionNav:false,
                  }); 
                  slider4_initialized = true;
                } else if(tab_id == "grow" && slider5_initialized == false) {
                  $('#health_tips_slider5').flexslider({
                    animation: 'slide',
                    animationLoop: true,
                    itemWidth: 280,
                    slideshow: false,
                    controlNav: false,
                    itemMargin: 0,
                    minItems: 2,
                    directionNav:false,
                  }); 
                  slider5_initialized = true;
                }
            }
        });

        $('#health_tips_slider1').flexslider({
          animation: 'slide',
          animationLoop: true,
          itemWidth: 280,
          slideshow: false,
          controlNav: false,
          itemMargin: 0,
          minItems: 2,
          directionNav:false,
        });
    });
  </script>
</section>