<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product media data template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Gallery
 */
 
 if($this->helper('Ktree\Zoom\Helper\Data')->getEnable()) {
$config  = $this->helper('Ktree\Zoom\Helper\Data')->getZoomConfig();
                $galleryImages = json_decode($block->getGalleryImagesJson(),true); 
                $moreImages = '';
$i = 1;
                foreach($galleryImages  as $galleryImage) {
                        if($galleryImage['isMain'] == true) {
                                $isMain = $galleryImage;
                        }
			$moreImages .= '<a href="#" data-image="'.$galleryImage['img'].'" data-zoom-image="'.$galleryImage['full'].'"> <img id="img_'.$i.'" src="'.$galleryImage['thumb'].'" /> </a>';        
       $i++;
	 }

?>
<div class="media-gallery" data-role="gallery-role">
<div class="main-image">
<img id="main-image" src='<?php echo $isMain['img'] ?>' data-zoom-image="<?php echo  $isMain['full'];?>"/>
</div>
<div class="clear"></div>
<div id="gallery_images">
<?php echo $moreImages;  ?>
</div>
</div>
<?php
$config['showLens'] = true;
$config['containLensZoom'] = true; 
$config['gallery'] ='gallery_images';
$config = array_filter($config);
?>
<script>
require(['jquery','ktreezoom'],function(jQuery){
        jQuery(document).ready(function() {
var zoomConfig = '<?php echo json_encode($config);  ?>';
var jsonZoomConfig  = JSON.parse(zoomConfig);
jsonZoomConfig['zoomType'] = (jQuery( window ).width() > 768 ) ? jsonZoomConfig['zoomType'] : "lens";
jQuery('#main-image').elevateZoom(jsonZoomConfig);
jQuery('#gallery_images > a').on('click', function(){
//console.log(jsonZoomConfig);
    // Remove old instance od EZ
    jQuery('.zoomContainer').remove();
    jQuery('#main-image').removeData('elevateZoom');
    // Update source for images
    jQuery('#main-image').attr('src', jQuery(this).data('image'));
    jQuery('#main-image').data('zoom-image', jQuery(this).data('zoom-image'));
    // Reinitialize EZ
    jQuery('#main-image').elevateZoom(jsonZoomConfig);
});
 });
});
</script>
 
<?php
 }
 else {
	 ?>
	 <div class="gallery-placeholder _block-content-loading" data-gallery-role="gallery-placeholder">
    <div data-role="loader" class="loading-mask">
        <div class="loader">
            <img src="<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/loader-1.gif'); ?>"
                 alt="<?php /* @escapeNotVerified */ echo __('Loading...') ?>">
        </div>
    </div>
</div>
<script type="text/x-magento-init">
    {
        "[data-gallery-role=gallery-placeholder]": {
            "mage/gallery/gallery": {
                "mixins":["magnifier/magnify"],
                "magnifierOpts": <?php /* @escapeNotVerified */ echo $block->getMagnifier(); ?>,
                "data": <?php /* @escapeNotVerified */ echo $block->getGalleryImagesJson(); ?>,
                "options": {
                    "nav": "<?php /* @escapeNotVerified */ echo $block->getVar("gallery/nav"); ?>",
                    "loop": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/loop"); ?>,
                    "keyboard": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/keyboard"); ?>,
                    "arrows": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/arrows"); ?>,
                    "allowfullscreen": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/allowfullscreen"); ?>,
                    "showCaption": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/caption"); ?>,
                    "width": <?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_medium', 'width'); ?>,
                    "thumbwidth": <?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_small', 'width'); ?>,
                    "thumbheight": <?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_small', 'height')
                        ?: $block->getImageAttribute('product_page_image_small', 'width'); ?>,
                    "height": <?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_medium', 'height')
                        ?: $block->getImageAttribute('product_page_image_medium', 'width'); ?>,
                    "transitionduration": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/transition/duration"); ?>,
                    "transition": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/transition/effect"); ?>",
                    "navarrows": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/navarrows"); ?>,
                    "navtype": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/navtype"); ?>",
                    "navdir": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/navdir"); ?>"
                },
                "fullscreen": {
                    "nav": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/nav"); ?>",
                    "loop": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/loop"); ?>,
                    "navdir": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/navdir"); ?>",
                    "arrows": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/arrows"); ?>,
                    "showCaption": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/caption"); ?>,
                    "transitionduration": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/transition/duration"); ?>,
                    "transition": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/transition/effect"); ?>"
                },
                "breakpoints": <?php /* @escapeNotVerified */ echo $block->getBreakpoints(); ?>
            }
        }
    }
</script>
<?php
 }
?>
<style>
@media (max-width: 768px){
    #main-image { width: 100%!important;} /* disable cloud zoom */
}
</style>
