<?php /**
 * Copyright © 2016 Jake Sharp (http://www.jakesharp.co/) All rights reserved.
 */
?>
<?php $_items = $block->getSliderProductsCollection() ?>
<?php if(count($_items)==0) : ?>
<?php return  ?>
<?php endif ?>

<?php $_helper = $this->helper('Magento\Catalog\Helper\Output') ?>
<?php $sliderId = $block->getSliderDisplayId() ?>
<?php $slider = $block->getSlider()  ?>

<?php $image = 'category_page_grid' ?>
<?php $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW ?>
<?php $viewMode = 'grid' ?>
<?php $class = $slider->getType() ?>
<?php $type = "" ?>
<?php $showWishlist = $slider->getDisplayWishlist() ?>
<?php $showCompare = $slider->getDisplayCompare() ?>
<?php $showCart = $slider->getDisplayCart() ?>
<?php
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data');
?>
<section class="recently-products-wrap padding_bottom10">
	<?php if($slider->getDisplayTitle()): ?>
    	<div class="main-heading padding_lr20"><?php /* @escapeNotVerified */ echo $slider->getTitle() ?> <!-- <a href="#" class="pull-right">VIEW ALL</a> --></div>
    <?php endif ?>
    <?php if(!empty($_items)): ?>
	     <div class="jq_hot_sellers flexslider thumbnail-tab">
            <ul class="common-list slides">
                <?php 
                    foreach($_items as $collection): 
                    foreach ($collection as $_item):
                    // code added start for offer price
                    $productPrice = $_item->getPrice();
                    $productSpecialPrice = $_item->getPriceInfo()->getPrice('final_price')->getAmount()->getBaseAmount();
                    $save = $productPrice-$productSpecialPrice;
                    $formattedPrice = $priceHelper->currency($save, true, false);
                    $offer = round((($productPrice-$productSpecialPrice)/$productPrice)*100);
                    $discountpercent = 0;
                    if(isset($productSpecialPrice) && !empty($productSpecialPrice)){
                        $discount = $productPrice - $productSpecialPrice;
                        $discountpercent = round(($discount/$productPrice) * 100);
                    }
                ?>
                <li>
                     <!--<a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_item) ?>">-->
                        <div class="white-box">
                        	<?php if($discountpercent && $discountpercent>0): ?>
                                <div class="offer-tag"><?php echo $discountpercent ."% off";?></div>
                            <?php endif ?>
                            <div class="cat-icon">
                                <a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_item) ?>">
		                            <?php echo $block->getImage($_item, $image)->toHtml(); ?>
		                        </a>
                            </div>
                            <div class="product-name">
                            	<a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_item) ?>">
                                	<?php echo $block->escapeHtml($_item->getName()) ?>
                            	</a>
                            </div>
                             <?php if($slider->getDisplayPrice()): ?>
				                <div class="product-price">
				                	<?php /* @escapeNotVerified */ echo $block->getProductPrice($_item); ?>
				                </div>
			                <?php endif ?>
			                <?php if ($_item->isSaleable()): ?>
			                <div class="">
			                	<?php if ($_item->getTypeInstance()->hasRequiredOptions($_item)): ?>
	                                <button class="action tocart add-cart-btn" data-mage-init='{"redirectUrl": {"url": "<?php /* @escapeNotVerified */ echo $block->getAddToCartUrl($_item) ?>"}}' type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
	                                    <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
	                                </button>
                            	<?php else: ?>
	                                <?php $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
	                                $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()])
	                                ?>
	                                <button class="ptocart add-cart-btn"
	                                        data-postdata='<?php /* @escapeNotVerified */ echo $postData; ?>'
	                                        type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
	                                    <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
	                                </button>
			                </div>
			                <?php 
                                endif; 
                                endif;
                            ?>
                        </div>
                    <!--</a>-->
                </li>
            <?php 
                endforeach;
                endforeach ;
            ?>
            </ul>
        </div>
	<?php endif; ?>
	<script>
	    (function() {
	        require(['jquery', 'magestore/flexslider'], function($) {
	            $(document).ready(function($) {
	                 $('.jq_hot_sellers').flexslider({
	                    animation: 'slide',
	                    animationLoop: true,
	                    itemWidth: 280,
	                    slideshow: false,
	                    controlNav: false,
	                    itemMargin: 10,
	                    minItems: 2,
	                    directionNav:false,
	                });
	            });
	        });
	    })();
	</script>
</section>