<div class="tagalys-namespace" id="tagalys-namespace"></div>

<script>
    require(['jquery'],function(jQuery){
        jQuery(document).on('tagalys:ready', function() {
            jQuery('#tagalys-namespace').tagalys_my_store({
                context: jQuery('body').data('tgls-tagalys_context')
            });
        });
    });
</script>