<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>

<?php
/** @var $block \Magento\Framework\View\Element\Template */
/** @var $helper \Magento\Search\Helper\Data */
$helper = $this->helper('Magento\Search\Helper\Data');
?>

<!-- <div class="mobile-only" >
      <a  href="https://www.apollopharmacy.in/store-locator/" title="Store Locator"><img src="https://www.apollopharmacy.in/pub/media/logo/stores/1/store.jpg" alt="storelocator" width="35"></a>
      <a  href="https://www.apollopharmacy.in/ordermedicine/medicine/ordermedicine" title="Upload Prescription"><img src="https://www.apollopharmacy.in/pub/media/wysiwyg/presc.png" alt="Upload Prescription" width="30"></a>
      </div> -->
      <?php 

$_objectManager = \Magento\Framework\App\ObjectManager::getInstance(); //instance of\Magento\Framework\App\ObjectManager
$storeManager = $_objectManager->get('Magento\Store\Model\StoreManagerInterface'); 
$currentStore = $storeManager->getStore();

$mediaUrl = $currentStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
$baseUrl = $currentStore->getBaseUrl();
?>

<div class="block block-search">
    <div class="block block-title">
        <strong><?php /* @escapeNotVerified */ echo __('Search'); ?></strong>
    </div>
<ul>
    <li>
    <div class="block block-content">
        <form class="form minisearch form-wrapper cf" id="search_mini_form" action="<?php /* @escapeNotVerified */ echo $helper->getResultUrl() ?>" method="get">
            <div class="field search">
                <label class="label" for="search" data-role="minisearch-label" style="display: none;">
                    <span><?php /* @escapeNotVerified */ echo __('Search'); ?></span>
                </label> 
                <div class="control">
                    <input id="search" data-mage-init='{"quickSearch":{ "formSelector":"#search_mini_form", "url":"<?php /* @escapeNotVerified */ echo $block->getUrl('search/ajax/suggest', ['_secure' => $block->getRequest()->isSecure()]); ?>", "destinationSelector":"#search_autocomplete"} }' type="text" name="<?php /* @escapeNotVerified */ echo $helper->getQueryParamName() ?>" value="<?php /* @escapeNotVerified */ echo $helper->getEscapedQueryText() ?>" placeholder="<?php /* @escapeNotVerified */ echo __('Search Medicines and Health Products'); ?>" class="input-text" maxlength="<?php /* @escapeNotVerified */ echo $helper->getMaxQueryLength();?>" role="combobox" aria-haspopup="false" aria-autocomplete="both" autocomplete="off" aria-expanded="true"/>
                    <div id="search_autocomplete" class="search-autocomplete"></div>
                        <div id="search_autoc"><?php echo $block->getChildHtml() ?></div>
                   <button type="submit" title="<?php echo $block->escapeHtml(__('Search')) ?>" style='z-index:99;background: #017c9e;color:#fff;opacity:inherit;'>
                    <span class="m-hide"><?php /* @escapeNotVerified */ echo __('Search'); ?></span> 
                    <span class="md-hide m-vissible"></span>
                </button>
                </div>
            </div>
            <div class="actions desktop-only mobile-search-btn">

            </div>
        </form>
    </div>
    </li>
    <li>
        <div class="uppr">
            <a href="<?php echo $baseUrl;echo 'ordermedicine/medicine/ordermedicine/';?>">
                <!-- <img src="<?php //echo $mediaUrl;echo 'custom/upload-pri.png';?>"/> -->
                <i class='aps aps-upload_prescription'></i>
            </a>
        </div>
    </li>
</ul>
</div>
