<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Checkout\Block\Cart\Item\Renderer */

$_item = $block->getItem();
$product = $_item->getProduct();
$isVisibleProduct = $product->isVisibleInSiteVisibility();
/** @var \Magento\Msrp\Helper\Data $helper */
$helper = $this->helper('Magento\Msrp\Helper\Data');
$canApplyMsrp = $helper->isShowBeforeOrderConfirm($product) && $helper->isMinimalPriceLessMsrp($product);
?>
<div class="add-cart-box">
    <!-- <div class="cart-offer-tag">10% OFF</div> -->
    <div class="row">
        <div class="col-1 no-padding-l no-padding-r padding_top3">
            <?php if ($block->hasProductUrl()):?>
                <a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl() ?>"
                   title="<?php echo $block->escapeHtml($block->getProductName()) ?>"
                   tabindex="-1"
                   class="product-item-photo">
            <?php else:?>
                <span class="product-item-photo">
            <?php endif;?>
            <?php echo $block->getImage($block->getProductForThumbnail(), 'cart_page_product_thumbnail')->toHtml(); ?>
            <?php if ($block->hasProductUrl()):?>
                </a>
            <?php else: ?>
                </span>
            <?php endif; ?>
        </div>
        <div class="col-11">
            <div class="row">
                <div class="col-6">
                    <div class="cart-product-name">
                    <?php if ($block->hasProductUrl()):?>
                        <a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl() ?>"><?php echo $block->escapeHtml($block->getProductName()) ?></a>
                    <?php else: ?>
                        <?php echo $block->escapeHtml($block->getProductName()) ?>
                    <?php endif; ?>
                    </div>
                    <div class="tablet-count">
                            <?php if ($_options = $block->getOptionList()):?>
                            <dl class="item-options">
                                <?php foreach ($_options as $_option) : ?>
                                    <?php $_formatedOptionValue = $block->getFormatedOptionValue($_option) ?>
                                    <dt><?php echo $block->escapeHtml($_option['label']) ?></dt>
                                    <dd>
                                        <?php if (isset($_formatedOptionValue['full_view'])): ?>
                                            <?php /* @escapeNotVerified */ echo $_formatedOptionValue['full_view'] ?>
                                        <?php else: ?>
                                            <?php /* @escapeNotVerified */ echo $_formatedOptionValue['value'] ?>
                                        <?php endif; ?>
                                    </dd>
                                <?php endforeach; ?>
                            </dl>
                        <?php endif;?>
                        <?php if ($messages = $block->getMessages()): ?>
                            <?php foreach ($messages as $message): ?>
                                <div class="cart item message <?php /* @escapeNotVerified */ echo $message['type'] ?>"><div><?php echo $block->escapeHtml($message['text']) ?></div></div>
                            <?php endforeach; ?>
                        <?php endif; ?>
                        <?php $addInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
                        <?php if ($addInfoBlock): ?>
                            <?php echo $addInfoBlock->setItem($_item)->toHtml() ?>
                        <?php endif;?>
                    </div>
                </div>
                <div class="col-6">
                    <div class="pull-right">
                        <div class="total-title">Unit Price</div>
                        <div class="total-price">
                            <?php if ($canApplyMsrp): ?>
                                <span class="pricing msrp">
                                    <span class="msrp notice"><?php /* @escapeNotVerified */ echo __('See price before order confirmation.'); ?></span>
                                    <?php $helpLinkId = 'cart-msrp-help-' . $_item->getId(); ?>
                                    <a href="#" class="action help map" id="<?php /* @escapeNotVerified */ echo($helpLinkId); ?>" data-mage-init='{"addToCart":{"helpLinkId": "#<?php /* @escapeNotVerified */ echo $helpLinkId;?>","productName": "<?php /* @escapeNotVerified */ echo $product->getName(); ?>","showAddToCart": false}}'>
                                        <span><?php /* @escapeNotVerified */ echo __("What's this?"); ?></span>
                                    </a>
                                </span>
                            <?php else: ?>
                                <?php echo $block->getUnitPriceHtml($_item); ?>
                            <?php endif; ?>

                       </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-12">
                    <div class="del-info">Delivered by: Apollo Medipoint, Aundh</div>
                    <div class="del-info">Estimated Delivery Time : 8 Nov, 2018 </div>
                </div>
            </div> -->
            <div class="cart-bottom-action-sec">
                <div class="row">
                    <div class="col-6 text-left">
                        <?php /* @escapeNotVerified */ echo $block->getActions($_item) ?>
                    </div>
                    <div class="col-6 text-right">
                        <div class="count-add">
                            <span class="minus">-</span>
                            <input id="cart-<?php /* @escapeNotVerified */ echo $_item->getId() ?>-qty"
                               name="cart[<?php /* @escapeNotVerified */ echo $_item->getId() ?>][qty]"
                               data-cart-item-id="<?php /* @escapeNotVerified */ echo $_item->getSku() ?>"
                               value="<?php /* @escapeNotVerified */ echo $block->getQty() ?>"
                               type="number"
                               size="4"
                               title="<?php echo $block->escapeHtml(__('Qty')); ?>"
                               class="input-text qty count"
                               maxlength="12"
                               data-validate="{required:true,'validate-greater-than-zero':true}"
                               data-role="cart-item-qty"/>
                            <span class="plus">+</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>