<!--
/**
 * Ebaymagentoconnect Order import script
 *
 * @category    Webkul
 * @package     Webkul_Ebaymagentoconnect
 * @author      Webkul Software Private Limited
 *
 */
-->
<script  >
require([
    'jquery'
], function(jQuery){
    (function($) {
        $('#sync_from_ebay-import_order_from_ebay').click(function(e){
            $('#sync_from_ebay .action-toggle').trigger('click');
            $('.admin__data-grid-loading-mask,.admin__menu-overlay').show();

        	var subcat=$(this);
        	e.preventDefault();
            $.ajax({
                url: "<?php echo $block->getUrl('*/*/import')?>",
                data: {form_key: window.FORM_KEY},
                type: 'POST',
                dataType:'JSON',
                success: function(ebayPro){
                    if(ebayPro.error_msg==false){
                        var msg='Total '+ebayPro.data.length +' orders imported in your store from eBay run order profiler for create these order in your store';
                        var notification= '<div style="color:red;">'+ebayPro.notification+'</div>';
                        $('<div />').html(msg+notification)
                            .modal({
                                title: $.mage.__('Attention'),
                                autoOpen: true,
                                buttons: [{
                                 text: 'OK',
                                    attr: {
                                        'data-action': 'cancel'
                                    },
                                    'class': 'action-primary',
                                    click: function() {
                                            this.closeModal();
                                        }
                                }]
                            });
                    }else{
                        $('<div />').html(ebayPro.error_msg)
                            .modal({
                                title: $.mage.__('Attention'),
                                autoOpen: true,
                                buttons: [{
                                 text: 'OK',
                                    attr: {
                                        'data-action': 'cancel'
                                    },
                                    'class': 'action-primary',
                                    click: function() {
                                            this.closeModal();
                                        }
                                }]
                            });
                    }
                },
                error: function(error){
                	console.log(error);
                }
            }).done(function(){
            	$('.admin__data-grid-loading-mask,.admin__menu-overlay').hide();
            });
        });

        $('#sync_from_ebay-profiler_for_create_order').click(function(e) {
            $('#sync_from_ebay .action-toggle').trigger('click');
            window.open("<?php echo $this->getUrl('ebaymagentoconnect/ebayorder/profiler')?>");
        });   
    })(jQuery);
});
</script>