<?php
/**
 * Webkul software.
 * @category Webkul
 * @package Webkul_ZipCodeValidator
 * @author Webkul
 * @copyright Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license https://store.webkul.com/license.html
 */ 
/*$product = $block->getProduct();
$type = $product->getTypeId();
$stock = $block->getStockValue();
if ($type != 'virtual' && $type != 'downloadable' && $stock) {
$url = $this->getUrl();
$data = json_encode(['url' => $url ]); 
$postcode = $block->getCustomerZipcode();

$pincodesession = "";
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$checkoutSession = $objectManager->get('Magento\Checkout\Model\Session');		
$pincodesession = $checkoutSession->getPincodesession();

if($pincodesession!="")
{
	$postcode = $pincodesession;
}

?>


<div class="wk-zcv-zipbox">
	<div class="wk-zcv-zip">
		<div class="wk-zcv-wrapper">
			<div class="wk-zcv-zipcodeform">
				<form autocomplete="off">
					<input type="text" name="zipcode" placeholder="<?php echo __('Enter Delivery Zipcode'); ?>" class="wk-zcv-zipform0" title="zipcode" data-id="<?php echo $product->getId(); ?>" seller-data-id="0" value="<?php echo $postcode ; ?>" autocomplete="off"/>
						<div id="wk-zcv-check0" data-pro-id="<?php echo $product->getId(); ?>" data-id="0"><span>Check</span></div>
				</form>
				<div class="wk-zcv-zipcookie0">
					<ul id="wk-zcv-addr0"></ul>
				    <ul id="wk-zcv-cookie0"></ul>
				    <ul id="wk-zcv-login0"></ul>
			    </div>
		    </div>
		    <div class="wk-zcv-loader0"></div>
	    </div>
		<div class="wk-zcv-ziperror0" id="wk-zcv-error"></div>
		<div class="wk-zcv-zipsuccess0"></div>
	</div>
</div>

<script type="text/x-magento-init">
{
"body": {
"Webkul_ZipCodeValidator/js/viewonproduct": <?php echo $data ?>
}
}
</script>

<?php }*/ ?>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');
$storeManager = $objectManager->create('Magento\Store\Model\StoreManagerInterface');
$catalogSession = $objectManager->get('Magento\Catalog\Model\Session');
$productType = $objectManager->create('Apollo\AssignOrders\Observer\Updateorderinfo')->getOrderTypes($product->getId(),$objectManager);

$existingPincode = $catalogSession->getCustomerPincode();

$checkoutSession = $objectManager->get('Magento\Checkout\Model\Session');
$pincodesession = $checkoutSession->getPincodesession();

if($pincodesession!="")
{
    $existingPincode = $pincodesession;
}
//print "existingPincode : ". $existingPincode;
?>
<div class="product_cod_check" style="padding-top:-100px">
    <div class="product_page_cod_check">
        <form class="product_page_cod_check_form" name="product_page_cod_check_form" action="" method="post" data-hasrequired="<?php echo __('* Required Fields') ?>" data-mage-init='{"validation":{}}'>
            <input type="hidden" value="<?php echo $productType; ?>" id="product_type_hidden">
            <input type="hidden" value="<?php echo $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);; ?>" id="application_url">
            <h3>Check delivery time & COD Availability</h3>
            <div class="pin_code">
                <input data-validate="{required:true,minlength:6,digits:true}" type="text" name="cod_pincode" class="pincode-iput" placeholder="Enter Pincode" id="cod_pincode" value="<?php echo $existingPincode; ?>" maxlength="6"/>
                <input type="submit" class="pincode-btn check_pincode_availability" value="Check"/>
            </div>
        </form>
    </div>
    <?php if(!empty($existingPincode)){
        $result = $objectManager->create('Apollo\Medicine\Helper\Data')->getCodShippingAvailbility($existingPincode);

        $responseHtml = $objectManager->create('Apollo\Medicine\Controller\Medicine\Productzipcodecheck')->getMessage($productType,$result);
        ?>
        <div class="clearfix"></div>
        <div id="pincode_check_message">
            <?php echo $responseHtml; ?>
        </div>
    <?php }else{
        echo  '<div id="pincode_check_message"></div>';
    } ?>
</div>
