<?php 

 $data=$block->getCustomData();

?>
 
<table>
<tr>
<th>SKU</th>

<th>Start Date</th>
<th>Frequency</th>

<th>Qty</th>
<th>Ship To</th>
<th>Action</th>
</tr>
<?php foreach($data as $dat ){?>
<tr>

<td><?php echo $block->getIdFromSku($dat['product_id']);  ?></td>

<td><?php echo $dat['start_date']; ?></td>
<td><?php echo $dat['frequency']; ?>days</td>
<td><?php echo $dat['quantity']; ?></td>
<td><?php echo $dat['shipping_name']; ?></td>
<td><a href="<?php echo $block->getmyUrl();?>reminder/index/delete/id/<?php echo $dat['id']; ?>">Stop</a>||<a href="<?php echo $block->getmyUrl();?>reminder/customer/edit/id/<?php echo $dat['id']; ?>">Edit</a></td>

</tr>
<?php  }  ?>
</table>
<?php if (empty($data))
{
 echo "No data available.";
}
?>