<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
 <!-- ko if: getValuewithoutformatted() != '0.00' -->
<tr class="totals paymentfee excl">
    <th class="mark" colspan="1" scope="row" data-bind="text: getLable()"></th>
    <td class="amount">
        <span class="price" data-bind="text: getValue()"></span>
    </td>
</tr>
<!-- /ko -->