<?php

/**

 * Copyright © 2013-2017 Magento, Inc. All rights reserved.

 * See COPYING.txt for license details.

 */



// @codingStandardsIgnoreFile

?>

<?php if ($block->isPossibleOnepageCheckout()):?>

<?php

$luy = $block->getLayout()->createBlock('Retail\Subscribe\Block\QuoteItem');

$quote = $luy->getCheckoutSession()->getQuote();

$getGrandTotal = $quote->getGrandTotal();

$items = $quote->getAllItems();

$product= $block->getLayout()->createBlock('Retail\Subscribe\Block\Product');

$save_ids = array();

foreach($items as $item) {

	$quote_prodid = $item->getProductId();

	$prod_obj =$product->getProduct($quote_prodid);

	$ss_plan = $prod_obj->getResource()->getAttribute('ss_plan')->getFrontend()->getValue($prod_obj);

	if($ss_plan == 'No'){

        array_push($save_ids,$quote_prodid);

    }

}

if(!empty($save_ids)){
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                $customerSession = $objectManager->get('Magento\Customer\Model\Session');
                if(!$customerSession->isLoggedIn()) {
?>
    <span class="errors" style="color: red;display:none;font-size: 13px;">Cart Value should be minimum Rs. 600. Please add more products.</span>
    <button type="button"

            data-role="proceed-to-checkout"

            title="<?php /* @escapeNotVerified */ echo __('Proceed to Checkout') ?>"

            class="action primary checkout<?php echo($block->isDisabled()) ? ' disabled' : ''; ?>"

            <?php if ($block->isDisabled()):?>disabled="disabled"<?php endif; ?>>

        <span><?php /* @escapeNotVerified */ echo __('Proceed to Checkout') ?></span>

    </button>
    <?php }else{ ?>
    <span class="errors" style="color: red; display:none;font-size: 13px;">Cart Value should be minimum Rs. 600. please add more products.</span>
    <button type="button"

            data-role="proceed-to-checkout"

            title="<?php /* @escapeNotVerified */ echo __('Proceed to Checkout') ?>"

            data-mage-init='{"Magento_Checkout/js/proceed-to-checkout":{"checkoutUrl":"<?php /* @escapeNotVerified */ echo $block->getCheckoutUrl(); ?>"}}'

            class="action primary checkout<?php echo($block->isDisabled()) ? ' disabled' : ''; ?>"

            <?php if ($block->isDisabled()):?>disabled="disabled"<?php endif; ?>>

        <span><?php /* @escapeNotVerified */ echo __('Proceed to Checkout') ?></span>

    </button>

<?php } 

}else{
                $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                $customerSession = $objectManager->get('Magento\Customer\Model\Session');
                if(!$customerSession->isLoggedIn()) {
                  ?>
                  <span class="errors" style="color: red;display:none;font-size: 13px;">Cart Value should be minimum Rs. 600. Please add more products.</span>
                  <button type="button"

            data-role="proceed-to-checkout"

            title="<?php /* @escapeNotVerified */ echo __('Proceed to Checkout') ?>"

            class="action primary checkout<?php echo($block->isDisabled()) ? ' disabled' : ''; ?>"">

        <span><?php /* @escapeNotVerified */ echo __('Proceed to Checkout') ?></span>

    </button>
                  <?php 

                }else{

    	?>
     <span class="errors" style="color: red;display:none;font-size: 13px;">Cart Value should be minimum Rs. 600. Please add more products.</span>
    	<button type="button"

            data-role="proceed-to-checkout"

            title="<?php /* @escapeNotVerified */ echo __('Proceed to Checkout') ?>"

            data-mage-init='{"Magento_Checkout/js/proceed-to-checkout":{"checkoutUrl":"<?php /* @escapeNotVerified */ echo $block->getCheckoutUrl(); ?>"}}'

            class="action primary checkout<?php echo($block->isDisabled()) ? ' disabled' : ''; ?>"">

        <span><?php /* @escapeNotVerified */ echo __('Proceed to Checkout') ?></span>

    </button>

    	<?php
}

}

    ?>

<?php endif?>

<script>
require([ 'jquery', 'jquery/ui'], function($){
    jQuery(document).ready(function(){ 
      console.log('hello112');
            var retail_url = $("#retail_url").val(); 
                $.ajax({
                    showLoader: true,
                    url: retail_url,
                    data: {},
                    type: "POST"
                  }).done(function (data) {
                    if(data == '1'){
                      var obj = $(".error");
                      if(obj.text() == "")
                      {
                        console.log('come heeeeeee');
                  $(".errors").show();
                  jQuery('.checkout').prop('disabled', true);
                      }
                    }else{
                        console.log('test successful');
                    }
                  });
    })
})
</script>