<?php echo 'In Feeedback'; ?>
<!-- Feedback Area // START -->
<div id="feedback_holder" class="feedback-logo">
    <span><?php //echo __('FEEDBACK') ?></span> 
</div>
<div id="feedback">
    <div id="formdiv" class="formdiv">

        <div id="feedback-side-logo" class="feedback-logo">
            <span><?php echo __('Feedback') ?></span> 
        </div>
        <div id="feed_close" class="feed_close">
            <a href="javascript:void(0);"><?php //echo __('Close') ?></a>
        </div>
        
        <div class="box">
            <form method="post" action="<?php echo $block->getControllerUrl('fancyfeedback/index/submit') ?>" id="fdb_form">
                <table border="0"> 
                    <tr>
                        <td><label><?php echo __('Name') ?> <span style="color:red">* </span> </label><br/><input type="text" maxlength="15" name="fdb_name" id="fdb_name"/> </td>
                        <td valign="middle" align="right"></td>
                    </tr>
                    <tr>
                        <td colspan="2"><label>Email <span style="color:red">* </span> </label><br/><input type="text" name="fdb_email" id="fdb_email"/></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label><?php echo __('Phone') ?>:</label><br/>
                            <input type="text" name="fdb_phone" id="fdb_phone"/><br>
                            
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label><?php echo __('Message') ?> <span style="color:red">* </span> </label><br/>
                            <textarea rows="5" cols="16" name="fdb_msg" id="fdb_msg"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><input id="fdb_submit_btn" type="button" value="<?php echo __('Submit') ?>"/>
                            <span id="fdb_errors"></span>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
<div class="form_submit"></div>
<!-- Feedback Area // END -->

<script>
    require([
        "jquery",
        "Magento_Ui/js/modal/modal"
    ], function($, modal){
        var options = {
            type: 'popup',
            responsive: true,
            innerScroll: true,
            title: "Feedback", //write your popup title 
            buttons: [{
                //text: $.mage.__('Submit'),
                //class: 'button',
                click: function () {
                    //alert("here");
                    //return false;
                    //console.log('Do something here......');
                    // Do something here........
                }
            }]
        };
        var popupdata = $('<div />').append($('#formdiv'));
        modal(options, popupdata);
        popupdata.modal('openModal');
    });
</script>  
