<?php
/**
* @copyright Copyright (c) 2016 www.magebuzz.com
*/
?>
<?php
$enableFacebook = $block->_scopeConfig->getValue('socialshare/facebook/enable_facebook', \Magento\Store\Model\ScopeInterface::SCOPE_STORE);
$enableTwitter = $block->_scopeConfig->getValue('socialshare/twitter/enable_twitter', \Magento\Store\Model\ScopeInterface::SCOPE_STORE);
$enableGooglePlus = $block->_scopeConfig->getValue('socialshare/googleplus/enable_google_plus', \Magento\Store\Model\ScopeInterface::SCOPE_STORE);
$enablePinit = $block->_scopeConfig->getValue('socialshare/pinitsharing/enable_pinit', \Magento\Store\Model\ScopeInterface::SCOPE_STORE);
?>

<span class="social-menu">
	<a href="#">
		<img src="<?php echo $this->getViewFileUrl('images/share_2_copy_2.png'); ?>" />
	</a>
	<ul class="social-menu-drop">
	<?php
	if($enableFacebook == 1):
		echo '<li>'.$block->getFacebookButton().'</li>';
	endif;

	if($enableTwitter == 1):
		echo '<li>'.$block->getTwitterButton().'</li>';
	endif;

	if($enableGooglePlus == 1):
	  	echo '<li>'.$block->getGooglePlusButton().'</li>';
	endif;

	if($enablePinit == 1):
		echo '<li>'.$block->getPinItButton().'</li>';
	endif;
	?>
	</ul>
</span>
