<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Form\Edit $block */
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
$customerMobile = "";
if($customerSession->isLoggedIn()) {
    $customerMobile = $customerSession->getCustomer()->getData('mobile_number');
}
?>
<section class="main-sec">
    <div class="header-part">
        <div class="heading-top">
            <a href="javascript:window.history.back();">
                <img src="<?php echo $this->getViewFileUrl('images/left-arrow.png'); ?>">
            </a>
            <div class="heading-text">
                <?php /* @escapeNotVerified */ echo __('Edit Account Information') ?>
            </div>
        </div>
    </div>
    <div class="rows-sec padding_lr20">
        <div class="white-box profile-edit-box">
            <div class="profile-edit-form form-inner">
                <form class="form form-edit-account" action="<?php /* @escapeNotVerified */ echo $block->getUrl('customer/account/editPost') ?>" method="post" id="form-validate" enctype="multipart/form-data" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>" autocomplete="off">
                    <fieldset class="fieldset info">
                        <?php echo $block->getBlockHtml('formkey')?>
                        <?php echo $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Name')->setObject($block->getCustomer())->toHtml() ?>

                        <?php $_dob = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Dob') ?>
                        <?php $_taxvat = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Taxvat') ?>
                        <?php $_gender = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Gender') ?>
                        <?php if ($_dob->isEnabled()): ?>
                            <?php echo $_dob->setDate($block->getCustomer()->getDob())->toHtml() ?>
                        <?php endif ?>
                        <?php if ($_taxvat->isEnabled()): ?>
                            <?php echo $_taxvat->setTaxvat($block->getCustomer()->getTaxvat())->toHtml() ?>
                        <?php endif ?>
                        <?php if ($_gender->isEnabled()): ?>
                            <?php echo $_gender->setGender($block->getCustomer()->getGender())->toHtml() ?>
                        <?php endif ?>

                        <?php 
                          $email = $block->getCustomer()->getEmail();
                          $enumber = strstr($email, '@', true);
                          if(is_numeric($enumber) && strlen($enumber)==8){
                           $changed = 1;
                          }else {
                            $changed = 0;
                          }
                        ?>


                        <!-- Mobile Number Addition and edit -->
                        <div class="form-group required">
                            <input type="text" id="mobile_number_save" name="mobile_number" value="<?php echo $customerMobile; ?>" title="Mobile No." class="form-control required-entry validate-digits mobile_number_save" data-validate="{required:true}" minlength="10" maxlength="10" aria-required="true">
                        </div>

                        <div class="field choice">
                            <div class="checkbox custom-checkbox">
                                <input type="checkbox" name="change_email" id="change-email" data-role="change-email" value="1" title="<?php /* @escapeNotVerified */ echo __('Change Email') ?>" class="checkbox" <?php //echo ($changed:"checked='checked'":""); ?>/>
                                <label class="label" for="change-email"><span><?php /* @escapeNotVerified */ echo __('Change Email') ?></span></label>
                            </div>
                        </div>
                        <div class="field choice">
                            <div class="checkbox custom-checkbox">
                                <input type="checkbox" name="change_password" id="change-password" data-role="change-password" value="1" title="<?php /* @escapeNotVerified */ echo __('Change Password') ?>"<?php if ($block->getChangePassword()): ?> checked="checked"<?php endif; ?> class="checkbox" />
                                <label class="label" for="change-password"><span><?php /* @escapeNotVerified */ echo __('Change Password') ?></span></label>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="fieldset password" data-container="change-email-password">
                        <legend class="legend"><span data-title="change-email-password"><?php /* @escapeNotVerified */ echo __('Change Email and Password') ?></span></legend><br>
                        <div class="field email required" data-container="change-email">
                            <label class="label" for="email"><span><?php /* @escapeNotVerified */ echo __('Email') ?></span></label>
                            <div class="control">
                                <input type="email" name="email" id="email" autocomplete="email" data-input="change-email" value="<?php echo $changed?'':$block->escapeHtml($block->getCustomer()->getEmail()) ?>" title="<?php /* @escapeNotVerified */ echo __('Email') ?>" class="input-text form-control" data-validate="{required:true, 'validate-email':true}" />
                            </div>
                        </div>
                        <div class="field password current required">
                            <label class="label" for="current-password"><span><?php /* @escapeNotVerified */ echo __('Current Password') ?></span></label>
                            <div class="control">
                                <input type="password" class="input-text form-control" name="current_password" id="current-password" data-input="current-password" autocomplete="off" />
                            </div>
                        </div>
                        <div class="field new password required" data-container="new-password" data-mage-init='{"passwordStrengthIndicator": {}}'>
                            <label class="label" for="password"><span><?php /* @escapeNotVerified */ echo __('New Password') ?></span></label>
                            <div class="control">
                                <input type="password" class="input-text form-control" name="password" id="password"
                                    data-password-min-length="<?php echo $block->escapeHtml($block->getMinimumPasswordLength()) ?>"
                                    data-password-min-character-sets="<?php echo $block->escapeHtml($block->getRequiredCharacterClassesNumber()) ?>"
                                    data-input="new-password"
                                    data-validate="{required:true, 'validate-customer-password':true}"
                                    autocomplete="off" />
                                <div id="password-strength-meter-container" data-role="password-strength-meter" >
                                    <div id="password-strength-meter" class="password-strength-meter">
                                        <?php /* @escapeNotVerified */ echo __('Password Strength'); ?>:
                                        <span id="password-strength-meter-label" data-role="password-strength-meter-label" >
                                            <?php /* @escapeNotVerified */ echo __('No Password'); ?>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field confirm password required" data-container="confirm-password">
                            <label class="label" for="password-confirmation"><span><?php /* @escapeNotVerified */ echo __('Confirm New Password') ?></span></label>
                            <div class="control">
                                <input type="password" class="input-text form-control" name="password_confirmation" id="password-confirmation"
                                    data-input="confirm-password"
                                    autocomplete="off" />
                            </div>
                        </div>
                        <?php echo $block->getChildHtml('form_additional_info'); ?>
                    </fieldset>
                    <div class="actions-toolbar fix-button-sec">
                        <div class="primary">
                            <button type="submit" class="action save primary btn-primary btn-block green-button" title="<?php /* @escapeNotVerified */ echo __('Save') ?>"><span><?php /* @escapeNotVerified */ echo __('Save') ?></span></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script>
    require([
        "jquery",
        "mage/mage"
    ], function($){
        var dataForm = $('#form-validate');
        var ignore = <?php /* @escapeNotVerified */ echo $_dob->isEnabled() ? '\'input[id$="full"]\'' : 'null'; ?>;
        
        dataForm.mage('validation', {
        <?php if ($_dob->isEnabled()): ?>
            errorPlacement: function(error, element) {
                if (element.prop('id').search('full') !== -1) {
                    var dobElement = $(element).parents('.customer-dob'),
                        errorClass = error.prop('class');
                    error.insertAfter(element.parent());
                    dobElement.find('.validate-custom').addClass(errorClass)
                        .after('<div class="' + errorClass + '"></div>');
                }
                else {
                    error.insertAfter(element);
                }
            },
            ignore: ':hidden:not(' + ignore + ')'
        <?php else: ?>
            ignore: ignore ? ':hidden:not(' + ignore + ')' : ':hidden'
        <?php endif ?>
        });

        $(document).ready(function($) {
            <?php if($changed){ ?>
                $('#change-email').trigger('click');
            <?php } ?>
        });

    });
</script>
<script type="text/x-magento-init">
    {
        "[data-role=change-email], [data-role=change-password]": {
            "changeEmailPassword": {
                "titleChangeEmail": "<?php /* @escapeNotVerified */ echo __('Change Email') ?>",
                "titleChangePassword": "<?php /* @escapeNotVerified */ echo __('Change Password') ?>",
                "titleChangeEmailAndPassword": "<?php /* @escapeNotVerified */ echo __('Change Email and Password') ?>"
            }
        }
    }
</script>
