<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Account\Resetpassword $block */
?>
<section class="form-sec">
    <div class="header-part">
        <div class="heading-top">
            <a href="<?php echo $block->getBaseUrl();?>">
                <img src="<?php echo $this->getViewFileUrl('images/left-arrow.png'); ?>">
            </a>
            <div class="heading-text">
                Login
            </div>
        </div>
    </div>
    <div class="form-body">
        <div class="logo-sec">
          <img src="<?php echo $this->getViewFileUrl('images/reset_pass.png'); ?>" />
        </div>
        <form action="<?php /* @escapeNotVerified */ echo $block->getUrl('*/*/resetpasswordpost', ['_query' => ['id' => $block->getCustomerId(), 'token' => $block->getResetPasswordLinkToken()]]); ?>" method="post" <?php if ($block->isAutocompleteDisabled()) :?> autocomplete="off"<?php endif; ?> id="form-validate" class="form password reset" data-mage-init='{"validation":{}}'>

            <label class="main-form-heading"><?php /* @escapeNotVerified */ echo __('New Password'); ?></label>
            <div class="form-group password required" data-mage-init='{"passwordStrengthIndicator": {}}'>
                <input type="password" class="form-control input-text" placeholder="Enter new password" name="password" id="password" data-password-min-length="<?php echo $block->escapeHtml($block->getMinimumPasswordLength()) ?>" data-password-min-character-sets="<?php echo $block->escapeHtml($block->getRequiredCharacterClassesNumber()) ?>" data-validate="{required:true, 'validate-customer-password':true}" autocomplete="off">

                <div id="password-strength-meter-container" data-role="password-strength-meter">
                    <div id="password-strength-meter" class="password-strength-meter">
                        <?php /* @escapeNotVerified */ echo __('Password Strength'); ?>:
                        <span id="password-strength-meter-label" data-role="password-strength-meter-label">
                            <?php /* @escapeNotVerified */ echo __('No Password'); ?>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group confirmation required">
              <input type="password" class="form-control input-text" placeholder="Conform password" name="password_confirmation" id="password-confirmation" data-validate="{required:true,equalTo:'#password'}" autocomplete="off">
            </div>
            <button type="submit" class="btn btn-primary btn-block action submit primary"><?php /* @escapeNotVerified */ echo __('Set a New Password'); ?></button>
        </form>
    </div>
</section>
