<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var \Magento\Theme\Block\Html\Header\Logo $block
 */
?>
<?php 
$storeName = $block->getThemeName() ? $block->getThemeName() : $block->getLogoAlt();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$base_url = $storeManager->getStore()->getBaseUrl();
?>
<span data-action="toggle-nav" class="action nav-toggle m-nav-icon m-top-nav-col"><span><?php /* @escapeNotVerified */ echo __('Toggle Nav') ?></span></span>
<a id="service_locator_id_mobile" class="" href="javascript:void(0);" title="Store Locator">
    <span style="display: none" id="service_locator_id_mobile_old"  class="m-top-nav-col m-map-icon" title="Store Locator">
    	<!-- <img src="<?php //echo $base_url; ?>pub/media/logo/stores/1/m-map-icon.png" alt="storelocator" width="35"> -->
    	<i class="aps aps-m_store_locator_38x38"></i>
    </span>
</a>

<a style="display: none" class="m-top-nav-col m-upload-icon" href="<?php echo $block->getUrl('ordermedicine/medicine/ordermedicine'); ?>" title="Upload Prescription">
	<!-- <img src="<?php //echo $base_url; ?>pub/media/wysiwyg/presc.png" alt="Upload Prescription" width="30"> -->
	<i class="aps aps-m_precription_32x43"></i>
</a>

<?php if ($block->isHomePage()):?>
<?php else: ?>
    
<?php endif ?>
<a href="<?php echo $block->getUrl(''); ?>" title="<?php /* @escapeNotVerified */ echo $storeName ?>">
		<div class="m-logo md-hide m-vissible m-top-nav-col"></div>
        <img class="logo m-hide" src="<?php /* @escapeNotVerified */ echo $block->getLogoSrc() ?>"
             alt="<?php /* @escapeNotVerified */ echo $block->getLogoAlt() ?>"
             <?php echo $block->getLogoWidth() ? 'width="' . $block->getLogoWidth() . '"' : '' ?>
             <?php echo $block->getLogoHeight() ? 'height="' . $block->getLogoHeight() . '"' : '' ?>
        />
        </a>
<?php if ($block->isHomePage()):?>
<?php else:?>
    
<?php endif?>
