<?php if ($this->isTagalysEnabled()): ?>
    <?php
        $analyticsEvent = $this->getEvent('__ta_event');
    ?>
    <?php if ($analyticsEvent != false): ?>
        <script>
            require(['jquery', 'jquery/ui'], function(jQuery){
                try {
                    jQuery(document).on('tagalys:ready', function() {
                        var track = true;
                        <?php if ($analyticsEvent[2] == 'buy'): ?>
                            var last_tracked_order_id = jQuery.fn.tagalys_analytics.getCookie('__ta_last_order_id');
                            if (last_tracked_order_id == '<?php echo $analyticsEvent[4] ?>') {
                                track = false;
                            } else {
                                jQuery.fn.tagalys_analytics.setCookie('__ta_last_order_id', '<?php echo $analyticsEvent[4] ?>', 24*60*60*1000);
                            }
                        <?php endif; ?>
                        if (track) {
                            jQuery.ajax({
                                url: "<?php echo $this->getProductDetailsUrl(); ?>",
                                data: { event_json: '<?php echo json_encode($analyticsEvent) ?>' },
                                dataType: 'json',
                                method: 'POST',
                                context: <?php echo json_encode($analyticsEvent) ?>,
                                success: function(data, textStatus, jqXHR) {
                                    for (var i = 0; i < this[3].length; i++) {
                                        if (this[2] == 'buy') {
                                            jQuery.fn.tagalys_analytics.track_event(this[1], jQuery.extend({ action: this[2], order_id: this[4] }, data[i]));
                                        } else {
                                            jQuery.fn.tagalys_analytics.track_event(this[1], jQuery.extend({ action: this[2] }, data[i]));
                                        }
                                    }
                                }
                            });
                        }
                    });
                }
                catch(err) {
                    
                }
            });
        </script>
    <?php endif; ?>
    <script>
        require(['jquery', 'jquery/ui'], function(jQuery){
            try {
                jQuery(document).on('tagalys:ready', function() {
                    var logged_in_user_id = jQuery.fn.tagalys_analytics.getCookie('__ta_logged_in');
                    if(logged_in_user_id != ""){
                        jQuery.fn.tagalys_analytics.track_user(logged_in_user_id); 
                        jQuery.fn.tagalys_analytics.deleteCookie('__ta_logged_in');
                    }
                });
            }
            catch(err) {
                
            }
        });
    </script>
<?php endif; ?>
