<?php
$categories = $this->getStoreCategories(true,false,true);
$categoryHelper = $this->getCategoryHelper();
if(!empty($categories)){
?>
 <section class="shop-cat-wrap padding_top15">
    <div class="main-heading"><?php /* @escapeNotVerified */ echo __('Offer on Categories'); ?></div>
    <div class="shop-category-slider flexslider thumbnail-tab">
        <ul class="slides">
        <?php
        foreach($categories as $category):
            if (!$category->getIsActive()) {
                continue;
            }
        ?>
         <li>
            <div class="white-box">
                <?php if(!empty($this->getImageUrl($category))) { ?>
                    <div class="cat-icon">
                        <a href="<?php echo $categoryHelper->getCategoryUrl($category) ?>">
                            <div class="offer-tag small-tag">Save<br><?php echo $category->getCategoryDiscount(); ?>%</div>
                            <img width="45px" src="<?php echo $this->getImageUrl($category) ?>">
                        </a>
                    </div>
                <?php } else { ?>
                    <div class="cat-icon">
                        <a href="<?php echo $categoryHelper->getCategoryUrl($category) ?>">
                            <div class="offer-tag small-tag">Save<br><?php echo $category->getCategoryDiscount(); ?>%</div>
                            <img width="45px" src="<?php echo $this->getViewFileUrl('images/apollo_default-img.png'); ?>">
                        </a>
                    </div>
                <?php } ?>
                <div class="cat-title"><a href="<?php echo $categoryHelper->getCategoryUrl($category) ?>"><?php echo $category->getName(); ?></a></div>
            </div>
        </li>
    <?php endforeach; ?>
        </ul>
    </div>
    <script>
    (function  () {
        require(['jquery', 'magestore/flexslider'], function($) {
            $(document).ready(function($) {
                 $('.shop-category-slider').flexslider({
                    animation: 'slide',
                    animationLoop: true,
                    itemWidth: 210,
                    slideshow: false,
                    controlNav: false,
                    itemMargin: 3,
                    minItems: 3,
                    directionNav:false,
                    start: function(slider){
                        $('body').removeClass('loading');
                    }
                });

            });
        });
    })();
</script>
</section>
<?php } ?>