<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /* @var $captcha \Magento\Captcha\Model\DefaultModel */ ?>
<?php /* @var $block \Magento\Captcha\Block\Captcha\DefaultCaptcha */ ?>
<?php $captcha = $block->getCaptchaModel() ?>
<div class="field captcha required text-left" role="<?php /* @escapeNotVerified */ echo $block->getFormId()?>">
    <label class="text-left" for="captcha_<?php /* @escapeNotVerified */ echo $block->getFormId() ?>" class="label"><span><?php /* @escapeNotVerified */ echo __('Enter Code Below')?></span></label>
    <div class="control captcha">
        <div class="nested">
            <div class="field captcha no-label"
                 data-captcha="<?php /* @escapeNotVerified */ echo $block->getFormId()?>"
                 id="captcha-container-<?php /* @escapeNotVerified */ echo $block->getFormId()?>"
                 data-mage-init='{"captcha":{"url": "<?php /* @escapeNotVerified */ echo $block->getRefreshUrl()?>",
                                            "imageLoader": "<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/loader-2.gif') ?>",
                                             "type": "<?php /* @escapeNotVerified */ echo $block->getFormId() ?>"}}'>
                <div class="control captcha-image text-center">
                    <img alt="<?php /* @escapeNotVerified */ echo __('Please type the letters below')?>" class="captcha-img" height="<?php /* @escapeNotVerified */ echo $block->getImgHeight() ?>" src="<?php /* @escapeNotVerified */ echo $captcha->getImgSrc() ?>"/>
                    <button type="button" class="action reload captcha-reload" title="<?php /* @escapeNotVerified */ echo __('Reload captcha') ?>"><span><img width="20" src="<?php echo $this->getViewFileUrl('images/reload.png'); ?>" /><?php /* @escapeNotVerified */ echo __('Reload captcha') ?></span></button>
                </div>
                <input name="<?php /* @escapeNotVerified */ echo \Magento\Captcha\Helper\Data::INPUT_NAME_FIELD_VALUE ?>[<?php /* @escapeNotVerified */ echo $block->getFormId()?>]" placeholder="Enter Code" type="text" class="input-text required-entry" data-validate="{required:true}" id="captcha_<?php /* @escapeNotVerified */ echo $block->getFormId() ?>" />
            </div>
            <?php if ($captcha->isCaseSensitive()) :?>
                <div class="captcha-note note">
                    <?php /* @escapeNotVerified */ echo __('<strong>Attention</strong>: Captcha is case sensitive.') ?>
                </div>
            <?php endif; ?>
        </div>
    </div>
</div>
