<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile

/**
 * @var \Magento\Theme\Block\Html\Header\Logo $block
 */
?>
<div class="col-lg-3 col-md-2 col-sm-6 h-logo">
    <img class="retina-img" src="<?php /* @escapeNotVerified */ echo $block->getLogoSrc() ?>"
         alt="<?php /* @escapeNotVerified */ echo $block->getLogoAlt() ?>"
         <?php echo $block->getLogoWidth() ? 'width="' . $block->getLogoWidth() . '"' : '' ?>
         <?php echo $block->getLogoHeight() ? 'height="' . $block->getLogoHeight() . '"' : '' ?>
         />
</div>
