<?php

/* $block SY\MultipleLayeredNavigation\Model\Layer\Filter\Decimal */

// DiscountSY\MultipleLayeredNavigation\Model\Layer\Filter\Decimal
// Magento\CatalogSearch\Model\Layer\Filter\Decimal
// https://dev.apollopharmacy.in/personal-care.html?custom_discount=-10,10-
// SY\MultipleLayeredNavigation\Model\Layer\Filter\Decimal

?>

<?php /* Capture url from from current page */

    /* set initial vairiable for price range array */
    $price_query_array = [];
    $custom_discount_query = [];
    $package_query = [];
    /* Check the url params for price ranges */
    $current_link = $block->current_url();
    $parts = parse_url($current_link);

    if (array_key_exists('query', $parts)) {
        
        parse_str($parts['query'], $query);

        if (array_key_exists('price', $query)) {
            
            $price_query = $query['price'];
            $price_query_array = explode('-', $price_query);
        }

        if (array_key_exists('custom_discount', $query)) {
            
            $custom_discount_query = $query['custom_discount'];
            $custom_discount_query = explode('-', $custom_discount_query);
        }

        if (array_key_exists('package', $query)) {
            
            $package_query = $query['package'];
            $package_query = explode('-', $package_query);
        }
        
    }   

?>
<!-- $filter->getName() == "Package" ||  -->
   
<!-- check if $filter is an instance of either Price class or Decimal Class or the name is Discount -->
<?php if ( $filter->getName() == "Discount" ||
           $filter->getName() == "Package" ||
           $filter instanceof Magento\CatalogSearch\Model\Layer\Filter\Price) : ?>

    <!-- Package Filter @Start -->
        
        <?php  if ($filter->getName() == "Package" ): 
           
            
            $package_data = $filter->getDataArray();
            $package_min_max_array = $block->getMinMaxForPackage($package_data);
            $package_url = $block->test_package_url();
            
            
            if (count($package_query) > 0) {
                # code...
                $package_range['min'] = $package_query[0];
                $package_range['max'] = $package_query[1];
            }
            else
            {
                $package_range['min'] = $package_min_max_array['min'];
                $package_range['max'] = $package_min_max_array['max'];
            }
            
            // print_r($package_range);
        ?>

        <!-- Package Slider Content @Start-->

        <script>
        var package_url = "<?=$package_url;?>";
        require(['jquery',"jquery/ui",'domReady!'], function($){
            require(['Emizentech_Priceslider/js/jquery.ui.touch-punch.min'],function($) {

            jQuery("div#package-slider").slider({
                  range: true,
                  min: <?=$package_range['min']?>,
                  max: <?=$package_range['max']?>,
                  values: [ <?=$package_range['min']?>, <?=$package_range['max']?> ],
                  slide: function( event, ui ) {

                      jQuery( "#package-input-1" ).val( ui.values[ 0 ] + "gm");
                      jQuery( "#package-input-2" ).val( ui.values[ 1 ] + "gm" );
                  },
                  change: function( event, ui ) {
                    package_url = package_url.replace('package=','package='+ui.values[0]+"-"+ui.values[1]);
                    window.location.href = package_url;
                      
                  }
            });

            jQuery( "#package-input-1" ).val( jQuery( "#package-slider" ).slider( "values", 0 ) + "gm");
            jQuery( "#package-input-2" ).val( jQuery( "#package-slider" ).slider( "values", 1 ) + "gm");

            });
           
        });
        </script> 
        
        <div class="package-content">
            <div class="row text-box-filter">
                <div class="col-sm-5"><input type="text" id="package-input-1" class="slider-text-box" readonly></div>
                <div class="col-sm-2 text-center">toooo</div>
                <div class="col-sm-5"><input type="text" id="package-input-2" class="slider-text-box" readonly></div>
            </div>
            <input type="hidden" id="package-left" value=<?php echo $block->url_params_parsed('package')[0]; ?> />
            <input type="hidden" id="package-right" value=<?php echo $block->url_params_parsed('package')[1]; ?> />
            <input type="hidden" id="package-min" value="<?php echo $package_min_max_array['min']; ?>" />
            <input type="hidden" id="package-max" value="<?php echo $package_min_max_array['max']; ?>" />
        </div>
        <div id="package-slider"></div>

        <!-- Discount Slider Content @End-->

        
        <?php endif; ?>   

    <!-- Package Filater @End -->

    <!-- Discount Filter @Start -->
    <?php  if ($filter->getName() == "Discount" ): 
       
        $discount_data = $filter->getDataArray();
        $discount_url = $block->test_discount_url();
        
        if (count($custom_discount_query) > 0) {
            # code...
            $discount_range['min'] = $custom_discount_query[0];
            $discount_range['max'] = $custom_discount_query[1];
        }
        else
        {
            $discount_range['min'] = '0';
            $discount_range['max'] = '100';
        }
        
    ?>
    
    <!-- Discount Slider Content @Start-->


    <script>        
    var discount_url = "<?=$discount_url;?>";
    require(['jquery',"jquery/ui",'domReady!'], function($){
        require(['Emizentech_Priceslider/js/jquery.ui.touch-punch.min'],function($) {

        jQuery("div#discount-slider").slider({
              range: true,
              min: 0,
              max: 100,
              values: [ <?=$discount_range['min']?>, <?=$discount_range['max']?> ],
              slide: function( event, ui ) {                  
                  jQuery( "#discount-input-1" ).val( ui.values[ 0 ] + "%");
                  jQuery( "#discount-input-2" ).val( ui.values[ 1 ] + "%");                
              },
              change: function( event, ui ) {
                discount_url = discount_url.replace('custom_discount=','custom_discount='+ui.values[0]+"-"+ui.values[1]);
                window.location.href = discount_url;
              }
        });

        jQuery("#discount-input-1" ).val( jQuery( "#discount-slider" ).slider( "values", 0 ) +"%");
        jQuery("#discount-input-2" ).val( jQuery( "#discount-slider" ).slider( "values", 1 ) +"%");

        });
      
    });
    </script> 
    
    <div class="discount-content">
        <div class="row text-box-filter">
            <div class="col-sm-5"><input type="text" id="discount-input-1" class="slider-text-box" readonly></div>
            <div class="col-sm-2 text-center">to</div>
            <div class="col-sm-5"><input type="text" id="discount-input-2" class="slider-text-box" readonly></div>
        </div>
        <input type="hidden" id="discount-left" value=<?php echo $block->url_params_parsed('custom_discount')[0]; ?> />
        <input type="hidden" id="discount-right" value=<?php echo $block->url_params_parsed('custom_discount')[1]; ?> />
        <input type="hidden" id="discount-min" value="0" />
        <input type="hidden" id="discount-max" value="100" />
    </div>
    <div id="discount-slider"></div>

    <!-- Discount Slider Content @End-->

    <?php endif; ?>
    <!-- Discount Filter @End -->


    <!-- Price Filter @Start-->
    <?php if($filter instanceof Magento\CatalogSearch\Model\Layer\Filter\Price ):

        /* Get initial Max and Minimum price range */
        $intial_price_range = [
            'min' => $filter->getMin(),
            'max' => $filter->getMax()
        ];
        
        /* custome part of the code to identify price range params */
        $Filterprice = array('min' => 0 , 'max'=>0);
        $priceArr = $filter->getResource()->loadPrices(10000000000);
                
        /* if url has price range params */
        if (count($price_query_array) > 0) {
            # code...
            $Filterprice['min'] = $price_query_array[0];
            $Filterprice['max'] = $price_query_array[1];
        }
        else
        {
            $Filterprice['min'] = reset($priceArr);
            $Filterprice['max'] = end($priceArr);           
        }

        /* Assigning */
        $range = $Filterprice;

        $url = $this->getFilterUrl($filter);

    ?>
    <!-- Price Slider Content @Start-->
    <script>
        var price_url = "<?=$url;?>";
        require([
            'jquery',
            "jquery/ui",            
            'domReady!'

        ], function($){
            console.log("Price Slider..!");
            require(['Emizentech_Priceslider/js/jquery.ui.touch-punch.min'],function($) {
            console.log("jquery touch-punch loaded !");
            jQuery("div#price-slider").slider({
                    range: true,
                    min: <?=$intial_price_range['min']?>,
                    max: <?=$intial_price_range['max']?>,
                    values: [ <?=$range['min']?>, <?=$range['max']?> ],
                    slide: function( event, ui ) {

                        jQuery( "#amount-input-1" ).val( "₹" + ui.values[ 0 ]);
                        jQuery( "#amount-input-2" ).val( "₹" + ui.values[ 1 ]);  
                    },
                    change: function( event, ui ) {
                        
                        window.location.href = price_url+ui.values[0]+"-"+ui.values[1];
                        
                    }
                });
                
                jQuery( "#amount-input-1" ).val( "₹" + jQuery( "#price-slider" ).slider( "values", 0 ));
                jQuery( "#amount-input-2" ).val( "₹" + jQuery( "#price-slider" ).slider( "values", 1 ));

            });

        });
    </script>

    
    <div>
            
        <div class="row text-box-filter">
            <div class="col-sm-5"><input type="text" id="amount-input-1" class="slider-text-box" readonly></div>
            <div class="col-sm-2 text-center">to</div>
            <div class="col-sm-5"><input type="text" id="amount-input-2" class="slider-text-box" readonly></div>
        </div>
        <input type="hidden" id="price-left" value=<?php echo $block->url_params_parsed('price')[0]; ?> />
        <input type="hidden" id="price-right" value=<?php echo $block->url_params_parsed('price')[1]; ?> />
        <input type="hidden" id="price-max" value=<?php echo $Filterprice['max']; ?> />
        <input type="hidden" id="price-min" value=<?php echo $Filterprice['min']; ?> />
    </div>


    

    <div class="row" id="price-slider"></div>

    <!-- Price Slider Content @End-->

    <?php endif;?> 
    <!-- Price Filter @End-->

 


<?php else:?>
    <ol class="items">
        <?php foreach ($filterItems as $filterItem): ?>
            <li class="my item">
                <?php if ($filterItem->getCount() > 0): ?>
                    <a href="<?php echo $block->escapeUrl($filterItem->getUrl()) ?>">
                        <?php /* @escapeNotVerified */ echo $filterItem->getLabel() ?>
                        <?php if ($this->helper('\Magento\Catalog\Helper\Data')->shouldDisplayProductCountOnLayer()): ?>
                            <span class="count"><?php /* @escapeNotVerified */ echo $filterItem->getCount()?><span class="filter-count-label">
                                <?php if ($filterItem->getCount() == 1):?> <?php /* @escapeNotVerified */ echo __('item')?><?php else:?> <?php /* @escapeNotVerified */ echo __('items') ?><?php endif;?></span></span>
                        <?php endif; ?>
                    </a>
                <?php else:?>
                    <?php /* @escapeNotVerified */ echo $filterItem->getLabel() ?>
                    <?php if ($this->helper('\Magento\Catalog\Helper\Data')->shouldDisplayProductCountOnLayer()): ?>
                        <span class="count"><?php /* @escapeNotVerified */ echo $filterItem->getCount()?><span class="filter-count-label">
                            <?php if ($filterItem->getCount() == 1):?><?php /* @escapeNotVerified */ echo __('item')?><?php else:?><?php /* @escapeNotVerified */ echo __('items') ?><?php endif;?></span></span>
                    <?php endif; ?>
                <?php endif; ?>
            </li>
        <?php endforeach ?>
    </ol>
<?php endif;?>