<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<div class="rows padding_lr20 padding_top20">
	<div class="white-box success-sign-out">
		<div class="main-heading text-center"><?php /* @escapeNotVerified */ echo __('You are signed out.') ?></div>
		<p class="no-margin-b text-center font-14"><?php /* @escapeNotVerified */ echo __('You have signed out and you are redirecting to homepage.') ?></p>
	</div>
</div>
<script>
require([
    "jquery",
    "mage/mage"
], function($){

    $($.mage.redirect("<?php /* @escapeNotVerified */ echo $block->getUrl() ?>", "assign", 1000));

});
</script>
