<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php /** @var $block \Magento\Sales\Block\Order\Info */ ?>

<?php 
$_order = $block->getOrder();
$status = $block->getOrder()->getStatusLabel();
$orderDate = $_order->getCreatedAt();
//echo $status;
 ?>
 <div class="status">

<ol class="progtrckr" data-progtrckr-steps="5">
    <li class="progtrckr-done">Order Placed</li>
    <?php if($status == 'Canceled'){ ?>
    <li class="progtrckr-done">Order Canceled</li>
    <?php }elseif($status == 'Suspected Fraud'){ ?>
    <li class="progtrckr-done">Suspected Fraud</li> 
    <?php }elseif($status == 'Pending Payment'){ ?>
    <li class="progtrckr-done">Pending Payment</li> 
    <?php }else{ ?>
    <li class="<?php if($status == 'Processing' || $status == ' Packed' || $status == 'Dispatched' || $status == 'Delivered' || $status == 'Complete'){ echo 'progtrckr-done'; }else{ echo 'progtrckr-todo';} ?>">Order Packed</li>
    <li class="<?php if($status == 'Dispatched' || $status == 'Delivered' || $status == 'Complete' ){ echo 'progtrckr-done'; }else{ echo 'progtrckr-todo';} ?>">Order Dispatched</li>
        <li class="<?php if($status == 'Delivered' || $status == 'Complete'){ echo 'progtrckr-done'; }else{ echo 'progtrckr-todo';} ?>">Order Delivered</li>
  <?php  } ?>
    
</ol>
</div>
<style>
   /*Progress with steps*/
   
   .status{
   	margin-bottom:20px;
   }

    ol.progtrckr {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    ol.progtrckr li {
        display: inline-block;
        text-align: center;
        line-height: 3em;
    }

    ol.progtrckr[data-progtrckr-steps="2"] li { width: 49%; }
    ol.progtrckr[data-progtrckr-steps="3"] li { width: 33%; }
    ol.progtrckr[data-progtrckr-steps="4"] li { width: 24%; }
    ol.progtrckr[data-progtrckr-steps="5"] li { width: 19%; }
    ol.progtrckr[data-progtrckr-steps="6"] li { width: 16%; }
    ol.progtrckr[data-progtrckr-steps="7"] li { width: 14%; }
    ol.progtrckr[data-progtrckr-steps="8"] li { width: 12%; }
    ol.progtrckr[data-progtrckr-steps="9"] li { width: 11%; }

    ol.progtrckr li.progtrckr-done {
        color: black;
        border-bottom: 4px solid yellowgreen;
    }
    ol.progtrckr li.progtrckr-todo {
        color: silver; 
        border-bottom: 4px solid silver;
    }
    /* ol.progtrckr li:after {
        content: "\00a0\00a0";
    } */
    ol.progtrckr li:before {
        position: relative;
        bottom: -2.5em;
        float: left;
        left: 50%;
        line-height: 1em;
    }
    ol.progtrckr li.progtrckr-done:before {
        content: "\2713";
        color: white;
        background-color: yellowgreen;
        height: 1.2em;
        width: 1.2em;
        line-height: 1.2em;
        border: none;
        border-radius: 1.2em;
    }
    ol.progtrckr li.progtrckr-todo:before {
        color: silver;
        bottom: -1.6em;
        content: "\039F";
        font-size: 1.5em;
        background-color: white;
    }
    @media(max-width: 767px){
        ol.progtrckr[data-progtrckr-steps="5"] li{
            position: relative;
            line-height: 1.8em;
            padding-bottom: 1em;
        }
        ol.progtrckr li:before{
            line-height: 1em;
            position: absolute;
            margin-left: -0.6rem;
            margin-bottom: 1.8rem;
        }
        ol.progtrckr li.progtrckr-done:before{
            width: 1.5rem;
            bottom: -1.7em;
            height: 1.5rem;
            font-size: 1.6rem;
            line-height: 1.5rem;
        }
        ol.progtrckr li.progtrckr-todo:before{
            width: 1.5rem;
            bottom: -1.8em;
            height: 1.5rem;
            font-size: 1.5rem;
            line-height: 1.5rem;
        }
    }
</style>
