<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php /** @var $block \Magento\Sales\Block\Order\Info */ ?>

<?php 
$_order = $block->getOrder();
$status = $block->getOrder()->getStatusLabel();
$orderDate = $_order->getCreatedAt();
//echo $orderDate;
 ?>
<div class="rows">
    <ol class="progtrckr">
        <!-- <li class="progtrckr-done">Order Placed</li> -->
        <?php if($status == 'Canceled'){ ?>
        <li class="progtrckr-done"><div>Order Canceled</div></li>
        <?php }elseif($status == 'Suspected Fraud'){ ?>
        <li class="progtrckr-done"><div>Suspected Fraud</div></li> 
        <?php }elseif($status == 'Pending Payment'){ ?>
        <li class="progtrckr-done"><div>Pending Payment</div></li> 
        <?php } else { ?>
        <li class="<?php if($status == 'Processing' ||$status == 'Packed' || $status == 'Dispatched' || $status == 'Delivered' || $status == 'Complete'){ echo 'progtrckr-done'; }else{ echo 'progtrckr-todo';} ?>"><div>Order Processing</div></li> 
        <li class="<?php if($status == 'Packed' || $status == 'Dispatched' || $status == 'Delivered' || $status == 'Complete'){ echo 'progtrckr-done'; }else{ echo 'progtrckr-todo';} ?>"><div>Order Packed</div></li>
        <li class="<?php if($status == 'Dispatched' || $status == 'Delivered' || $status == 'Complete' ){ echo 'progtrckr-done'; }else{ echo 'progtrckr-todo';} ?>"><div>Order Dispatched</div></li>
            <li class="<?php if($status == 'Delivered' || $status == 'Complete'){ echo 'progtrckr-done'; }else{ echo 'progtrckr-todo';} ?>"><div>Order Delivered</div></li>
      <?php  } ?>
    </ol>
</div>