<style>

    .ui-slider .ui-slider-handle{
        border: 1px solid gray;
        border-radius: 100%;
        background: #FFF;
        width: 8px;
        height: 20px;
        left: -10px !important;
        top: -6px;
    }
    /*.ui-slider .ui-slider-handle{
        border: 1px solid gray;
        border-radius: 100%;
        background: #FFF;
        width: 8px;
        height: 20px;
        left: -10px !important;
        top: -6px;
    }*/
</style>