<section class="rows-sec padding_bottom20">
    <div class="container-fluid ">
        <div class="breadcrumb-box">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="<?php echo $block->getBaseUrl();?>"><?php /* @escapeNotVerified */ echo __('Home'); ?></a></li>
                <li class="breadcrumb-item"><a href="<?php echo $block->getBaseUrl();?>sales/order/history/"><?php /* @escapeNotVerified */ echo __('My Order'); ?></a></li>
                <li class="breadcrumb-item active" aria-current="page"><?php /* @escapeNotVerified */ echo __('Experience'); ?></li>
              </ol>
            </nav>
        </div>
        <div class="rows-sec experience-sec">
            <div class="jq_success_msg"></div>
            <div class="rows">
              <!-- <div id="experience_tabs" class="custom-tabs design-tabs"> -->
              <div class="custom-tabs design-tabs">
                <!-- <ul>
                  <li><a href="#reviewProduct">Review Product</a></li>
                  <li><a href="#rateExperience">Rate your Experience</a></li>
                </ul> -->
             <!--    <div id="reviewProduct" class="">
                    <div class="white-box add-review-product-box">
                      <div class="icon text-center">
                        <img src="<?php echo $this->getViewFileUrl('images/add-image-icon.png'); ?>">
                      </div>
                      <div class="main-heading text-center">Add a Photo</div>
                      <div class="review-product-title">This will help users to get actual view <br/>of the product</div>
                      <div class="text-center">
                          <div class="fileUpload">
                              <input id="uploadBtn" type="file" class="upload" />
                              <span class="uploadBtn">Upload Photo</span>
                          </div>
                      </div>
                    </div>
                    <div class="rows padding_top20 padding_bottom10">
                      <div class="white-box review-rating-box">
                        <div class="display-flex">
                          <div class="review-rating-left">
                            <img src="<?php echo $this->getViewFileUrl('images/croc_0002_l.png'); ?>">
                          </div>
                          <div class="review-rating-right">
                            <div class="product-name">Crocine 120</div>
                            <div class="rating-box">
                              <ul>
                                <li><a class="active" href="#"></a></li>
                                <li><a class="active" href="#"></a></li>
                                <li><a class="active" href="#"></a></li>
                                <li><a class="active" href="#"></a></li>
                                <li><a href="#"></a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="rows">
                      <div class="white-box write-review-box">
                          <div class="review-title">Write your Review</div>
                          <textarea class="form-control" placeholder=""></textarea>
                      </div>
                    </div>
                    <div class="fix-button-sec">
                        <button class="btn btn-primary btn-block green-button">Submit</button>
                    </div>
                </div> -->
                <div id="rateExperience" class="">
                <form  data-mage-init='{"validation":{}}' action="javascript:void(0);" id="experience-request-form" method="post" data-hasrequired="* Required Fields">
                    <input type="hidden" name="order_id" value="<?php echo $this->getRequest()->getParam('order_id'); ?>">
                    <div class="white-box experience-rate">
                        <div class="ed-box-top">
                          <div class="experience-title">How was your overall experience?</div>
                          <ul class="experience-list">
                            <li class="happy active" id="Happy">
                              <a href="javascript:void(0);">
                                <div class=""></div>
                              </a>
                            </li>
                            <li class="medium-exp" id="Medium">
                              <a href="javascript:void(0);">
                                <div class=""></div>
                              </a>
                            </li>
                            <li class="sad" id="Sad">
                              <a href="javascript:void(0);">
                                <div class=""></div>
                              </a>
                            </li>
                          </ul>
                          <input type="hidden" name="experience" class="jq_user_experience" value="Happy">
                        </div>
                        <div class="ed-box-bottom">
                          <div class="experience-title">What went wrong?</div>
                          <textarea class="form-control" name="experience_wrong"  data-validate='{"required":true}' placeholder="Tell us what went wrong and let us make you happy"></textarea>
                        </div>
                    </div>
                    <div class="rows padding_tb20">
                        <div class="white-box delivery-box">
                          <div class="ed-box-top">
                            <div class="experience-title">When did your delivery arrive?</div>
                            <div class="radio custom-radio">
                                <input type="radio" name="delivery_arrive" class="px" value="Early" checked="">
                                <label>Early</label>
                            </div>
                            <div class="radio custom-radio">
                                <input type="radio" name="delivery_arrive" value="On Time" class="px">
                                <label>On Time</label>
                            </div>
                            <div class="radio custom-radio">
                                <input type="radio" name="delivery_arrive" value="Late" class="px">
                                <label>Late</label>
                            </div>
                          </div>
                          <div class="ed-box-bottom">
                            <div class="experience-title">Write your views</div>
                            <textarea class="form-control" name="experience_view"  data-validate='{"required":true}' placeholder="Share your views and give us a chance to do better"></textarea>
                          </div>
                          <div class="fix-button-sec">
                              <button class="btn btn-primary btn-block green-button jq_user_submit_experience">Submit</button>
                          </div>
                        </div>
                    </div>
                </form>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    require([
        'jquery',
        'jquery/ui',
        'mage/validation'
    ], function($){
        $("#experience_tabs").tabs();

        $('.experience-list li').on('click', function(){
            var jq_experience = $(this).attr('id');
            $('.experience-list li.active').removeClass('active');
            $(this).addClass('active');
            $(".jq_user_experience").val(jq_experience);
        });

        var dataForm = $('#experience-request-form');
        dataForm.mage('validation', {});
        $('.jq_user_submit_experience').click( function() {
            var status = dataForm.validation('isValid');
            if(status){
                try {
                    jQuery.ajax({
                        url : '<?php echo $this->getUrl('experience/customer/save'); ?>',
                        data : jQuery('#experience-request-form').serialize(),
                        type: "POST",
                        dataType: "json",
                        showLoader: true,
                        success: function(data){
                            if( data.success == true ){
                                $('#experience-request-form')[0].reset();
                                window.location.href = "<?php echo $block->getBaseUrl()?>sales/order/history/";
                                //$('.jq_success_msg').after('<span id="successMsg" style="color: #006400;font-size: 13px;">'+data.msg+'</span>');
                                //setTimeout(function() { $("#successMsg").hide(); }, 5000);
                            } else if(data.success == false ) {
                                showLoader: false;
                                $('.jq_success_msg').after('<span id="successMsg" style="color: #e02b27;font-size: 13px;">'+data.msg+'</span>');
                                setTimeout(function() { $("#successMsg").hide(); }, 5000);
                            }
                        }
                    });
                } catch (e) {
                    showLoader: false;
                }
            }
        });
    });
</script>