<?php
$cuy = $block->getLayout()->createBlock('Magecomp\Mycard\Block\Rewrite\Customer\Account\Customer');
$product= $block->getLayout()->createBlock('Magecomp\Mycard\Block\Product');
$cust_id = $cuy->getLoggedinCustomerId();
$blo = $block->getLayout()->createBlock('Magecomp\Mycard\Block\Index\Index');
$active_gridrecords = $this->getActiveSubscriptionCollection();
$inactive_gridrecords = $this->getInactiveSubscriptionCollection();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data');

if (!empty($active_gridrecords) && count($active_gridrecords) || !empty($inactive_gridrecords) && count($inactive_gridrecords) ): ?>
    <section class="rows-sec padding_bottom20">
      <div class="container-fluid ">
          <div class="breadcrumb-box">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="<?php echo $block->getBaseUrl();?>"><?php /* @escapeNotVerified */ echo __('Home'); ?></a></li>
                <li class="breadcrumb-item"><a href="<?php echo $block->getBaseUrl();?>customer/account/"><?php /* @escapeNotVerified */ echo __('Profile'); ?></a></li>
                <li class="breadcrumb-item active" aria-current="page"><?php /* @escapeNotVerified */ echo __('My Subscribed Products'); ?></li>
              </ol>
            </nav>
          </div>
          <div class="rows-sec sp-detail-sec">
              <div class="main-heading padding_bottom10">My Subscribed Products&nbsp;&nbsp;</div>
              <div class="rows">
                <div id="subscribed_products" class="custom-tabs design-tabs">
                  <ul>
                    <li><a href="#activesub">Active Subscription</a></li>
                    <li><a href="#inactivesub">Inactive Subscription</a></li>
                  </ul>
                  <div id="alert_msg"></div>
                  <div id="activesub">
                    <div class="rows-sec">
                      <input type="hidden" id="cont_url" value="<?php echo $this->getUrl('subscribe/index/test') ?>">
                      <?php 
                        if(count($active_gridrecords) > 0 ) {
                          $i=0;
                        foreach ($active_gridrecords as $active_gridrecord){
                        if($active_gridrecord['customer_id'] == $cust_id && $active_gridrecord['start_date']!= ""){
                        $i++;
                        $prod_obj = $product->getProduct($active_gridrecord['product_id']);
                        $prod_url = $prod_obj->getProductUrl();

                        $_product = $objectManager->get('Magento\Catalog\Model\Product')->load($active_gridrecord['product_id']);
                        $imageHelper  = $objectManager->get('\Magento\Catalog\Helper\Image');
                        $image_url = $imageHelper->init($_product, 'product_page_image_small')->setImageFile($_product->getFile())->resize(100, 100)->getUrl();
                        $month = array();
                        $discount = array();
                        $ss_plan = $_product->getResource()->getAttribute('ss_plan')->getFrontend()->getValue($_product);
                        if($ss_plan == 'Yes'){
                        $max_qty = $_product->getResource()->getAttribute('max_qty_for_s_s')->getFrontend()->getValue($_product);
                        $min_qty = $_product->getResource()->getAttribute('min_qty_for_s_s')->getFrontend()->getValue($_product);
                        $dis = $_product->getData('discount_month');
                        $rty = explode(";",$dis);
                        foreach($rty as $val){
                            $rty1 = explode("-",$val);
                            array_push($month,(int)$rty1[0]);
                            array_push($discount,(int)$rty1[1]);
                        }
                        $discount_percentage = $discount[0];
                      ?>
                      <script>
                        var Apo = new Object();
                        Apo.month = <?php print_r(json_encode($month)) ?>;
                        Apo.discount = <?php print_r(json_encode($discount)) ?>;
                      </script>
                      <?php } ?>
                      <div class="white-box spd-box">
                        <div class="spd-box-flex">
                            <div class="spd-box-left">
                                <a href="<?php /* @escapeNotVerified */ echo $prod_url; ?>"><img src="<?php echo $image_url; ?>" /></a>
                            </div>
                            <div class="spd-box-right">
                                <div class="spd-pos">
                                  <?php if ($active_gridrecord['flag']==1){
                                      echo "<a href=".$this->getUrl('mycard/grid/index')."?id=".$active_gridrecord['product_id']."><img width='15' src=".$this->getViewFileUrl('images/new-images/delete.png')."></a>";
                                      }
                                    ?>
                                </div>
                                <div class="">
                                    <div class="cart-product-name"><a href="<?php /* @escapeNotVerified */ echo $prod_url; ?>"><?php echo $prod_obj->getName() ?></a></div>
                                    <div class="tablet-count">Quantity - <?php echo $active_gridrecord['qty'] ?></div>
                                    <div class="total-price"><?php echo $priceHelper->currency($prod_obj->getPrice(), true, false);?></div>
                                    <?php if($active_gridrecord['flag'] == 0) { ?>
                                      <a href="<?php /* @escapeNotVerified */ echo $prod_url; ?>"><button class="green-btn wishlist-add-cart-btn">Order Now</button></a>
                                    <?php } ?>
                                </div>
                            </div>
                        </div>
                        <div class="subscribed-period-box">
                          <div class="sub-period-title">Subscribed Period</div>
                          <div class="sub-period-date">Subscribed Date - <span><?php echo $active_gridrecord['start_date'].' - '.$active_gridrecord['end_date']; ?></span></div>
                          <div class="sub-duration"><?php echo $active_gridrecord['sub_period']." Months" ?>&nbsp;&nbsp;&nbsp;&nbsp;<?php if($ss_plan == 'Yes') { ?>
                            <a href="javascript:void(0);" class="jq_change_subscribe_show" desId="<?php echo $active_gridrecord['id'];?>">Change</a></div>
                          <?php } ?>
                        </div>
                        <div class="spd-period-dtl jq_change_subscribe_<?php echo $active_gridrecord['id'];?>" style="display: none;">
                          <div class="display-scroll-x">
                            <div class="display-flex-row">
                                <?php foreach($month as $month_date) { ?>
                                  <div class="pd-reminder">
                                    <!-- <div class="radio custom-radio width-auto"> -->

                                      <div class="radio custom-radio width-auto">
                                          <input type="radio" name="period_<?php echo $active_gridrecord['id'];?>"  value="<?php echo $month_date; ?>"  class="px" >
                                          <label><?php echo $month_date; ?> Months</label>
                                      </div>
                                    <!-- </div> -->
                                  </div>
                                <?php } ?>
                            </div>
                            <div class="display-flex-row sb-offer-value">
                                <input type="hidden" class="periods" id="period_<?php echo $active_gridrecord['id'];?>" value="<?php echo $active_gridrecord['sub_period']; ?>" />
                                <?php foreach($discount as $ky => $discount_value) { ?>
                                  <span class="save-text" id="save_<?php echo $active_gridrecord['id'];?>_<?php echo $month[$ky] ?>" data-value="<?php echo $discount_value; ?>" >Save <?php echo $discount_value; ?>%</span>
                                <?php } ?>
                            </div>
                          </div>
                            <div class="row">
                                <div class="col-12 text-right spd-btn-sec">
                                    <button class="btn btn-block cancel-btn jq_change_subscribe_show" desId="<?php echo $active_gridrecord['id'];?>">Cancel</button>
                                    <button data-id="<?php echo $active_gridrecord['id']; ?>" class="btn btn-primary btn-block green-button apply-btn jq_subscribe_btn">Subscribe</button>
                                </div>
                            </div>
                        </div>
                      </div>
                      <?php } } } else { ?>
                        <div class="white-box spd-box">
                          <div class="no-review-product padding_bottom20">
                            <p>No active subscribed data available.</p>
                          </div>
                        </div>
                      <?php } ?>
                    </div>
                  </div>
                  <div id="inactivesub">
                    <div class="rows-sec">
                      <?php 
                        if(count($inactive_gridrecords) > 0) {
                        foreach ($inactive_gridrecords as $inactive_gridrecord){
                        if($inactive_gridrecord['customer_id'] == $cust_id && $inactive_gridrecord['start_date']!= ""){
                        $prod_obj = $product->getProduct($inactive_gridrecord['product_id']);
                        $prod_url = $prod_obj->getProductUrl();

                        $_product = $objectManager->get('Magento\Catalog\Model\Product')->load($inactive_gridrecord['product_id']);
                        $imageHelper  = $objectManager->get('\Magento\Catalog\Helper\Image');
                        $image_url = $imageHelper->init($_product, 'product_page_image_small')->setImageFile($_product->getFile())->resize(100, 100)->getUrl();
                        $in_month = array();
                        $in_discount = array();
                        $in_ss_plan = $_product->getResource()->getAttribute('ss_plan')->getFrontend()->getValue($_product);
                        if($in_ss_plan == 'Yes'){
                        $max_qty = $_product->getResource()->getAttribute('max_qty_for_s_s')->getFrontend()->getValue($_product);
                        $min_qty = $_product->getResource()->getAttribute('min_qty_for_s_s')->getFrontend()->getValue($_product);
                        $in_dis = $_product->getData('discount_month');
                        $in_rty = explode(";",$in_dis);
                        foreach($in_rty as $in_val){
                            $in_rty1 = explode("-",$in_val);
                            array_push($in_month,(int)$in_rty1[0]);
                            array_push($in_discount,(int)$in_rty1[1]);
                        }
                        $discount_percentage = $in_discount[0];
                      ?>
                      <script>
                        var InApo = new Object();
                        InApo.in_month = <?php print_r(json_encode($in_month)) ?>;
                        InApo.in_discount = <?php print_r(json_encode($in_discount)) ?>;
                      </script>
                      <?php } ?>
                      <div class="white-box spd-box">
                        <div class="spd-box-flex">
                            <div class="spd-box-left">
                                <a href="<?php /* @escapeNotVerified */ echo $prod_url; ?>"><img src="<?php echo $image_url; ?>" /></a>
                            </div>
                            <div class="spd-box-right">
                                <div class="spd-pos">
                                  <?php if ($inactive_gridrecord['flag']==1){
                                      echo "<a href=".$this->getUrl('mycard/grid/index')."?id=".$inactive_gridrecord['product_id']."><img width='15' src=".$this->getViewFileUrl('images/new-images/delete.png')."></a>";
                                      }
                                    ?>
                                </div>
                                <div class="">
                                    <div class="cart-product-name"><a href="<?php /* @escapeNotVerified */ echo $prod_url; ?>"><?php echo $prod_obj->getName() ?></a></div>
                                    <div class="tablet-count">Quantity - <?php echo $inactive_gridrecord['qty'] ?></div>
                                    <div class="total-price"><?php echo $priceHelper->currency($prod_obj->getPrice(), true, false);?></div>
                                    <?php if($inactive_gridrecord['flag'] == 0) { ?>
                                      <a href="<?php /* @escapeNotVerified */ echo $prod_url; ?>"><button class="green-btn wishlist-add-cart-btn">Order Now</button></a>
                                    <?php } ?>
                                </div>
                            </div>
                        </div>
                        <div class="subscribed-period-box">
                          <div class="sub-period-title">Subscribed Period</div>
                          <div class="sub-period-date">Subscribed Date - <span><?php echo $inactive_gridrecord['start_date'].' - '.$inactive_gridrecord['end_date']; ?></span></div>
                          <div class="sub-duration"><?php echo $inactive_gridrecord['sub_period']." Months" ?>&nbsp;&nbsp;&nbsp;&nbsp;<?php if($in_ss_plan == 'Yes') { ?><a href="javascript:void(0);" class="jq_change_subscribe_show" desId="<?php echo $inactive_gridrecord['id'];?>">Change</a><?php } ?></div>
                        </div>
                        <div class="spd-period-dtl jq_change_subscribe_<?php echo $inactive_gridrecord['id'];?>" style="display: none;">
                            <div class="display-scroll-x">
                              <div class="display-flex-row">
                                  <?php foreach($in_month as $month_date) { ?>
                                  <div class="pd-reminder">
                                    <!-- <div class="radio custom-radio width-auto"> -->
                                      
                                      <div class="radio custom-radio width-auto">
                                          <input type="radio" name="period_<?php echo $inactive_gridrecord['id'];?>"  value="<?php echo $month_date; ?>" class="px" >
                                          <label><?php echo $month_date; ?> Months</label>
                                      </div>
                                    <!-- </div> -->

                                  </div>
                                  <?php } ?>
                                  <div class="display-flex-row sb-offer-value">
                                    <input type="hidden" class="periods" id="period_<?php echo $inactive_gridrecord['id'];?>" value="<?php echo $inactive_gridrecord['sub_period']; ?>" />
                                    <?php foreach($in_discount as $ky => $discount_value) { ?>
                                      <span class="save-text" id="save_<?php echo $inactive_gridrecord['id'];?>_<?php echo $month[$ky] ?>" data-value="<?php echo $discount_value; ?>" >Save <?php echo $discount_value; ?>%</span>
                                    <?php } ?>
                                  </div>
                              </div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-right spd-btn-sec">
                                    <button class="btn btn-block cancel-btn jq_change_subscribe_show" desId="<?php echo $inactive_gridrecord['id'];?>">Cancel</button>
                                    <button data-id="<?php echo $inactive_gridrecord['id']; ?>" class="btn btn-primary btn-block green-button apply-btn jq_subscribe_btn">Subscribe</button>
                                </div>
                            </div>
                        </div>
                      </div>
                      <?php } } } else { ?>
                        <div class="white-box spd-box">
                          <div class="no-review-product padding_bottom20">
                            <p>No inactive subscribed data available.</p>
                          </div>
                        </div>
                      <?php } ?>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </section>
    <script type="text/javascript">
        require([
            'jquery',
            'jquery/ui'
        ], function($){
            $("#subscribed_products").tabs();
            $('.jq_change_subscribe_show').click(function() {
              var desId = $(this).attr('desId');
              $('.jq_change_subscribe_'+desId).toggle();
            });
        });
    </script>
    <?php if ($block->getPagerHtml()): ?>
        <div class="order-products-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); // for display pager block which we create in block file.   ?></div>
    <?php endif ?>
<?php else: ?>
<section class="rows-sec category-sec">
  <div class="container-fluid">
    <div class="breadcrumb-box">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="<?php echo $block->getBaseUrl();?>"><?php /* @escapeNotVerified */ echo __('Home'); ?></a></li>
          <li class="breadcrumb-item"><a href="<?php echo $block->getBaseUrl();?>customer/account/"><?php /* @escapeNotVerified */ echo __('Profile'); ?></a></li>
          <li class="breadcrumb-item active" aria-current="page"><?php /* @escapeNotVerified */ echo __('My Subscribed Products'); ?></li>
        </ol>
      </nav>
    </div>
  </div>
  <section class="rows-sec subscribe-product-box">
    <div class="sp-icon text-center">
      <img src="<?php echo $this->getViewFileUrl('images/3.png'); ?>" />
    </div>
    <div class="main-heading text-center"><?php /* @escapeNotVerified */ echo __('Hey, You are not subscribed to <br/> any product!'); ?> 
    </div>
    <a href="<?php echo $block->getBaseUrl();?>" class="subscribe-btn" style="color: #fff;"><?php /* @escapeNotVerified */ echo __('Subscribe Now'); ?></a>
  </section>
</section>
<?php endif ?>