<?php
/**
 * Copyright © 2013-2017 GiaPhuGroup Ltd. All rights reserved.
 * See COPYING.txt for license details.
 *
 */

// @codingStandardsIgnoreFile

/**
 * @var \PHPCuong\Newsletter\Block\Subscribe $block
 * @see \PHPCuong\Newsletter\Block\Subscribe
 */
?>
<style>
    .popup-newsletter .block.newsletter {
        width: 100%;
    }
    .newsletter-content {
        display: none;
    }
    .newsletter-content .messages {
        display: none;
    }
    .newsletter-content h2 {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 600;
        line-height: initial;
        margin: 15px 0px;
    }
    .newsletter-content.block.newsletter .actions {
        display: block;
        margin-top: 10px;
        width: 100%;
    }
    .newsletter-content .actions .action.subscribe.primary {
        border-radius: 3px;
        width: 100%;
        display: block;
    }
</style>

    
	   <?php
				
				$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
				//$model = $objectManager->create('\Quadone\Promotions\Model\Image');
				$storeManager = $objectManager->get('Magento\Store\Model\StoreManagerInterface'); 
				//$currentStore = $storeManager->getStore();
				$currentStore = $block->getStore();
				$mediaUrl = $currentStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
				//$model= $block->getContacts();
				$collection= $block->getContacts();
				$data= $collection->getData();
				foreach($data as $imagedata){
                    if(isset($imagedata['link'])){
    					$url= $imagedata['image'];
                        $link= $imagedata['link'];
                        $width= $imagedata['width'];
                        $height= $imagedata['height'];
                    }
				}
				//print_r($block->getFormActionUrl());
				
				?>
			<?php if(isset($url)){	?>
            <div class="block newsletter newsletter-content welcomepp rdesktop-only"  id="popup-newsletter">
			<div class="content">	
	   <a href="<?php if(isset($link)){echo $link;}?>"><img src="<?php if(isset($url)){echo $mediaUrl.'promotions/images/image'.$url;}?>"/></a>

       
    </div></div><?php }?>

<script type="text/x-magento-init">
    {
        "#popup-newsletter": {
            "Quadone_Promotions/js/process-popup-newsletter": {
                "popupTitle": "<?php /* @escapeNotVerified */ //echo __('Promotions'); ?>"
            }
        }
    }
</script>
<style>
.popup-newsletter .service-locate{
	width:<?php echo $width;?>%;
	height:<?php echo $height;?>%;
}
#popup-modal input#popupcity {
    border: 1px solid #cccccc;
    background-color: #eaeaea;
    color: #000;
    text-align: center;
    border-radius: 4px;
    letter-spacing: 0.05em;
}
body .modals-wrapper .modal-popup._inner-scroll .modal-inner-wrap {
max-width: 100% !important;
}
.welcomepp#popup-newsletter {
    margin-bottom: 0px;
    width:100% !important;
}
.popup-newsletter{
        top: 15%;
}
.popup-newsletter .service-locate{
    width:75% !important;
        max-height: 100% !important;
            height: auto !important;
}
.popup-newsletter .service-locate .modal-content{
    overflow-y: hidden;
}
.popup-newsletter .service-locate img{
    width:100%;
}
.popup-newsletter.modal-slide .action-close {
    padding: 0px;
}
.popup-newsletter.modal-slide .action-close:before{
    padding: 3px 5px;
    color: #4aa8ab;
    background-color: rgba(255, 255, 255, 0.76);
    border: 1px solid #4da7b1;
    font-size: 9px;
    border-radius: 100%;
/*    position: absolute;
    top: 0;
    right: 0;*/
}
.popup-newsletter.modal-popup .modal-header {
    padding-top: 0;
    padding: 0px;
}
.popup-newsletter .modal-content{
    padding: 0px;
    margin-bottom: -5px;
}
</style>
