<?php 
$categories = $this->getStoreCategories(true,false,true);
$categoryHelper = $this->getCategoryHelper();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$category = $objectManager->get('Magento\Framework\Registry')->registry('current_category');
$subcats = $category->getChildrenCategories();
if(!empty($subcats) && count($subcats) > 0) {
?>
<section class="shop-cat-wrap explore-more-wrap padding_top20">
    <div class="main-heading">Explore More</div>
    <div class="shop-health-slider flexslider thumbnail-tab">
        <ul class="slides">
            <?php
                foreach($subcats as $subcat):
                $_category = $objectManager->create('Magento\Catalog\Model\Category')->load($subcat->getId());
                if (!$subcat->getIsActive()) {
                  continue;
                }
            ?>
            <li>
                <div class="white-box">
                    <div class="box-table">
                        <?php if(!empty($this->getImageUrl($subcat))) { ?>
                        <div class="box-table-cell cat-icon">
                            <a href="<?php echo $categoryHelper->getCategoryUrl($subcat) ?>">
                                <img width="45px" src="<?php echo $_category->getImageUrl() ?>">
                            </a>
                        </div>
                        <?php } else { ?>
                        <div class="box-table-cell cat-icon">
                            <a href="<?php echo $categoryHelper->getCategoryUrl($subcat) ?>">
                                <img width="45px" src="<?php echo $this->getViewFileUrl('images/apollo_default-img.png'); ?>">
                            </a>
                        </div>
                        <?php } ?>
                        <div class="box-table-cell cat-title"><a href="<?php echo $categoryHelper->getCategoryUrl($subcat) ?>"><?php echo $subcat->getName() ?></a></div>
                    </div>
                </div>
            </li>
            <?php endforeach; ?>
        </ul>
    </div>
    <script>
        (function() {
            require(['jquery', 'magestore/flexslider'], function($) {
                $(document).ready(function($) {
                    $('.shop-health-slider').flexslider({
                        animation: 'slide',
                        animationLoop: true,
                        itemWidth: 180,
                        slideshow: false,
                        controlNav: false,
                        itemMargin: 5,
                        minItems: 2,
                        directionNav:false,
                    });
                });
            });
        })();
    </script>
</section>
<?php } ?>