<?php 
    $careers = $block->getCollection();
    $blockObj= $block->getLayout()->createBlock('Apollo\Career\Block\Listcareerregion');
	$regions = $blockObj->getCollection();
?>
 <section class="main-sec">
    <div class="header-part">
        <div class="heading-top">
            <a href="<?php echo $block->getBaseUrl();?>">
                <img src="<?php echo $this->getViewFileUrl('images/left-arrow.png'); ?>">
            </a>
            <div class="heading-text">
                <?php /* @escapeNotVerified */ echo __('Careers') ?>
            </div>
        </div>
    </div>
    <div class="testimonial-sec">
        <?php if(count($careers) > 0 ): ?>
        <div class="main-heading margin_bottom10">
            <?php /* @escapeNotVerified */ echo __('All Current Opening') ?>
            <div class="pull-right slide-count">
                <span class="active"><?php echo count($careers);?></span>
            </div>
        </div>
        <?php endif; ?>
        <div class="rows">
            <?php if(!count($careers)): ?>
                <div><?php /* @noEscape */ echo __('No current opening available'); ?></div>
            <?php else: ?>
            <div class="career-slider padding_bottom10 flexslider thumbnail-tab">
                <ul class="slides">
                    <?php foreach($careers as $career):?>
                        <li>
                            <div class="padding_right10">
                                <div class="white-box">
                                    <div class="opening-heading"><?php echo $career->getDesignation(); ?></div>
                                    <div class="opening-bottom">
                                        <ul class="opening-list">
                                            <li><div class="opening-img"><img width="21" src="<?php echo $this->getViewFileUrl('images/b_pharma.png'); ?>" /></div> <div class="opening-text"><?php echo $career->getEducation(); ?></div></li>
                                            <li><div class="opening-img"><img width="21" src="<?php echo $this->getViewFileUrl('images/location_1_copy.png'); ?>" /></div> <div class="opening-text"><?php echo $career->getLocation(); ?></div></li>
                                            <li><div class="opening-img"><img width="21" src="<?php echo $this->getViewFileUrl('images/fresher.png'); ?>" /></div> <div class="opening-text"><?php echo $career->getExperience(); ?></div></li>
                                        </ul>
                                        <div class="btn-sec text-center">
                                            <a href="<?php echo $block->getFileUrl($career->getDescription()); ?>" download="<?php echo $career->getDesignation(); ?>" class="download-transparent-btn">Download as PDF <img src="<?php echo $this->getViewFileUrl('images/forma_1.png'); ?>" /></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    <?php endforeach; ?>
                </ul>
            </div>
            <?php endif; ?>
        </div>
        <div class="cv-mail-sec">
            <div class="cv-title1">To Apply, kindly cc all job application to : </div>
            <div class="cv-title2"><a href="mailto:careers@apollopharmacy.org">careers@apollopharmacy.org</a></div>
            <div class="cv-title3">Send your CV to Email Id according to region preference</div>
            <?php if(count($regions) > 0 ): ?>
                <div class="white-box cv-mail-box">
                    <ul>
                        <?php foreach($regions as $region):?>
                            <li>
                                <a href="mailto:<?php echo $region->getEmail(); ?>"><?php echo $region->getName(); ?>-<?php echo $region->getEmail(); ?></a>
                            </li>
                        <?php endforeach; ?>
                    </ul>
                </div>
            <?php endif; ?>
        </div>
    </div>
    <script>
        (function  () {
            require(['jquery', 'magestore/flexslider'], function($) {
                $(document).ready(function($) {
                     $('.career-slider').flexslider({
                        animation: 'slide',
                        animationLoop: false,
                        slideshow: false,
                        controlNav: false,
                        itemWidth: 340,
                        itemMargin: 10,
                        minItems: 1,
                        directionNav:false
                    });

                });
            });
        })();
    </script>
</section>