<?php 
//$addressBlock = $block->getLayout()->createBlock('\Magento\Customer\Block\Address\Book');
$CustomerId = $this->getCustomerId();
$customerAddress = '';
if(!empty($CustomerId)){
    $customerAddress = $this->getCustomerAddresses($this->getCustomerId());
}
?>
 <div class="upload-ps-summry-sec home-selected checkout-delivery-textarea-box">
    <div class="main-heading jq_success_msg"><?php /* @escapeNotVerified */ echo __('Delivery Address'); ?><a href="<?php /* @escapeNotVerified */ echo $block->getUrl('customer/address/new/') ?>" class="pull-right" ><img src="<?php echo $this->getViewFileUrl('images/add_icon.png'); ?>" /> <?php /* @escapeNotVerified */ echo __('Add New'); ?></a></div>
    <div class="rows address-slider-row">
        <?php if(!empty($customerAddress)) { ?>
        <div class="jq_customer_address box-address-slider mb-20 flexslider thumbnail-tab">
            <ul class="slides">
                <?php
                    foreach ($customerAddress as $address) { 
                    $regionId = $address->getRegionId();
                    $region = $regionId ? $regionId : $address->getRegion()->getRegion();
                    $isDefault = '';
                    if(!empty($address->isDefaultShipping())){
                        $isDefault = $address->isDefaultShipping();
                    }
                ?>
                <li id="<?php echo 'address_li'.$address->getId(); ?>">
                    <address>
                        <div class="item">
                            <div class="box-record <?php echo ($isDefault == 1) ? "selected-border" : "" ;?>">
                                <div class="box-record-top ">
                                    <div class="order-address-box">
                                        <?php echo ucfirst($address->getFirstname()) . " " . ucfirst($address->getLastname());?><br/>
                                        <?php if(!empty($address->getCompany())){ echo $address->getCompany().'<br/>';}?>
                                        <?php if(!empty($address->getStreet())){ echo implode(', ', $address->getStreet()).'<br/>';}?>
                                        <?php echo ucfirst($address->getCity()) . ", " . $region . ", " . $address->getPostcode();?><br/>
                                        <?php echo $this->getCountryname($address->getCountryId());?>
                                        <?php echo "T: " . $address->getTelephone();?>
                                        <?php if ($address->getFax()) { echo  "F: " . $address->getFax(); } ?>
                                    </div>
                                    <div class="radio custom-radio ml-auto">
                                        <input type="radio" name="address" class="px" <?php echo ($isDefault == 1) ?  "checked" : "" ; ?> value="<?php echo $address->getId();?>" id="<?php echo $address->getId();?>">
                                        <label></label>
                                    </div>
                                </div>
                                <div class="box-record-bottom">
                                    <div class="mr-auto">
                                        <a href="<?php /* @escapeNotVerified */ echo $block->getUrl('customer/address/edit', ['id' => $address->getId()]) ?>" class="edit edit-icss">
                                            <?php /* @escapeNotVerified */ echo __('Edit') ?>
                                        </a>
                                    </div>
                                    <div class="ml-auto">
                                        <a href="javascript:void(0);" class="delete jq_delete_address" address_id="<?php /* @escapeNotVerified */ echo $address->getId() ?>"><?php /* @escapeNotVerified */ echo __('Delete') ?></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </address>
                </li>
                <?php } ?>
            </ul>
        </div>
        <?php } else { ?>
            <div class="rows padding_lr20 margin_top7">
                <div class="white-box text-center no-address-box">No address available.</div>
            </div>
        <?php } ?>
    </div>
</div>
<script>
	require([
	    'jquery',
	    'mage/translate',
	    'Magento_Ui/js/modal/confirm',
	    "mage/template",
	], function ($, $t, confirm, mageTemplate) {
	    $('.jq_delete_address').click(function (e) {
	        var address_id = $(this).attr('address_id');
	        e.stopPropagation();
	        confirm({
	            content: $t("Are you sure you want to delete this address?"),
	            modalClass: "confirm",
	            actions: {
	                confirm: function () {
	                    try {
	                        jQuery.ajax({
	                            url : '<?php echo $this->getUrl('ordermedicine/medicine/addressdelete'); ?>',
	                            data: { 'address_id' :  address_id},
	                            type: "POST",
	                            dataType: "json",
	                            showLoader: true,
	                            success: function (result) {
	                                showLoader: false;
	                                $('#address_li'+address_id).slideUp(100).remove();
	                                $('.jq_success_msg').after('<span id="successMsg" style="color: #006400;font-size: 13px; margin-left: 20px;">'+result.msg+'</span>');
	                                setTimeout(function() { $("#successMsg").hide(); }, 5000);
	                            }
	                        });
	                    } catch (e) {
	                        showLoader: false;
	                    }
	                }
	            }
	        });
	    });
	});
</script>
<script>
    (function() {
        require(['jquery'], function($) {
            $(document).ready(function($) {
	            $('input[name=address]').change(function() {
	             	$(".box-record").removeClass('selected-border');
	             	$(this).parents('.box-record').addClass('selected-border');
	            });
            });
        });
    })();
</script>