<?php 
$CustomerId = $this->getCustomerId();
$customerAddress = '';
if(!empty($CustomerId)){
    $customerAddress = $this->getCustomerAddresses($this->getCustomerId());
}
?>
<div class="rows padding_top20">
  <div class="main-heading padding_lr20 jq_success_msg"><?php /* @escapeNotVerified */ echo __('Delivery Address'); ?> <a href="<?php /* @escapeNotVerified */ echo $block->getUrl('customer/address/new/') ?>" class="pull-right" ><img src="<?php echo $this->getViewFileUrl('images/add_icon.png'); ?>" /> <?php /* @escapeNotVerified */ echo __('Add New'); ?></a></div>
  <div class="rows address-slider-row">
      <?php if(empty(!$customerAddress)) { ?>
      <div class="jq_customer_address box-address-slider flexslider thumbnail-tab">
          <ul class="slides">
            <?php
                foreach ($customerAddress as $address) { 
                $regionId = $address->getRegionId();
                $region = $regionId ? $regionId : $address->getRegion()->getRegion();
                $isDefault = '';
                if(!empty($address->isDefaultShipping())){
                    $isDefault = $address->isDefaultShipping();
                }
            ?>
            <li id="<?php echo 'address_li'.$address->getId(); ?>">
                <div class="item">
                    <div class="box-record <?php echo ($isDefault == 1) ? "selected-border" : "" ;?>">
                      <div class="box-record-top">
                          <div class="order-address-box">
                            <?php echo ucfirst($address->getFirstname()) . " " . ucfirst($address->getLastname());?><br/>
                            <?php if(!empty($address->getCompany())){ echo $address->getCompany().'<br/>';}?>
                            <?php if(!empty($address->getStreet())){ echo implode(', ', $address->getStreet()).'<br/>';}?>
                            <?php echo ucfirst($address->getCity()) . ", " . $region . ", " . $address->getPostcode();?><br/>
                            <?php echo $this->getCountryname($address->getCountryId());?>
                            <?php echo "T: " . $address->getTelephone();?>
                            <?php if ($address->getFax()) { echo  "F: " . $address->getFax(); } ?>
                          </div>
                      </div>
                      <div class="box-record-bottom">
                          <div class="mr-auto">
                            <a href="<?php /* @escapeNotVerified */ echo $block->getUrl('customer/address/edit', ['id' => $address->getId()]) ?>" class="edit edit-icss"><?php /* @escapeNotVerified */ echo __('Edit') ?></a>
                          </div>
                          <div class="ml-auto">
                              <a href="javascript:void(0);" class="delete jq_delete_address" address_id="<?php /* @escapeNotVerified */ echo $address->getId() ?>"><?php /* @escapeNotVerified */ echo __('Delete') ?></a>
                          </div>
                      </div>
                    </div>
                </div>
            </li>
            <?php } ?>
          </ul>
      </div>
      <?php } else { ?>
        <div class="rows padding_lr20 margin_top7">
            <div class="white-box text-center no-address-box">No address available.</div>
        </div>
    <?php } ?>
  </div>
</div>
<script>
    (function() {
        require(['jquery', 'magestore/flexslider'], function($) {
            $(document).ready(function($) {
                 $('.jq_customer_address').flexslider({
                    animation: 'slide',
                      animationLoop: true,
                      itemWidth: 280,
                      slideshow: false,
                      controlNav: false,
                      itemMargin: 10,
                      minItems: 1,
                      directionNav:false,
                });
            });
        });
    })();
</script>
<script>
require([
    'jquery',
    'mage/translate',
    'Magento_Ui/js/modal/confirm',
    "mage/template",
], function ($, $t, confirm, mageTemplate) {
    $('.jq_delete_address').click(function (e) {
        var address_id = $(this).attr('address_id');
        e.stopPropagation();
        confirm({
            content: $t("Are you sure you want to delete this address?"),
            modalClass: "confirm",
            actions: {
                confirm: function () {
                    try {
                        jQuery.ajax({
                            url : '<?php echo $this->getUrl('ordermedicine/medicine/addressdelete'); ?>',
                            data: { 'address_id' :  address_id},
                            type: "POST",
                            dataType: "json",
                            showLoader: true,
                            success: function (result) {
                                showLoader: false;
                                $('#address_li'+address_id).slideUp(100).remove();
                                $('.jq_success_msg').after('<span id="successMsg" style="color: #006400;font-size: 13px; margin-left: 20px;">'+result.msg+'</span>');
                                setTimeout(function() { $("#successMsg").hide(); }, 5000);
                            }
                        });
                    } catch (e) {
                        showLoader: false;
                    }
                }
            }
        });
    });
});
</script>