<section class="main-sec">
    <div class="header-part">
        <div class="heading-top">
          <a href="<?php echo $block->getBaseUrl();?>">
            <img src="<?php echo $this->getViewFileUrl('images/left-arrow.png'); ?>" />
          </a>
          <div class="heading-text">
            Upload Prescription
          </div>
        </div>
    </div>
    <section class="upload-ps-option-wrap">
        <div class="main-heading">Choose from options below</div>
        <div class="choose-option ps-option2">
            <ul>
                <li>
                    <a href="javascript:void(0);">
                        <div class="white-box upload-with-camera">
                            <img width="50" src="<?php echo $this->getViewFileUrl('images/new-images/click_and_upload_picture.png'); ?>" />
                            <div class="option-title">Click and <br/>Upload Picture</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <div class="white-box upload-from-gallery">
                            <img width="50" src="<?php echo $this->getViewFileUrl('images/new-images/choose_picture_from_gallery.png'); ?>" />
                            <div class="option-title">Choose Picture <br>from Gallery</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <div class="white-box choose-from-uploaded">
                            <img width="44" src="<?php echo $this->getViewFileUrl('images/new-images/choose_from_already_uploaded.png'); ?>" />
                            <div class="option-title">Choose from <br>already uploaded</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <form  id="form1" enctype="multipart/form-data" method="post" >
          <div style="display: none;">
            <input type="hidden" id="upload_url" value="<?php echo $this->getUrl('ordermedicine/medicine/uploadprescriptionsmobile') ?>">
            <input type="hidden" id="next_url" value="<?php echo $this->getUrl('ordermedicine/medicine/uploadedprescriptionsmobile') ?>">
            <input type="hidden" id="login_url" value="<?php echo $this->getUrl('sociallogin/mobile/login') ?>"> 
            <input type="hidden" id="choose_prescriptions_url" value="<?php echo $this->getUrl('ordermedicine/medicine/myprescriptions') ?>">
            <label for="fileToUpload">Take or select photo(s)</label><br />
            <input type="file" name="fileToUpload" id="fileToUpload" accept="image/*" capture="camera" />
            <input type="file" name="fileToUpload1" id="fileToUpload1" accept="image/*"  />
          </div>
          <div id="details"></div>
          <div id="progress"></div>
        </form>

      <!-- Cms Blcok for Order Medicines in 2 easy steps for Uploading Prescription -->
      <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('order_medicines_in_2_easy_steps_uploading_prescription')->toHtml();?>
      <!--Cms Block for Instructions for Uploading Prescription -->
      <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('instructions_for_uploading_prescription')->toHtml();?>
    <script>
      require(['jquery','Magento_Ui/js/modal/modal'],
        function($,modal) {
          var options = {
              type: 'popup',
              responsive: true,
              innerScroll: true,
              buttons: [],
              modalClass: 'instructions-popup-modal',
              title: '',
          };
          var popup = modal(options, $('#jq_instructions_modal'));
          $("#jq_instructions_click").on('click',function(){ 
            $("#jq_instructions_modal").modal("openModal");
          });
      });
    </script>
  </section>
</section>
<div class="loading" style="display: none;">Loading&#8230;</div>
<style type="text/css">/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}
/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}</style>
<script type="text/x-magento-init">
    {"*": {"Apollo_Medicine/js/mobile": {}}}
</script>