 <section>
    <div class="header-part">
        <div class="heading-top">
          <a href="<?php echo $this->getUrl('/'); ?>">
            <img src="<?php echo $this->getViewFileUrl('images/left-arrow.png'); ?>" />
          </a>
          <div class="heading-text">
            Request Confirmation
          </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="request-confirm-sec">
            <div class="white-box request-confirm-box">
                <div class="payment-green">
                    <img src="<?php echo $this->getViewFileUrl('images/green-check.png'); ?>" />
                </div>
                <div class="success-heading">Request Cofirmed!</div>
                <div class="order-id">ID Number  : <?php echo $this->getPrescriptionId(); ?></div>
                <div class="call-soon">Our Customer Care Executive will call you soon!</div>
                <div class="text-center">
                    <div class="query-call">For any Queries call on</div>
                    <a href="tel:+18605000101" class="grey-button"><img src="<?php echo $this->getViewFileUrl('images/phone-icon.png'); ?>" /> 1860 500 0101</a>
                </div>
            </div>
            <div class="apply-coupon-box back-home-box">
                <a href="<?php echo $this->getUrl('/'); ?>" class="white-box">
                    <img width="24" src="<?php echo $this->getViewFileUrl('images/new-images/back_to_home.png'); ?>"> Back to Home
                    <img class="pull-right" src="<?php echo $this->getViewFileUrl('images/black-right-arrow.png'); ?>">
                </a>
            </div>
        </div>
    </div>
</section>

<script type="text/x-magento-init">
    {"*": {"Apollo_Medicine/js/mobile": {}}}
</script>