<section class="main-sec">
    <div class="header-part">
        <div class="heading-top">
            <a href="javascript:window.history.back();">
                <img src="<?php echo $this->getViewFileUrl('images/left-arrow.png'); ?>">
            </a>
            <div class="heading-text">
                Store Pickup
            </div>
        </div>
    </div>
    <div class="store-pickup-map">
        <div id="googleMap" style="width:100%;height:175px;"></div>
    </div>
    <div class="container-fluid">
        <div class="store-pickup-sec">
            <div class="white-box area-pincode-box">
                <div class="main-heading font-14">Enter Area Pincode</div>
                <input type="text" id="storpickup_pincode" class="store-pickup-hidden" name="storpickup_pincode">
                <span id="pincode-callback"></span>
            </div>
            <div class="preferable-store-box no-padding-l">
                <div class="main-heading font-14">Select Preferable Store</div>
                <div class="preferable-address"><img src="<?php echo $this->getViewFileUrl('images/store-locater.png'); ?>"> Preferred Store</div>
            </div>
            <div class="store-list-sec jq_store_data"></div>
        </div>
    </div>
    <script>
        (function () {
            require(['jquery'], function($) {
                $(document).ready(function($) {
                    getCurrentPinCode()
                    $('#storpickup_pincode').pincodeInput({hidedigits:false,inputs:6});
                    $('.pincode-input-text').keyup(function(){
                        getData();
                    });
                });
            });
        })();
    </script>
    <script>
        function getData() {
             var stor_pickup_pincode = jQuery("#storpickup_pincode").val();
             console.log(stor_pickup_pincode)
             var infowindow = new google.maps.InfoWindow();
             if(jQuery("#storpickup_pincode").val().length >= 6){
                try {
                    jQuery.ajax({
                        url : '<?php echo $this->getUrl('ordermedicine/medicine/storepickupmobile'); ?>',
                        data: { 'pincode' :  stor_pickup_pincode},
                        type: "POST",
                        dataType: "json",
                        showLoader: true,
                        success: function (result) {
                            if(result[1].length != 0)
                            {
                                var mapProp= {
                                    center:new google.maps.LatLng(result[1][0].plat,result[1][0].plon),
                                    zoom:12,
                                  };
                               var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

                                result[1].forEach(function(value,key){
                                    var marker = new google.maps.Marker({
                                    position: new google.maps.LatLng(value.plat, value.plon),
                                    map: map
                                });
                                   
                                google.maps.event.addListener(marker, 'click', (function(marker) {
                                  return function() {
                                    infowindow.setContent('<div class="map-store-name"> '+value.storename+'</div><div class="map-store-address">'+value.baddress+'</div><div class="map-store-phone">'+value.phno+'</div>');
                                    infowindow.open(map, marker);
                                  }
                                })(marker));
                                })
                            }
                            else{
                                myMap()
                            }
                            jQuery('.jq_store_data').html(result[0]);
                        }
                    });
                } catch (e) {
                    showLoader: false
                }
            } else {
                showLoader: false
                jQuery('.jq_store_data').html('');
            }
            if(jQuery("#storpickup_pincode").val().length == 5){
                myMap()
            }
        }
        function myMap() {
            var mapProp= {
              center:new google.maps.LatLng(20.593683,78.962883),
              zoom:5,
            };

            var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
             google.maps.event.addDomListener(window, "resize", function() {
                var center = map.getCenter();
                google.maps.event.trigger(map, "resize");
                map.setCenter(center); 
              });
            }
        function getCurrentPinCode(){
            if(navigator.geolocation){
             navigator.geolocation.getCurrentPosition(
                function( position ){ // success cb
                    var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                    var geocoder = geocoder = new google.maps.Geocoder();
                    geocoder.geocode({ 'latLng': latlng }, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        results[0].address_components.forEach(function(value,key){
                            if(value.types[0] == "postal_code"){
                                document.getElementById("storpickup_pincode").value = value.long_name;
                                var parent= document.getElementsByClassName("pincode-input-container");
                                for (var i = 0; i < value.long_name.length; i++) {
                                 parent[0].childNodes[i].value=value.long_name.charAt(i);

                                }          
                                getData();
                            }
                        })
                        }
                    });
                    }
                );
            }
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJ3AyJaoAZnNi1IV3-0AmjgaPJgtiXOGA&libraries=places&callback=myMap"></script>
</section>