<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
 <!-- ko if: getValuewithoutformatted() != '0.00' -->

  <tr class="totals paymentfee excl">
        <th class="mark" scope="row">
            <span class="label" data-bind="text: getLable()"></span>
            <span class="value" data-bind="text: getValue()"></span>
        </th>
        <td class="amount">

            <span class="price"
                  data-bind="text: getValue(), getLable()"></span>


        </td>
    </tr>   

<!-- /ko -->