<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Account\Dashboard\Info $block */
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
$customerMobile = $customerSession->getCustomer()->getData('mobile_number');

?>
<section class="main-sec">
    <div class="header-part">
        <div class="heading-top">
            <a href="<?php echo $block->getBaseUrl();?>">
                <img src="<?php echo $this->getViewFileUrl('images/left-arrow.png'); ?>">
            </a>
            <div class="heading-text">
                <?php /* @escapeNotVerified */ echo __('My Account') ?>
            </div>
        </div>
    </div>
    <div class="rows-sec">
      <div class="rows padding_lr20">
        <div class="green-box">
          <div class="display-flex cat-offer profile-box">
            <div class="offer-left">
              <div class="profile-img">
                <img width="58" src="<?php echo $this->getViewFileUrl('images/profile-img.png'); ?>">
              </div>
            </div>
            <div class="offer-mid">
              <div class="profile-heading"><?php echo $block->escapeHtml($block->getName()) ?></div>
              <div class="profile-dtl"><?php 
              $email = $block->getCustomer()->getEmail();
              $enumber = strstr($email, '@', true);
              if(is_numeric($enumber) && strlen($enumber)==8){
                echo 'Add Address';
              }else {
                echo $block->escapeHtml($block->getCustomer()->getEmail());
              }
               ?><br>
              <?php echo $customerMobile ?></div>
            </div>
            <div class="offer-right">
              <a href="<?php /* @escapeNotVerified */ echo $block->getUrl('customer/account/edit') ?>" class="profile-edit"><?php /* @escapeNotVerified */ echo __('Edit') ?></a>
            </div>
          </div>
        </div>
      </div>
      <?php if ($block->isNewsletterEnabled()): ?>
          <div class="rows padding_lr20 padding_top20">
            <div class="white-box">
                <form class="form form-newsletter-manage" action="<?php /* @escapeNotVerified */ echo $block->getBaseUrl().'newsletter/manage/save/' ?>" method="post" id="form-validate">
                    <?php echo $block->getBlockHtml('formkey')?>
                    <div class="checkbox custom-checkbox">
                        <input type="checkbox" name="is_subscribed" id="subscription" value="1" title="<?php /* @escapeNotVerified */ echo __('General Subscription') ?>"<?php if ($block->getIsSubscribed()): ?> checked="checked"<?php endif; ?> class="px">
                        <label><?php /* @escapeNotVerified */ echo __('Be a part of our'); ?> <strong><?php /* @escapeNotVerified */ echo __('Newsletter Subscription'); ?></strong></label>
                    </div>
                    <button type="submit" class="jq_newsletter hide"><span><?php /* @escapeNotVerified */ echo __('Save') ?></span></button>
                </form>
            </div>
          </div>
          <script>
            (function  () {
                require(['jquery'], function($) {
                  $(document).ready(function($) {
                    $("#subscription").click( function() {
                        showLoader: true;
                        $(".jq_newsletter").click();
                    });
                  });
                });
            })();
          </script>
      <?php endif; ?>
      <?php 
        echo $this->getLayout()
        ->createBlock('Apollo\Medicine\Block\Specifydetails')
        ->setTemplate('Apollo_Medicine::my_account_address.phtml')
        ->toHtml();
      ?>
    <div class="menu-tab-list padding_lr20 margin_top5">
        <ul>
          <li>
            <a href="<?php echo $this->getUrl()."ordermedicine/medicine/myprescriptions/"; ?>"><?php /* @escapeNotVerified */ echo __('My Prescriptions');?><span class="right-arrow"></span></a>
          </li>
          <li>
            <a href="<?php echo $this->getUrl()."sales/order/history/"; ?>"><?php /* @escapeNotVerified */ echo __('My Orders');?><span class="right-arrow"></span></a>
          </li>
          <!-- <li>
            <a href="javascript:void(0);"><?php /* @escapeNotVerified */ //echo __('My Health Credits') ?><span class="credit-score">200</span> <span class="right-arrow"></span></a>
          </li>
          <li>
            <a href="javascript:void(0);"><?php /* @escapeNotVerified */ //echo __('My Refill Reminder'); ?><span class="right-arrow"></span></a>
          </li> -->
          <li>
            <a href="<?php echo $this->getUrl()."wishlist/"; ?>"><?php /* @escapeNotVerified */ echo __('My Wishlist'); ?><span class="right-arrow"></span></a>
          </li>
          <li>
            <a href="<?php echo $this->getUrl()."mycard/customer/index/"; ?>"><?php /* @escapeNotVerified */ echo __('Subscribed Products'); ?><span class="right-arrow"></span></a>
          </li>
          <li>
            <a href="<?php echo $this->getUrl()."review/customer/"; ?>"><?php /* @escapeNotVerified */ echo __('My Products Review'); ?><span class="right-arrow"></span></a>
          </li>
         <!--  <li>
            <a href="javascript:void(0);"><?php /* @escapeNotVerified */ //echo __('My Notification'); ?><span class="notifaction-count">2</span> <span class="right-arrow"></span></a>
          </li> -->
        </ul>
      </div>
    </div>
</section>
