<?php
$_item = $block->getItem();
$product = $_item->getProduct(); // Get cart product details
$additional_data = $block->getAdditionalData($product->getId());

?>
<?php if(!empty($additional_data)){ ?>
<a href="javascript:void(0);" id="show<?php echo $product->getId();?>" class="show">Refill Reminder</a>
<table class="cart-table" border="1" id="refill_reminder<?php echo $product->getId();?>">
	<tr>
		<th>Qty</th>
		<th>Frequency</th>
	</tr>
	<tr>
		<td>
			
			<p><span id="error-qty" style="display:none;color:red;">Quantity cannot be empty</span><input type="text" name="refill-qty" id="refill-qty" value="<?php echo $additional_data[0]['quantity'];?>">
		</p>
	</td>
	<td>
		<p>
			<select name="frequency" id="refill-fre">
				<option <?php echo ($additional_data[0]['frequency'] == 10)?"selected":"" ?> >10 days</option>
				<option <?php echo ($additional_data[0]['frequency'] == 11)?"selected":"" ?> >11 days</option>
				<option <?php echo ($additional_data[0]['frequency'] == 12)?"selected":"" ?> >12 days</option>
				<option <?php echo ($additional_data[0]['frequency'] == 13)?"selected":"" ?> >13 days</option>
			</select>
		</p></td>
	</tr>
	<tr>
		<td><span id="succ-qty" style="display:none;color:green;">Reminder Set Successfully</span></td>
		<td></td>
	</tr>
	<tr>
		<td  class="padzv" colspan="2">
			<input type="hidden" name="product_id" id="refill-pid" value="<?php echo $product->getId();?>">
			<button type="button" class="refill-submit" id="refill-submit<?php echo $product->getId();?>">Submit</button>
		</td>
	</tr>
</table>
<?php }
else{ ?>
<a href="javascript:void(0);" id="show<?php echo $product->getId();?>" class="show">Refill Reminder</a>
<table class="cart-table" border="1" id="refill_reminder<?php echo $product->getId();?>">

<tr>
	<td>Quantity</td>
	<td>Frequency</td>
</tr>
<tr>
	<td>
		<span id="error-qty" style="display:none;color:red;">Quantity cannot be empty</span>
		<input type="text" name="refill-qty" id="refill-qty" value="">
	</td>
	<td>
		<select name="frequency" id="refill-fre">
			<option value="10">10 days</option>
			<option value="11">11 days</option>
			<option value="12">12 days</option>
			<option value="13">13 days</option>
		</select>
	</td>
</tr>
<tr>
	<td><span id="succ-qty" style="display:none;color:green;">Reminder Set Successfully</span></td>	
	<td></td>
</tr>
<tr>
	<td class="padzv" colspan=2>
		<input type="hidden" name="product_id" id="refill-pid" value="<?php echo $product->getId();?>">
		<button type="button" class="refill-submit" id="refill-submit<?php echo $product->getId();?>">Submit</button>
	</td>
</tr>
</table>

<?php }	?>
<style type="text/css">
	.cart-table{text-align: center;}
	.padzv{padding: 0 10px !important;}
	.cart-table td{width: 200px; max-width: 100%;}
	.cart-table tr:first-child{border-bottom: 1px solid;}
	.cart.table-wrapper .cart tbody td{padding-top: 10px;}
	.cart-table #refill-qty, .cart-table #refill-fre{width: 155px;}
	.cart-table td:first-child{border-right: 1px solid !important;}
	.cart-table .refill-submit{
	    color: #fff !important;
	    box-shadow: none !important;
	    border-color: #007c9d !important;
		background-color: #007c9d !important;
	}
</style>