@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900');
body {
    background: #efefef;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    margin: 0 auto;
}
.design-tabs.custom-tabs ul {
    margin: 0;
    padding: 0;
    list-style: none; 
}
.design-tabs.custom-tabs ul li a {
    text-decoration: none;
}
/*.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}*/
.serach-bar .left-sec {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translate(0,-50%);
    line-height: 9px;
}
.serach-bar {
    position: relative;
    margin-bottom: 20px;
}
.serach-bar input {
    font-size: 12px;
    height: 40px;
    border: 0px;
    background: #ffffff;
    padding-left: 50px;
    padding-right: 50px;
    color: #808080;
    font-weight: 400;
}
.current-location.serach-bar input,
.search-location.serach-bar input {
    /*padding-left: 15px;
    padding-right: 15px;*/
    width: 100%;
    border-radius: 3px;
    box-sizing: border-box;
}
.current-location.serach-bar input, 
.search-location.serach-bar input {
    box-shadow: 1px 0 7px rgba(0, 0, 0, 0.07);
}
.serach-bar .right-sec {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0,-50%);
}
.serach-bar .right-sec a {
    display: block;
    line-height: 10px;
}
.design-tabs.custom-tabs .ui-tabs-nav {
    white-space: nowrap;
    overflow-x: auto;
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 12px;
}
.design-tabs.custom-tabs .ui-tabs-nav {
    border-bottom: none; 
}
.design-tabs.custom-tabs .ui-tabs-nav .ui-tabs-tab {
    width: 50%;
    float: left;
}
.design-tabs.custom-tabs .ui-tabs-nav .ui-tabs-anchor { 
    background: #ffffff;
    height: 34px;
    width: 100%;
    display: block;
    font-size: 14px;
    color: #3b3b3b;
    font-weight: 600;
    text-align: center; 
    padding: 0;
    line-height: 34px;
}
.design-tabs.custom-tabs .ui-tabs-nav .ui-tabs-tab:first-child .ui-tabs-anchor {
    border-radius: 3px 0 0 3px;
}
.design-tabs.custom-tabs .ui-tabs-nav .ui-tabs-tab:last-child .ui-tabs-anchor {
    border-radius: 0 3px 3px 0;
}
.design-tabs.custom-tabs .ui-tabs-nav .ui-tabs-active .ui-tabs-anchor {
    border-bottom: none; 
    background: #00777f;
    color: #fff; 
}
.rows {
    overflow: hidden;
    clear: both;
}
.padding_lr20 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.serach-bar {
    position: relative;
    margin-bottom: 20px;
}
.white-box {
    background: #fff;
    box-shadow: 1px 0 7px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    padding: 14px 12px;
}
.selected-border {
    position: relative;
}
.current-location {
    margin-top: 5px;
    margin-bottom: 5px;
}
.locator-box {
    padding: 0;
    margin-bottom: 10px;
}
.locator-box-top {
    background: rgba(0, 119, 117, 0.88); 
    padding: 15px;
    position: relative;
    border-radius: 2px 2px 0 0;
}
.locator-heading {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
}
.locator-subheading {
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    margin: 7px 0 3px; 
}
.locator-address {
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
    max-width: 80%;
}
.locator-action {
    position: absolute;
    top: 15px;
    right: 15px;
}
.locator-phone {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    border: solid 1px #fff;
    display: inline-block;
    line-height: 25px;
    text-align: center;
    margin-right: 15px;
    vertical-align: top;
}
.locator-place {
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
    margin-top: 10px;
}
.locator-place img {
    vertical-align: -3px;
    margin-right: 5px;
}
.locator-box-bottom {
    background: #ffffff;
    padding: 10px 15px 18px; 
    border-radius: 0 0 2px 2px;  
}

.locator-info {
    font-size: 12px;
    font-weight: 600;
    color: #4d4d4d;
    margin: 2px 0;
}
.locator-info a,
.locator-info span.dark {
    color: #000;
    display: inline-block;
    text-decoration: none;
}
.locator-info span.pull-right {
    padding-right: 15px;
}
.margin_top-20 {
    margin-top: -20px !important;
}
.selected-border:after {
    border-bottom: solid 4px #e2a51d;
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    border-radius: 0 0 2px 2px;
}

.custom-tabs ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.custom-tabs ul li {
    padding: 0;
    margin: 0;
    float: left;
    width: 50%;
    position: relative;
}
.custom-tabs ul li span {
    background: #ffffff;
    height: 34px;
    width: 100%;
    display: block;
    font-size: 14px;
    color: #3b3b3b;
    font-weight: 600;
    text-align: center;
    padding: 0;
    line-height: 34px;
}
.custom-tabs ul li span:first-child {
    border-radius: 3px 0 0 3px; 
}
.custom-tabs ul li span:last-child {
    border-radius: 0 3px 3px 0; 
}
.custom-tabs ul li input {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    height: 100%;
    opacity: 0;
    z-index: 1;
}
.custom-tabs ul li input:checked+span {
    border-bottom: none;
    background: #00777f;
    color: #fff;
    display: block;
}

.current-location.serach-bar input:hover,
.current-location.serach-bar input:focus,
.search-location.serach-bar input:hover,
.search-location.serach-bar input:focus {
    outline: none;
    box-shadow: none;
}

.sl-search-result {
    margin-top: -20px;
    position: relative;
    z-index: 9; 
}
.sl-search-result .margin_top-20 {
    margin-top: 0 !important;
}

.map-store-name {
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    color: rgba(0, 119, 117, 0.88);
}
.map-store-address {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #333;
    margin: 10px 0;
}
.map-store-phone {
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    color: #333;
}
.columns .column.main {
    padding-bottom: 15px;
}
.google-map-data{
    height: 265px !important;
}