<?php
$_brandCollection = $block->getBrandCollection();
$_helper = $this->helper('Ves\Brand\Helper\Data');
$title = $this->getConfig('brand_block/title');
$blockId = rand().time();

// Boostrap Carousel
$itemsperpage = (int)$this->getConfig('brand_block/item_per_page',6);
$lg_column_item = (int)$this->getConfig('brand_block/lg_column_item',6);
$md_column_item = (int)$this->getConfig('brand_block/md_column_item',6);
$sm_column_item = (int)$this->getConfig('brand_block/sm_column_item',6);
$xs_column_item = (int)$this->getConfig('brand_block/xs_column_item',6);

$lg_column = 12/$lg_column_item;
$md_column = 12/$md_column_item;
$sm_column = 12/$sm_column_item;
$xs_column = 12/$xs_column_item;

$show_brand_name = $this->getConfig('brand_block/show_brand_name');
$addition_class = $this->getConfig('brand_block/addition_class');
$interval = $this->getConfig('brand_block/interval',1000);
$auto_play = $this->getConfig('brand_block/auto_play');
$speed = $this->getConfig('brand_block/speed');
$dots = $this->getConfig('brand_block/dots',true);
$nav = $this->getConfig('brand_block/nav',true);
$nav_prev = $this->getConfig('brand_block/nav_prev');
$nav_next = $this->getConfig('brand_block/nav_next');

?>
<?php if ( $_brandCollection->count() ){ ?>
<?php
$total = $_brandCollection->getSize();
$totalPage = '';
if($total%$itemsperpage == 0){
	$totalPage = $total/$itemsperpage;
} else {
	$totalPage = floor($total/$itemsperpage)+1;
}
$pretext = $_helper->filter($this->getConfig('brand_block/pretext'));
?>
<section class="common-you-wrap shop-brand-wrap">
    <div class="main-heading">Shop by Brands <a href="<?php echo $block->getBaseUrl();?>brands" class="pull-right">VIEW ALL</a></div>
    <ul class="shop-brand-list">
    	<?php 
		    $i = 0;
		    foreach ($_brandCollection as $_brand) { $i++;
            if($i>2) break;
	    ?>
        <li>
            <a href="<?php echo $_brand->getBrandUrl(); ?>">
                <div class="white-box">
                    <img src="<?php echo $_brand->getThumbnailUrl(); ?>"/>
                </div>
            </a>
        </li>
        <?php } ?>
    </ul>
    
    <div class="shop-brand-slider flexslider thumbnail-tab">
        <ul class="slides">
        	<?php $i = 0; foreach ($_brandCollection as $_brand) { $i++; if($i<3) continue; ?>
	        	<li>
                    <a href="<?php echo $_brand->getBrandUrl(); ?>">
    			        <div class="item">
    			            <div class="white-box">
    			                <img src="<?php echo $_brand->getThumbnailUrl(); ?>" />
    			            </div>
    			        </div>
                    </a>
		    	</li>
	    	<?php } ?>
    	</ul>
    </div>
    <script>
        (function  () {
            require(['jquery', 'magestore/flexslider'], function($) {
                $(document).ready(function($) {
                     $('.shop-brand-slider').flexslider({
                        animation: 'slide',
                        animationLoop: true,
                        itemWidth: 280,
                        slideshow: false,
                        controlNav: false,
                        itemMargin: 10,
                        minItems: 3,
                        directionNav:false,
                    });
                });
            });
        })();
    </script>
</section>
<?php } ?>