<?php
$_OffersBrandCollection = $block->getOffersBrandCollection();
$_helper = $this->helper('Ves\Brand\Helper\Data');
if ( $_OffersBrandCollection->count() ){
?>
<section class="top-brand-sec offer-brand-sec pull-left padding_top10">
   <div class="main-heading"><?php /* @escapeNotVerified */ echo __('Offer on Brands'); ?></div>
   <div class="shop-brand-slider flexslider thumbnail-tab">
    <ul class="slides">
      <?php foreach ($_OffersBrandCollection as $_brand ) { ?>
        <li>
            <a href="<?php echo $_brand->getBrandUrl(); ?>">
              <div class="white-box">
                <?php if(!empty($_brand->getDiscount())) { ?>
                  <div class="offer-tag small-tag">Save<br><?php echo $_brand->getDiscount();?>%</div>
                <?php } ?>
                <img src="<?php echo $_brand->getThumbnailUrl(); ?>"/>
              </div>
            </a>
        </li>
     <?php } ?>
    </ul>
  </div>
</section>
<script>
    (function(){
        require(['jquery', 'magestore/flexslider'], function($) {
            $(document).ready(function($) {
                $('.shop-brand-slider').flexslider({
                  animation: "slide",
                  animationLoop: false,
                  itemWidth: 210,
                  itemMargin: 0,
                  minItems: 3,
                  maxItems: 3,
                  controlNav: false,
                  directionNav: false,
                  start: function(slider){
                    $('body').removeClass('loading');
                  }
                });
            });
        });
    })();
</script>
<?php } ?>