<div class="tagalys-namespace" id="tagalys-namespace"></div>

<script>
    require(['jquery'],function(jQuery){
        jQuery(document).on('tagalys:ready', function() {
            jQuery('#tagalys-namespace').tagalys_mpage({ name: '<?php echo $this->getMpageUrlComponent() ?>' });
        });
    });
</script>