		<footer class="footer-wrap">
			<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('apollo_pharmacy_play_store_links')->toHtml();?>
			<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('mobile_theme_social_Icons')->toHtml();?>
			<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('mobile_theme_payment_options')->toHtml();?>
			<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('mobile-theme-copyright')->toHtml();?>
		</footer>
	</section>
</section>