<?php
$welcomeMessage = $this->helper('Apollo\Medicine\Helper\Data')->getConfig('design/header/welcome');
$telephone = '';
if(isset($welcomeMessage)){
	$message_array = explode(':',$welcomeMessage);
	$telephone = str_replace(" ","",$message_array[1]);
}
?>
<section class="main-sec">
	<header class="header-wrap">
	    <div class="header-bottom">
	        <div class="row">
	            <div class="col-6">
	                <a href="javascript:void(0);" class="jq_hamburger_menu"><img width="24" src="<?php echo $this->getViewFileUrl('images/new-img/hamburger.png'); ?>" /></a>
	                <a href="<?= $block->getUrl('') ?>"><img width="36" src="<?php echo $this->getViewFileUrl('images/new-img/logo_2.png'); ?>" /></a>
	            </div>
	            <div class="col-6 text-right action-btn-right">
	                <a href="tel:<?php echo $telephone;?>"><img width="20" src="<?php echo $this->getViewFileUrl('images/new-img/call.png'); ?>" /></a>
                    <?php echo $this->getChildHtml('minicart') ?>
	            </div>
	        </div>
        	<?php
				$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
				$categoryFactory = $objectManager->get('\Magento\Catalog\Model\CategoryFactory');
				$categoryHelper = $objectManager->get('\Magento\Catalog\Helper\Category');
				$categories = $categoryHelper->getStoreCategories();
				if(isset($categories) && !empty($categories)) {
        	?>
	        <div class="row">
	            <div class="col-12 search-field">
	                <div class="search-dropdown">
	                    <a href="javascript:void(0);" class="jq_category_opt">Shop by <br/>Category</a>
	                    <div class="category-menu">
	                      <ul>
	                      	<?php 
                            $i = 1;
	                      		foreach ($categories as $category) {
								if (!$category->getIsActive()) {
									continue;
								}
								$pcategory = $categoryFactory->create()->load($category->getId());
								$childrenCategories = $pcategory->getChildrenCategories();
	                      	?>
		                        <li id="jq_shop_category_<?php echo $i;?>" class="cat-dropdown collapsable collapsable-accordion">
                              <h4 class="ca-control">
		                            <a href="<?php echo $categoryHelper->getCategoryUrl($category) ?>" class="plus-parent-link"><?php echo $category->getName(); ?></a>
                                <a href="#jq_shop_category_<?php echo $i;?>" class="cat-name plus-parent-link start collapsed"></a>
                              </h4>
		                          <?php if(isset($childrenCategories) && !empty($childrenCategories)) { ?>
		                          <ul class="ca-box cat-submenu">
		                            <?php 
		                            	foreach ($childrenCategories as $childnode) {
		                                if (!$childnode->getIsActive()) {
		                                    continue;
		                                }
		                            ?>
		                            <li>
		                              <a href="<?php echo $categoryHelper->getCategoryUrl($childnode) ?>"><?php echo $childnode->getName(); ?></a>
		                            </li>
		                        	<?php } ?>
		                          </ul>
	                      		  <?php } ?>
		                        </li>
	                    	<?php $i++; } ?>
	                      </ul>
	                    </div>
	                </div>
	                <?php 
					echo $this->getLayout()
					->createBlock('Magento\Framework\View\Element\Template')
					->setTemplate('Magento_Search::form.mini.phtml')
					->toHtml();
					?>
	            </div>
	        </div>
    		<?php } ?>
	    </div>
    </header>
	<script type="text/x-magento-init">
	{
	    "*": {
	        "Magento_Ui/js/core/app": {
	            "components": {
	                "customer": {
	                    "component": "Magento_Customer/js/view/customer"
	                }
	            }
	        }
	    }
	}
	</script>
   