<?php
$blk = $block->getLayout()->createBlock('Retail\Jiyo\Block\Base\Url');
$base_url = $blk->siteUrl();
$blockObj = $block->getLayout()->createBlock('Magento\Customer\Block\Account\Customer');
$cust_log = $blockObj->customerLoggedIn();
$urlInterface = \Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Framework\UrlInterface');
$current_url = $urlInterface->getCurrentUrl();
?>
<input type="hidden" id="retail_url" value="<?php echo $this->getUrl('subscribe/retail/position') ?>">
<input type="hidden" id="guest_delete_url" value="<?php echo $this->getUrl('subscribe/guest/delete') ?>">
<input type="hidden" id="base_url" value="<?php echo $base_url; ?>">
<input type="hidden" id="cust_flag" value="<?php echo $cust_log; ?>">
<input type="hidden" id="curr_url" value="<?php echo $current_url; ?>">
<input type="hidden" id="pin_url" value="<?php echo $this->getUrl('ordermedicine/medicine/localitypincodes'); ?>">
<input type="hidden" id="pharma_url" value="<?php echo $this->getUrl('ordermedicine/medicine/check') ?>">
<input type="hidden" id="guest_pharma_url" value="<?php echo $this->getUrl('ordermedicine/medicine/guest') ?>">
<input type="hidden" id="guest_save_url" value="<?php echo $this->getUrl('ordermedicine/medicine/saveguest') ?>">
<input type="hidden" id="out_of_stock_url" value="<?php echo $this->getUrl('outofstocknotify/index/index') ?>">