<?php
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $storeManager = $objectManager->create('Magento\Store\Model\StoreManagerInterface');
    $storeUrl = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);
    $customerSession = $objectManager->get('Magento\Customer\Model\Session');
    
    $checkoutSession = $objectManager->get('Magento\Checkout\Model\Session');

    //print_r($checkoutSession->getData());
    //exit;
    $selectedPrescriptions = $checkoutSession->getSelectedPrescriptions();
    $selectedPincode = $checkoutSession->getSelectedPincode();
    if(empty($selectedPrescriptions)){$selectedPrescriptions = array();}
    $hdselectedPrescriptions = array();
    $spselectedPrescriptions = array();

    $deliveryMethod = $checkoutSession->getDeliveryMethod();
    if($deliveryMethod != ""){
        if($deliveryMethod == "store_pickup"){
            $spselectedPrescriptions = $selectedPrescriptions;
        }else{
            $hdselectedPrescriptions = $selectedPrescriptions;
        }
    }
    $customerLoggedIn = ($customerSession->isLoggedIn()) ? 1 : 0;
   // echo $customerSession->getCustomerId();
    //exit;

     $customerID = $customerSession->getCustomerId(); 

   // $objectManager = \Magento\Framework\App\ObjectManager::getInstance(); 
    $customerObj = $objectManager->create('Magento\Customer\Model\Customer')->load($customerID); 
    $customerEmail = $customerObj->getEmail();

   // echo $customerEmail;

   // exit;
    ?>
    
    <?php
    if($customerLoggedIn == 1){
        //$email = "rama.nallagatla@quadone.com";
        $prescriptionsList = $objectManager->create('Apollo\Medicine\Helper\Data')->getPrescriptions($customerEmail);
    }

$pincodesession = $checkoutSession->getPincodesession();

if($pincodesession!="")
{
    $selectedPincode = $pincodesession;
    $pcasession = $_SESSION["pcasession_val"];
}
//$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); 
$cart1 = $objectManager->get('\Magento\Checkout\Model\Cart'); // retrieve quote items collection
//echo "<pre>";print_R($cart1->getQuote()->getId());echo "</pre>";
$itemsCollection = $cart1->getQuote()->getItemsCollection(); // get array of all items what can be display directly
$itemsVisible = $cart1->getQuote()->getAllVisibleItems(); // retrieve quote items array 
$items = $cart1->getQuote()->getAllItems(); 

//echo "dfgdsfgdgfdf";
$cart_products=$itemsCollection->getData();
//exit;
$pharma_count=0;
foreach ($cart_products as $product) {

    //$orderTypes=getOrderTypes($product['product_id'],$objectManager);
    $productType = $objectManager->create('Apollo\AssignOrders\Observer\Updateorderinfo')->getOrderTypes($product['product_id'],$objectManager);
    //echo $product['name']."--".$productType."--";
    $orderTypes[] = $productType;
   // echo $orderTypes;
    if($productType=="Pharma")
        $pharma_count++;
    # code...
}
$orderTypes = array_unique($orderTypes);
if(count($orderTypes) > 1){
    $orderType = "Both";
}else if(isset($orderTypes[0])){
    $orderType = $orderTypes[0];
}else{
    $orderType = "Pharma";
}
$checkoutSession->setItemsTypeInQuote($orderType);
//echo "Order type ".$orderType;

//echo $pharma_count;
//exit;
//$this->cart->getQuote()->getItemsCollection();



function getOrderTypes($productId,$obj){
   // echo $productId;
   // exit;
    $productData = $obj->create('Magento\Catalog\Model\Product')->load($productId);
    $categoryFactory = $obj->create('Magento\Catalog\Model\CategoryFactory');
    $category_id_ary = $productData->getCategoryIds();
    $category_names_array = array();
    
    if(count($category_id_ary)){
        foreach($category_id_ary as $category_id){
            $_category = $categoryFactory->create()->load($category_id);
            $category_names_array[] = $_category->getName();
        }
    }
    //print_r($category_names_array);
   // exit;
    $pharma = false;
    $fmcg = false;
    $order_type = "";
    $category_names = array_unique($category_names_array);

    if(in_array("PHARMA",$category_names))    {
        $pharma = true; $order_type = "Pharma";
    }
    if(in_array("FMCG",$category_names)) {
        $fmcg = true; $order_type = "Fmcg";
    }

    if($pharma == true && $fmcg == true){
        $order_type = "Both";
    }
    return (!empty($order_type) ? $order_type : "Fmcg");
}


?>
<!--style="background: none !important;"-->
<div class="store_pickup_home_delivery" style="background: #FFF;padding:0px; display: none;">
    <input type="hidden" value="<?php echo $storeUrl; ?>" id="application_url">
    <input type="hidden" value="<?php echo $customerLoggedIn; ?>" id="customer_logged_in_status">
    <!--<h3>Choose Delivery option</h3>
    <span class="allowed_extensions">Please choose delivery method, fill mandatory fields and click on submit</span>-->
    <div class="checkboxes">
        <?php if($orderType != "Fmcg"){ ?>
       <!-- <div class="checkbox">
            <input <?php //if($orderType == "Fmcg") echo 'disabled="disabled"'; ?> <?php echo ($deliveryMethod == "store_pickup") ? 'checked' : ''; ?> type="radio" value="store_pickup" id="store_pickup" name="delivery_option" class="delivery_option"/><span>Store Pickup</span>
        </div>-->
        <?php }else{
            if($deliveryMethod == ""){
                if($customerLoggedIn == 1) {
                    $deliveryMethod = "home_delivery_default";
                }else{
                    $deliveryMethod = "";
                }
            }else if($deliveryMethod == "store_pickup"){$deliveryMethod = "home_delivery_default";}
        } ?>
        <!--<div class="checkbox">
            <input <?php echo ($deliveryMethod == "home_delivery" || $deliveryMethod == "home_delivery_default") ? 'checked' : ''; ?> type="radio" value="home_delivery" id="home_delivery" name="delivery_option" class="delivery_option"/><span>Home Delivery</span>
        </div>-->
    </div>
    <div class="store_pickup_div delivery_type <?php echo $deliveryMethod; ?>" style="display: <?php echo ($deliveryMethod == "store_pickup") ? 'block' : 'none'; ?>">
        <form name="cart_store_pickup_form" id="cart_store_pickup_form" action="<?php echo $storeUrl."ordermedicine/medicine/uploadprescriptions" ?>" method="post" id="cart_store_pickup_form"  data-hasrequired="<?php echo __('* Required Fields') ?>" data-mage-init='{"validation":{}}' enctype="multipart/form-data">
            <input type="hidden" value="store_pickup" name="delivery_method">
            <input type="hidden" value="<?php echo $orderType; ?>" name="cart_products_type">
            <input id="store_pickup_pincode" data-validate="{required:true,minlength:6,digits:true}"  type="text" name="store_pickup_pincode" placeholder="Enter Pincode" id="store_pickup_pincode" value="<?php echo $selectedPincode; ?>" maxlength="6"/>
            <?php //if($deliveryMethod != "store_pickup"){ ?>
                <input class="btn check_store_availability" type="button" value="Get Stores"/>
            <?php //} ?>
            <div class="store_locations_result" style="margin-bottom: 10px">
                <?php
                if(!empty($selectedPincode)){
                    $selectedStore = $checkoutSession->getSelectedStore();

                    //print "selectedStore : ". $selectedStore."<br>";
                    //print "pcasession_val : ".$_SESSION["pcasession_val"]."<br>";
                    //exit;


                    $result = $objectManager->create('Apollo\Medicine\Helper\Data')->getStoreLocations($selectedPincode);
                    $htmlREsponse = '<p></p><div class="previous_prescriptions"> <ul>';
                    $i = 0;
                    if(sizeof($result) > 0){
                        foreach ($result as $storeinfo){

                            if(empty($selectedStore) && !empty($pcasession) )
                            {
                                $checkedstate = ($pcasession == $storeinfo['baddress']) ? "checked='checked'" : "";
                            }
                            else
                            {
                                $checkedstate = ($selectedStore == $storeinfo['slno']) ? "checked='checked'" : "";
                            }
                            if($checkedstate == "") {
                                $checkedstate = ($i == 0) ? "checked='checked'" : "";
                            }


                            $htmlREsponse .= '<li><input '.$checkedstate.' type="radio" name="store_selection" id="store_'.$storeinfo['slno'].'" value="'.$storeinfo['slno'].'" class="store_selection"> '.$storeinfo['baddress'].'</li>';
                            $i++;
                        }
                    }else{
                        $htmlREsponse .= '<li>Stores are not available for this location</li>';
                    }
                    $htmlREsponse .= '</ul></div>';
                    if($i>0){
                        //$htmlREsponse .= '<p><a target="_blank" href="'.$storeUrl.'store-locator" class="more_stores_link">View On Store Locator</a></p>';
                    }
                    echo $htmlREsponse;
                }
                ?>
            </div>
            <?php //echo "delivery method ".$deliveryMethod; ?>
            <?php //if($deliveryMethod != "store_pickup"){ ?>
                <span class="p-title">Choose Prescription</span>
                <p class="prescription_add_store">
                        <input data-validate="{'validate-filesize':true}" type="file" name="upload_prescription" id="sp_upload_prescription"/>
                    </p>
               <!--  <?php if($pharma_count==0){?>
                    <p class="prescription_add_store">
                        <input data-validate="{'validate-filesize':true}" type="file" name="upload_prescription" id="sp_upload_prescription"/>
                    </p>
                <?php } else{?>
                    <p class="prescription_add_store">
                        <input data-validate="{'validate-filesize':true}" type="file" name="upload_prescription" id="sp_upload_prescription"/>
                    </p>

                <?php } ?> -->
                <span class="allowed_extensions">Jpeg, Jpg, Png, Doc,Docx and Pdf are allowed with maximum size 2MB</span>
                <p>
                    <button type="button" id="moreprescription_store">Add More Prescriptions</button>
                </p>
            <?php //} ?>
            <div class="previous_prescriptions">
                <h5>Choose from Previous prescriptions</h5>
                <?php $disabled =  "";//($deliveryMethod != "store_pickup") ? "" : 'disabled="disabled"'; ?>
                <ul class="my_guest_data">
                    <?php if(isset($prescriptionsList) && count($prescriptionsList) > 0){
                        foreach ($prescriptionsList as $prescription){
                            if(!empty($prescription['uploaded_file'])){
                                $checkedstate = in_array($prescription['id'],$spselectedPrescriptions) ? 'checked="checked"' : '';
                                ?>
                                <li>
                                    <input <?php echo $disabled; ?> <?php echo $checkedstate; ?> type="checkbox" name="previous_prescriptions[]" value="<?php echo $prescription['id'] ?>">
                                    <label> <?php echo $prescription['uploaded_file'] ?> </label>
                                </li>
                            <?php }
                        }
                    } ?>
                </ul>
            </div>
            <?php //if($deliveryMethod != "store_pickup"){ ?>
                <p></p>
                <!--<p><input class="btn2" type="submit" value="Submit"/></p>-->
            <?php //} ?>
        </form>
    </div>
    <div class="home_delivery_div delivery_type" style="display: <?php echo ($deliveryMethod == "home_delivery" || $deliveryMethod == "home_delivery_default") ? 'block' : 'block'; ?>">
       

        <form name="cart_home_delivery_form" id="cart_home_delivery_form" action="<?php echo $storeUrl."ordermedicine/medicine/uploadprescriptions" ?>" method="post" enctype="multipart/form-data" data-hasrequired="<?php echo __('* Required Fields') ?>" data-mage-init='{"validation":{}}' style="background:#FFF;">
            <input type="hidden" value="<?php echo $orderType; ?>" name="cart_products_type">
            <input type="hidden" value="home_delivery" name="delivery_method">
       <!--     <p>
                <input data-validate="{required:true,minlength:6,digits:true}" type="text" name="home_delivery_pincode" placeholder="Enter Pincode" id="home_delivery_pincode" value="123456" maxlength="6"/>
            </p>-->

           <div class="store_pickup_home_delivery1">
            <?php //if($deliveryMethod != "home_delivery"){ ?>
            <?php if($orderType != "Fmcg"){ ?>
                <span class="p-title">Choose Prescription</span>
                <p class="prescription_add">
                    <input data-validate="{'validate-filesize':true}" type="file" name="upload_prescription" id="hd_upload_prescription"/>
               <!--  <?php if($pharma_count==0){?>
                <p class="prescription_add">
                    <input data-validate="{'validate-filesize':true}" type="file" name="upload_prescription" id="hd_upload_prescription"/>
                </p>
                <?php } else{?>
                 <p class="prescription_add">
                    <input data-validate="{'validate-document':true,'validate-filesize':true}" type="file" name="upload_prescription" id="hd_upload_prescription"/>
                </p>

                <?php } ?> -->
                <span class="allowed_extensions" style="display:block !important;">Jpeg, Jpg, Png, Doc,Docx and Pdf are allowed with maximum size 2MB</span>
                <p>
                    <button type="button" id="moreprescription">Add More Prescriptions</button>
                </p>
            <?php //} ?>
                <div class="previous_prescriptions">
                <h5>Choose from Previous prescriptions</h5>
                    <?php $disabled =  "";//($deliveryMethod != "home_delivery") ? "" : 'disabled="disabled"'; ?>
                <ul class="my_guest_data">
                    <?php if(isset($prescriptionsList) && count($prescriptionsList) > 0){
                        foreach ($prescriptionsList as $prescription){
                            if(!empty($prescription['uploaded_file'])){
                                $checkedstate = in_array($prescription['id'],$hdselectedPrescriptions) ? 'checked="checked"' : '';
                            ?>
                            <li>
                                <input <?php echo $disabled; ?> <?php echo $checkedstate; ?> type="checkbox" name="previous_prescriptions[]" value="<?php echo $prescription['id'] ?>">
                                    <label> <?php echo $prescription['uploaded_file'] ?> </label>
                            </li>
                        <?php }
                        }
                    } ?>
                </ul>
                <input type="hidden" id="my_guest" name="my_guest" value="">
            </div>
         <p style="text-align:center;margin:10px 0px;" ><input class="btn2" type="submit" value="Upload Prescription" style="float: none;" /></p>
            <?php }//echo $deliveryMethod; ?>
            <?php //if($deliveryMethod != "home_delivery"){ ?>
                <p></p>
              <!-- <p><input class="btn2" type="submit" value="Submit"/></p>-->
            <?php  ?>
            </div>
        </form>
    </div>
</div>
