<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**  @var $block \Magento\Checkout\Block\Cart */

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();

$ses = $objectManager->get('Magento\Framework\Session\SessionManagerInterface');
$ses->start();
$ses->setMessage('cart');


$cart = $objectManager->get('\Magento\Checkout\Model\Cart'); 
 //print_r(get_class_methods(get_class($cart->getQuote()->getTotals())));
 $quote = $cart->getQuote();
 $totals = $quote->getTotals();
 
$itemsCount = $cart->getQuote()->getItemsCount();
$subTotal = $cart->getQuote()->getSubtotal();
$grandTotal = $cart->getQuote()->getGrandTotal();

$discountTotal = 0;
foreach ($cart->getQuote()->getAllItems() as $item){
    $discountTotal += $item->getDiscountAmount();
}

$checkoutSession = $objectManager->get('Magento\Checkout\Model\Session');
$store_id = $checkoutSession->getSelectedStore();

$uploadedPrescriptions = $checkoutSession->getSelectedPrescriptions();

//print_r($uploadedPrescriptions); 
$uploadedprescriptionblock = $objectManager->get('Apollo\Medicine\Block\Uploadedprescriptionsmobile');
//print_r($uploadedprescriptionblock->getPrescriptions()); die;

$selectedPrns = $uploadedprescriptionblock->getPrescriptions();


$itemsCollection = $cart->getQuote()->getItemsCollection();
$cart_products=$itemsCollection->getData();
$is_pharma = 0;
foreach ($cart_products as $product) {
  $productType = $objectManager->create('Apollo\AssignOrders\Observer\Updateorderinfo')->getOrderTypes($product['product_id'], $objectManager);
    if($productType=="Pharma"){
      $is_pharma = 1;
      break;
    }

}


/*$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
$connection = $resource->getConnection();
$themeTable = $resource->getTableName('ordermedicine_data');


if(count($uploadedPrescriptions)){

            echo $sql = "SELECT * FROM ".$themeTable." where id IN (".implode(",", $uploadedPrescriptions).")";
            $selectedPrns =    $connection->query($sql);
            //print_r(get_class_methods(get_class($selectedPrns)));
            print_r(get_class_methods(get_class($selectedPrns)));
           /*print_r($selectedPrns);*/ 
            
        //}

$address = $quote->getShippingAddress();
     $address->collectShippingRates();
//print_r($address->getData());
?>

<?php if(!count($uploadedPrescriptions) && $is_pharma){ ?>
<div class="block prescriptions apply-coupon-box padding_lr20 padding_top20" id="upload-prescriptions-cart" data-collapsible="true" role="tablist">

	
	    <div class="title white-box uploadYourPrescriptionLink" data-role="title" role="tab" aria-selected="false" aria-expanded="false" tabindex="0">
	      <img width="23" src="<?php echo $this->getViewFileUrl('images/new-images/upload_prescription.png'); ?>"> 
	        <strong id="block-discount-heading" role="heading" aria-level="2">Upload Prescription</strong>
	        <img width="21" class="pull-right" src="<?php echo $this->getViewFileUrl('images/right-arrow-new.png'); ?>">
    	</div>
    

   <!--  <div class="content" data-role="content" aria-labelledby="upload-prescriptions-heading" role="tabpanel" aria-hidden="true" style="display: none;">
        
    </div> -->

    
</div>
<?php } ?>
<div class="custom-modal upload-ps-modal" id="uploadYourPrescription" style="display: none;">
      <div class="modal-dialog-centered" role="document">
        <div class="content">
          <div class="body">
           
            <div class="choose-option">
                <ul>
                    <li>
                        <a href="#">
                            <div class="white-box upload-with-camera">
                                <img src="<?php echo $this->getViewFileUrl('images/upload-icon1.png'); ?>" />
                                <div class="option-title">Click and Upload <br/>Picture</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="white-box upload-from-gallery">
                                <img src="<?php echo $this->getViewFileUrl('images/upload-icon2.png'); ?>" />
                                <div class="option-title">Choose Picture <br/>from Gallery</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="white-box choose-from-uploaded">
                                <img src="<?php echo $this->getViewFileUrl('images/upload-icon3.png'); ?>" />
                                <div class="option-title">Choose from <br/>already uploaded</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <form  id="form1" enctype="multipart/form-data" method="post" >
                
            <div style="display: none;">
            <input type="hidden" id="upload_url" value="<?php echo $this->getUrl('ordermedicine/medicine/uploadprescriptionsmobile') ?>">
            <input type="hidden" id="next_url" value="<?php echo $this->getUrl('checkout/cart') ?>">
            <input type="hidden" id="login_url" value="<?php echo $this->getUrl('sociallogin/mobile/login') ?>"> 
            <input type="hidden" id="choose_prescriptions_url" value="<?php echo $this->getUrl('ordermedicine/medicine/myprescriptions') ?>">
         
              <label for="fileToUpload">Take or select photo(s)</label><br />
         
              <input type="file" name="fileToUpload" id="fileToUpload" accept="image/*" capture="camera" />
              <input type="file" name="fileToUpload1" id="fileToUpload1" accept="image/*"  />
         
            </div>
         
            <div id="details"></div>
         
            <div>
         
         
            </div>
         
            <div id="progress"></div>
         
          </form>

          </div>
        </div>
      </div>
    </div>
<!-- Add new html here -->
<?php if(count($uploadedPrescriptions)){ ?>
<div class="block prescriptions apply-coupon-box prescriptions-uploaded-box padding_lr20 padding_top20">
    <div class="main-heading prescriptions-uploaded-heading">
      <a href="javascript:void(0)" class="uploadYourPrescriptionLink pull-right"><img src="<?php echo $this->getViewFileUrl('images/add_icon.png'); ?>"/> Add New</a>
    </div>
    <div class="title white-box jq_prescriptions_uploaded" data-role="title" role="tab" aria-selected="false" aria-expanded="false" tabindex="0">
      <img width="28" src="<?php echo $this->getViewFileUrl('images/new-images/upload_prescription.png'); ?>"> 
        <strong id="block-discount-heading" role="heading" aria-level="2">Prescription Uploaded</strong>
        <img width="12" class="pull-right" src="<?php echo $this->getViewFileUrl('images/blue-arrow.png'); ?>">
    </div>
    <div class="prescriptions-uploaded-list jq_prescriptions_uploaded_list" style="display: none;">
      <ul>
      <?php 
      if($selectedPrns && $selectedPrns->rowCount()){
              
                while ($row = $selectedPrns->fetch()) { ?>
        <li>
          <div class="psu-left">
            <img src="<?php echo $uploadedprescriptionblock->getMediaUrl(); ?><?php echo "medicine_prescription/".$row["uploaded_file"]; ?>" /> 
          </div>
          <div class="psu-mid">
            <?php echo $row["id"]; ?>
          </div>
          <div class="psu-right">
            <a href="<?php echo $this->getUrl("ordermedicine/medicine/deleteprescription"); ?>?id=<?php echo $row["id"]; ?>"><img width="12" src="<?php echo $this->getViewFileUrl('images/new-images/delete.png'); ?>" /></a> 
          </div>
        </li>
        <?php }
        } ?>
      </ul>
    </div>
</div>
<?php } ?>





<div class="price-count padding_lr20">
    <div class="main-heading font-14"><?php echo $itemsCount; ?> Items</div>
    <div class="white-box">
        <table cellspacing="0" cellpadding="0" border="0" width="100%" class="item-total-table">
            <tr>
                <td>Subtotal</td>
                <td><img src="<?php echo $this->getViewFileUrl('images/gray-rupee-icon2.png'); ?>" /><span id="subtotal-span"><?php echo number_format((float)$subTotal, 2, '.', ''); ?></span></td>
            </tr>
            <tr>
                <td>Discount</td>
                <td>- <img src="<?php echo $this->getViewFileUrl('images/green-rupee-icon.png'); ?>" /><span id="discount-span"><?php echo number_format((float)$discountTotal, 2, '.', '');  ?></span></td>
            </tr>
            <tr>
                <td>Delivery Charges</td>
                <td>+ <img src="<?php echo $this->getViewFileUrl('images/gray-rupee-icon2.png'); ?>" /><span id="delivery-span"><?php if(isset($totals["shipping"]) && $totals["shipping"] && $totals["shipping"]["value"]) echo $totals["shipping"]["value"]; else echo '0'; ?></span></td>
            </tr>
        </table>
    </div>
</div>
<div class="rows">
    <div class="col-12">
        <span id="selectStoreError" class="alert alert-danger fix-alert-danger" style="display: none;" >Please select/add your Delivery Store. </span>
        <span id="selectAddressError" class="alert alert-danger fix-alert-danger" style="display: none;">Please select/add your Delivery Address. </span>
    </div>
</div>
<div class="delivery-option-sec cart-delivery-option padding_lr20">
    <div class="main-heading font-14">
        Select Delivery Option 
    </div>
    <div class="white-box delivery-option-box">
        <div class="row">
            <div class="col-6">
                    <div class="radio custom-radio radio-inline">
                        <input type="radio" name="selectDeliveryOption" id="homeDeliveryOption" value="homeDelivery" class="px" <?php if(!$store_id){ echo 'checked="checked"'; } ?> >
                        <label><?php /* @escapeNotVerified */ echo __('Home Delivery'); ?></label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="radio custom-radio radio-inline">
                        <input type="hidden" name="selectShippingUrl" id="selectShippingUrl" value="<?php echo $this->getUrl('ordermedicine/medicine/selectmethod') ?>" />
                        <input type="radio" name="selectDeliveryOption"  value="storeDelivery" id="storeDeliveryOption" <?php if($store_id){ echo 'checked="checked"'; } ?> class="px">
                        <label><?php /* @escapeNotVerified */ echo __('Store Pickup'); ?></label>
                    </div>
                </div>
        </div>
    </div>
</div>

<div class="upload-ps-summry-sec store-selected padding_lr20" style="display: none;">
    <div class="main-heading no-padding margin_bottom10"><?php /* @escapeNotVerified */ echo __('Store Address'); ?> </div>
    <div class="white-box pickup-confirmation-box">
        <div class="row">
            
            <?php 
                if($store_id){
                $resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
                $connection = $resource->getConnection();
                $tableName = $resource->getTableName('plocations');
                //Select Data from table
                $sql = "Select * FROM  $tableName where storeid = $store_id";
                $storeData = $connection->fetchAll($sql);
                foreach ($storeData as $value) {
                
            ?>
            <div class="col-8">
                <div class="request-title">Store Address</div>
                <input type="hidden" name="store_available" id="store_available" value="1">
                <div class="request-dtl"><?php echo $value['baddress'].', '.$value['storename'].'<br/>'.$value['phno'].'<br/>'.$value['pincode'];?></div>
                <div class="rows">
                    <a class="edit edit-icss store-edit" href="<?php echo $this->getUrl('ordermedicine/medicine/storepickupmobile') ?>">Change</a>
                </div>
            </div>
            <div class="col-4">
                <div class="pull-right padding_r15">
                    <div class="request-title">Store ID</div>
                    <div class="request-dtl"><?php echo $value['storeid'];?></div>
                </div>
            </div>
            <?php } } else { ?>
                <div class="rows padding_lr20 margin_top7">
                    <div class="text-center">No store address available.</div>
                </div>
            <?php } ?>
        </div>
    </div>
</div>

<?php 
echo $this->getLayout()
->createBlock('Apollo\Medicine\Block\Specifydetails')
->setTemplate('Apollo_Medicine::customeraddress.phtml')
->toHtml();
?>
 
<script>
    (function  () {
        require(['jquery', 'magestore/flexslider'], function($) {

             $(document).ready(function($) {
                 $('.jq_customer_address').flexslider({
                    animation: 'slide',
                    animationLoop: true,
                    itemWidth: 250,
                    slideshow: false,
                    controlNav: false,
                    itemMargin: 10,
                    minItems: 1,
                    directionNav:false,
                });

                /**/
                
                $(".jq_prescriptions_uploaded").click(function(){
                  $(this).toggleClass("active");
                  $(".jq_prescriptions_uploaded_list").slideToggle("slow");
                });
            });

            $("#storeDeliveryOption").on("click", function(){
                <?php if(!$store_id){ ?>
                    window.location = '<?php echo $this->getUrl('ordermedicine/medicine/storepickupmobile') ?>';
                <?php } ?> 
               $(".home-selected").hide();
               $(".store-selected").show();
               $('.flexslider').resize();
               $('.flexslider').trigger('click');
            });

            $("#homeDeliveryOption").on("click", function(){
                $(".store-selected").hide();
                $(".home-selected").show();
                $('.flexslider').resize();
                $('.flexslider').trigger('click');
            });

           <?php if($store_id){ ?>
                $(".home-selected").hide();
                $(".store-selected").show();
                $('.flexslider').resize();
                $('.flexslider').trigger('click');
            <?php } ?>
        });
    })();
</script>
<div class="loading" style="display: none;">Loading&#8230;</div>
<style type="text/css">/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}</style>

<script type="text/x-magento-init">
    {"*": {"Magento_Checkout/js/model/quote": {}}}
</script>
<script type="text/x-magento-init">
    {"*": {"Apollo_Medicine/js/cart-mobile": {}}}
</script>