.custom-discount {

    position: absolute !important;

    top: 6px;

    z-index: 4;

    left:3px;

    border-radius: 200px;

  width: 25px;

  height: 25px;

  text-align:center;

  font-size:12px;

  padding-top:2px;

  background: #41a9b5;

  color: white;



}

.custom-discount-amount{

        position: absolute !important;

    top: 12px;

     right:10px;

    z-index: 4;

    padding-left: 5px;

    /* width: 30px; */

    /* height: 20px; */

    border-radius: 34%;

    font-size: 14px;

    color: #41a9b5;

    line-height: 5px;

    text-align: center;

    /* background: #343292; */

    font-weight: 600;

}



.product-reviews-summary{

    display: none !important;

}



.product-item .price-box .price {

    font-weight: 500;

    white-space: nowrap;

    text-decoration: line-through;

    }



    .custom-total{

        font-weight:700;

    }



@media (min-width: 640px){

.products-grid .product-item {

    margin-bottom: 90px;

}

}



.product-item .price-box {

     margin: 0px 0 0px; 

}





@media (min-width: 640px){

.products-grid .product-item {

    width: 24.333333%;

}

}



@media (min-width: 1024px), print{

.page-products .products-grid .product-item {

    margin-left: calc((100% - 4 * 20.439%) / 3);

    width: 20.439%;

}

}



.product-item-info {

    max-width: 100%;

    float: left;

    position: relative;

    /* width: 240px; */

}

/* Popup container - can be anything you want */

.popup {

    position: relative;

    display: inline-block;

    cursor: pointer;

    -webkit-user-select: none;

    -moz-user-select: none;

    -ms-user-select: none;

    user-select: none;

}



/* The actual popup */

.popup .popuptext {
border: 1px solid #000;
border-radius: 0;
box-shadow: 0px 1px 0px 3px #888888;
visibility: hidden;
width: 350px;
background-color: #ffff;
color: black;
text-align: center;
border-radius: 6px;
/* padding: 9px 0; */
position: absolute;
z-index: 1;
bottom: 90%;
left: -21%;
margin-left: -80px;
}



/* Popup arrow */

.popup .popuptext::after {

    content: "";

    position: absolute;

    top: 100%;

    left: 50%;

    margin-left: -5px;

    border-width: 5px;

    border-style: solid;

    border-color: #555 transparent transparent transparent;

}



/* Toggle this class - hide and show the popup */

.popup .show {

    visibility: visible;

    -webkit-animation: fadeIn 1s;

    animation: fadeIn 1s;

}



/* Add animation (fade in the popup) */

@-webkit-keyframes fadeIn {

    from {opacity: 0;} 

    to {opacity: 1;}

}



@keyframes fadeIn {

    from {opacity: 0;}

    to {opacity:1 ;}

}



/*.price{font-size:14px;font-weight:500;text-decoration:line-through;}
*/
.custom-total{font-weight:600;}



@media (min-width: 768px){

.product-info-price .price-box .price-container .price {

    font-size: 15px;

    line-height: 36px;

    text-decoration:line-through;

    font-weight:500;

}

}

