.pac-container:before {
    background-image: url("../../../../maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white2.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 104px 16px;
    content: "";
    display: block;
    height: 16px;
    padding: 1px 1px 1px 0;
    text-align: right;
}
.pac-container:before {
    background-image: url("../../../../maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white2.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 104px 16px;
    content: "";
    display: block;
    height: 16px;
    padding: 1px 1px 1px 0;
    text-align: right;
}

.pac-container {
    	width: 400px !important;
}
.pac-item {
	background-color: #FFFFFF;
	border: medium none;
	color: #666666;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 14px;
	outline: medium none;
	padding: 8px 5px;
	width: 400px !important;
}

.GMapCanvas {
	height: 633px;
	width: 643px;
	position: absolute;
	z-index: 14;
}


.infoBox{background-color: #666666;
	position: absolute;
	top: 150px;
	right: 250px;
	margin-top:-55px;
	z-index: 500;
}

.Infowindow {
	background-color: #666666;
	position: absolute;
	top: 150px;
	right: 250px;
	width: 250px;
	padding-bottom:10px;
	height: 500px;
	z-index: 500;
}
.SizeDiv{width: 250px; 
	height: 300px;}
.content {
	margin: 5px 15px 0px 15px;
	padding-top: 25px;
}

.content h3 {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
	padding-bottom: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 18px;
	color: #FFF;
	font-weight: normal;
}
.content h4 {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 15px;
	color: #FFF;
	font-weight: normal;
	border-bottom: 1px solid #b3b3b3;
	padding-bottom: 3px; 	
    padding-top: 3px; 
}

.content .OrangeButton {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFF;
	text-align: center;
	padding: 9px;
	background-color: #f5821f;
	text-decoration: none;
	display: block;
	float: left;
	margin-top: 9px;
	margin-bottom:10px;
}



.ServicesContainer {
	padding-top: 8px;
	border-bottom: 1px solid #b3b3b3;
	padding-bottom: 4px;
}
.ArrowUP {
	background: url(../Images/DisplayImage_DropdownArrowUpWhite.png) no-repeat center right !important;
	color: #ff0000;
}
.ServicesContainer .Service {
	cursor:pointer;
	width: 100%;
	margin-top: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #FFF;
	text-decoration: none;
	display: inline-block;
	/*background: url(../Images/DisplayImage_DropdownArrowWhite.png) no-repeat center right;*/
}

.ServiceList {
	height: 85px;
	overflow: auto;
}
.ServiceList .ListItem {
	margin-top: 2px;
	margin-bottom: 2px;
}

.ServiceList .ListItem img {
}
.ServiceList .ListItem span {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFF;
	margin-left: 5px;
	margin-top: 3px;
}

.Pageloader{
   	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	/*background: url('LEPTON/Images/loading.gif') 50% 50% no-repeat rgb(249,249,249);*/ 
}
    .Pageloader img {margin-top: 30%; margin-left: 50%; z-index:45;
    }
/* custom message */
/*div.AlertMsg { width: 222px; height: 60px; font: 12px Arial, Helvetica, sans-serif; color: #FFFFFF; }*/
/*Added by Lepton | Gaurav */
/*.AlertMsg, #AlertMsg { padding: 20px 40px 40px 40px; width: 576px; display: none; background: url(../Images/white.png) no-repeat; }
.AlertClose { background: url(../Images/close.png) no-repeat; position: absolute; top: -4px; right: -2px; width: 35px; height: 35px; cursor: pointer; }*/

#rt{background: url(Images/Cpin.html) no-repeat;}

/*---progress style-----*/
  #Background
{
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    background-color:Gray;
    filter:alpha(opacity=60);
    opacity:0.6;
    z-index:40;
}
#Progress
{
    position:fixed;
    top:45%;
    left:45%;
    padding:5px 20px;
    height:24px;
    text-align:center;
    background-color:White;
    vertical-align:middle;
    border:solid 1px #1a3871;
    font-size:14px;
    font-family: Arial, Helvetica, sans-serif;
	
}
.PoweredInfo{ 
              background-color: rgba(255, 255, 255, 0.5);
position: absolute;
bottom: 15px;
right:0px;
color: #4E4B4B;
z-index: 1;
font-family:Roboto,Arial,sans-serif;
font-size:10px;
font-weight:400; padding:0px 5px;}

.PoweredInfo a {
color: #4E4B4B;
font-family: Roboto,Arial,sans-serif;
font-size: 10px;
font-weight: 400; text-decoration:none;

}