<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**  @var $block \Magento\Checkout\Block\Cart */
?>
<?php $mergedCells = ($this->helper('Magento\Tax\Helper\Data')->displayCartBothPrices() ? 2 : 1); ?>

<?php echo $block->getChildHtml('form_before') ?>
<form action="<?php /* @escapeNotVerified */ echo $block->getUrl('checkout/cart/updatePost') ?>"
          method="post"
          id="form-validate"
          data-mage-init='{"validation":{}}'
          class="form form-cart">
    <?php echo $block->getBlockHtml('formkey'); ?>
    <div class="cart table-wrapper<?php echo $mergedCells == 2 ? ' detailed' : ''; ?>">
        <table id="shopping-cart-table"
               class="cart items data table"
               data-mage-init='{"shoppingCart":{"emptyCartButton": "action.clear",
               "updateCartActionContainer": "#update_cart_action_container"}}'>
            <caption role="heading" aria-level="2" class="table-caption"><?php /* @escapeNotVerified */ echo __('Shopping Cart Items') ?></caption>
            <thead>
                <tr>
                    <th class="col item" scope="col"><span><?php /* @escapeNotVerified */ echo __('Item') ?></span></th>
                    <th class="col price" scope="col"><span><?php /* @escapeNotVerified */ echo __('Price') ?></span></th>
                    <th class="col qty" scope="col"><span><?php /* @escapeNotVerified */ echo __('Qty') ?></span></th>
                    <th class="col subtotal" scope="col"><span><?php /* @escapeNotVerified */ echo __('Subtotal') ?></span></th>
                </tr>
            </thead>
            <?php foreach ($block->getItems() as $_item): ?>
                <?php echo $block->getItemHtml($_item) ?>
            <?php endforeach ?>
        </table>
    </div>
    <div class="cart main actions">
        <?php if ($block->getContinueShoppingUrl()): ?>
            <a class="action continue"
               href="<?php echo $block->escapeUrl($block->getContinueShoppingUrl()) ?>"
               title="<?php echo $block->escapeHtml(__('Continue Shopping')); ?>">
                <span><?php /* @escapeNotVerified */ echo __('Continue Shopping') ?></span>
            </a>
        <?php endif; ?>
        <button type="submit"
                name="update_cart_action"
                data-cart-empty=""
                value="empty_cart"
                title="<?php echo $block->escapeHtml(__('Clear Shopping Cart')); ?>"
                class="action clear" id="empty_cart_button">
            <span><?php /* @escapeNotVerified */ echo __('Clear Shopping Cart'); ?></span>
        </button>
        <button type="submit"
                name="update_cart_action"
                data-cart-item-update=""
                value="update_qty"
                title="<?php echo $block->escapeHtml(__('Update Shopping Cart')); ?>"
                class="action update">
            <span><?php /* @escapeNotVerified */ echo __('Update Shopping Cart'); ?></span>
        </button>
        <input type="hidden" value="" id="update_cart_action_container" data-cart-item-update=""/>
    </div>
</form>
<?php echo $block->getChildHtml('checkout.cart.order.actions') ?>
<?php echo $block->getChildHtml('shopping.cart.table.after'); ?>

<script>
require(['jquery'], function($) {
   
    var flag;
    var qty;
    var subtotal;
    var addtitional_elements;
    var redirect;

    /* Update cart button click */
    $('button.action.update').click(function(event) {

        console.log('Shopping Cart Updated clicked..');

        redirect = checkForHealingCard("update_cart");
        console.log("redirect => " + redirect);
        return redirect;
    });


    /* Proceed to checkout button click */
    $('button.action.primary.checkout').click(function(event) {
        //event.preventDefault();
        console.log('Proceed to chcekout clicked..');

        redirect = checkForHealingCard("proceed_checkout");
        console.log("redirect => " + redirect);
        return redirect;
    });
    

    /* checking for healing card products in cart and validate */
    function checkForHealingCard($method) 
    {
        // set flag
        flag = true;

        if (jQuery('tr.item-info.item_53923').length > 0) {

            console.log('healing products exists');

            jQuery('.healing-card-message').html('');

            jQuery('tr.item-info.item_53923').each(function() {

                /* fetch value of qty */            
                qty = jQuery(this).find('.healing-card-qty').val();

                subtotal = jQuery(this).find('.healing-subtotal').val();
                console.log("subtotal => " + subtotal);
                /* get the additional elements to deduce buynow of relode*/
                addtitional_elements = jQuery(this).find('.item-options').is(':visible');
              
                console.log('qty => ' + jQuery(this).find('.healing-card-qty').val());
                console.log('elements =>' + jQuery(this).find('.item-options').is(':visible'));

                /* check for button event */
                if ($method=="update_cart") {

                    /* check if addtitional elements are presents */
                    if (addtitional_elements) {

                        console.log('additional items visible');                    
                        /* relode product min 500 */
                        if (qty < 500) {
                            console.log('For reload healing card minimum quantity is 500.');
                            jQuery(this).find('.healing-card-message').html('* For reload healing card minimum quantity is 500.');
                            /* set flag*/
                            flag = false;                       
                        }
                    }
                    else 
                    {
                        console.log('additional items not visible');
                        /* buynow product min 1000 */
                        if (qty < 1000) {
                            console.log('For buynow healing card minimum quantity is 1000');
                            jQuery(this).find('.healing-card-message').html('* For buynow healing card minimum quantity is 1000');/* set flag*/
                            flag = false;                       
                        }
                    }

                }
                else if($method=="proceed_checkout") {

                    /* check if addtitional elements are presents */
                    if (addtitional_elements) {

                        console.log('additional items visible');                    
                        /* relode product min 500 */
                        if (qty < 500 || subtotal < 500) {
                            console.log('For reload healing card minimum quantity is 500.');
                            jQuery(this).find('.healing-card-message').html('* For reload healing card minimum quantity is 500.');
                            /* set flag*/
                            flag = false;                       
                        }
                    }
                    else 
                    {
                        console.log('additional items not visible');
                        /* buynow product min 1000 */
                        if (qty < 1000 || subtotal < 1000) {
                            console.log('For buynow healing card minimum quantity is 1000');
                            jQuery(this).find('.healing-card-message').html('* For buynow healing card minimum quantity is 1000');/* set flag*/
                            flag = false;                       
                        }
                    }

                }
                else { console.log("method is not defined in else condition. "); }


                /* max 45000 */
                if (qty > 45000) {
                    console.log('Healing card maximium quantity is 45000');
                    jQuery(this).find('.healing-card-message').html('* Healing card maximium quantity is 45000.');
                    /* set flag*/
                    flag = false;
                }


            });

        }

        return flag;

    }
    


});   
</script>


<!-- Quantity per discount code added here -->
<script>
require(['jquery'],function($){

    var qty, sku, product_id, closestElement,
    discount_applied_msg, subtotal, priceElement, 
    subtotalElement, productItemElement;
    
    $('tr.item-info').find('.input-text.qty').on('keyup', function(event){

        // clear the message
        $('.quantity-per-discount-message').html("");

        // if qty is 0 than do not send the request
        if($(this).val()=='' || $(this).val() <= 0){
            return false;
        }

        // if healing cards than return false
        // healing card sku => HEA0265
        // for buynow and reload
        if($(this).data('cart-item-id') == "HEA0265") {
            return false;
        }
        
        qty = $(this).val();
        sku = $(this).data('cart-item-id');
        closestElement = $(this).closest('tr');
        priceElement = closestElement.find('td.col.price').find('.price');
        subtotalElement = closestElement.find('td.col.subtotal').find('.price');
        productItemElement = closestElement.find('td.col.item');

        // console.log("qty ==> " + qty);
        // console.log("sku ==> " + sku);
        // console.log("price ==> " + priceElement.text());
        // console.log("subtotal ==> " + subtotalElement.text());

        $.ajax({
            showLoader: true,
            url: window.location.origin+'/subscribe/discount/calculate',
            data: {
                "product_id": '',
                "product_qty": qty,
                "product_sku": sku
            }
        }).done(function(data) {

            if(data.discounterPrice !== '') {

                discount_applied_msg = new String('You save '+data.appliedDiscount+' % on this product with '+data.qty+' quantity.');
                subtotal = (qty * data.discounterPrice);
                priceElement.html("₹"+data.discounterPrice);
                subtotalElement.html("₹"+subtotal);

                // show discount message
                productItemElement.find('.quantity-per-discount-message').html(discount_applied_msg);
            }
        });

    });

});
</script>