<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Checkout\Block\Cart\Sidebar */
?>

<?php 

$_objectManager = \Magento\Framework\App\ObjectManager::getInstance(); //instance of\Magento\Framework\App\ObjectManager
$storeManager = $_objectManager->get('Magento\Store\Model\StoreManagerInterface');
$sessionModel = $_objectManager->get('Magento\Customer\Model\Session');
$currentStore = $storeManager->getStore();

$mediaUrl = $currentStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
$baseUrl = $currentStore->getBaseUrl();

$sprite_image_storelocator = "<i class='aps aps-store_locator_2'></i>";
$sprite_image_user = "<i class='aps aps-m_account_icon_38x38'></i>";
?>
<ul>
<?php if($sessionModel->isLoggedIn()) : ?>
    <li class="authorization-link auth" data-label="or">
        <a class="m-top-nav-col m-map-icon social-login" 
           href="<?php echo $block->getUrl('customer/account/') ?>" 
           data-effect="mfp-move-from-top" 
           title="Account-Login">
           <!-- <img src="https://www.apollopharmacy.in/pub/media/logo/stores/1/m-account-icon.png" alt="user icon" width="35"> -->
           <?php echo $sprite_image_user; ?>
       </a> 
    </li>
<?php else : ?>
    <li class="authorization-link auth social-login" data-label="or">
        <a class="m-top-nav-col m-map-icon social-login m-login" 
           href="#social-login-popup" 
           data-effect="mfp-move-from-top" 
           title="Account-Login">
           <!-- <img src="https://www.apollopharmacy.in/pub/media/logo/stores/1/m-account-icon.png" alt="user icon" width="35"> -->
           <?php echo $sprite_image_user; ?>
        </a> 
    </li>
    <script>
        require(['jquery'], function ($) {
            $('.m-login').click(function(){
                $('.nav-sections .header .authorization-link > a').click();
            });
        });
    </script>
<?php endif; ?>
</ul>
<?php
$selected_storename = "Service Locator";
if(isset($_SESSION["selected_storename"]))
{
    $selected_storename = $_SESSION["selected_storename"];
}
?>
<ul class="service_locater_block">
    <li id="service_locator_id" class="service_locator_class storepin">
        <a href="#">
            <!-- <img src="<?php //echo $mediaUrl;echo 'custom/map-pin.png';?>"/> -->
            <?php echo  $sprite_image_storelocator; ?>
            <p><?php echo $selected_storename; ?><br/><span>Home Delivery Available</span></p>
        </a>
    </li>
</ul>
<div data-block="minicart" class="minicart-wrapper m-top-nav-col m-cart-icon">
    <a class="action showcart" href="<?php /* @escapeNotVerified */ echo $block->getShoppingCartUrl(); ?>" data-bind="scope: 'minicart_content'">
        <span class="text"><?php /* @escapeNotVerified */ echo __('My Cart'); ?></span>
        <span class="counter qty empty"
              data-bind="css: { empty: !!getCartParam('summary_count') == false }, blockLoader: isLoading">
            <span class="counter-number"><!-- ko text: getCartParam('summary_count') --><!-- /ko --></span>
            <span class="counter-label">
            <!-- ko if: getCartParam('summary_count') -->
                <!-- ko text: getCartParam('summary_count') --><!-- /ko -->
                <!-- ko i18n: 'items' --><!-- /ko -->
            <!-- /ko -->
            </span>
        </span>
    </a>
    <?php if ($block->getIsNeedToDisplaySideBar()): ?>
        <div class="block block-minicart empty"
             data-role="dropdownDialog"
             data-mage-init='{"dropdownDialog":{
                "appendTo":"[data-block=minicart]",
                "triggerTarget":".showcart",
                "timeout": "2000",
                "closeOnMouseLeave": false,
                "closeOnEscape": true,
                "triggerClass":"active",
                "parentClass":"active",
                "buttons":[]}}'>
            <div id="minicart-content-wrapper" data-bind="scope: 'minicart_content'">
                <!-- ko template: getTemplate() --><!-- /ko -->
            </div>
            <?php echo $block->getChildHtml('minicart.addons'); ?>
        </div>
    <?php endif ?>
    <script>
        window.checkout = <?php /* @escapeNotVerified */ echo \Zend_Json::encode($block->getConfig()); ?>;
    </script>
    <script type="text/x-magento-init">
    {
        "[data-block='minicart']": {
            "Magento_Ui/js/core/app": <?php /* @escapeNotVerified */ echo $block->getJsLayout();?>
        },
        "*": {
            "Magento_Ui/js/block-loader": "<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/loader-1.gif'); ?>"
        }
    }
    </script>
</div>